In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel (r'C:\Users\Nikhil\Desktop\BANGALORE DATA FILE.xlsx')

In [3]:
pd.set_option('display.max_columns', 30)

In [4]:
df.head(10)

,H.No,Date,Season,NoR,SRDN,Race No,Pl,Horse,Pedigree,Desc,Trainer,Jockey,Wt,Al,Dr,Sh,Won By,Dist Win,Rtg,Odds,Time,Cup,Classification,Distance,Unnamed: 24
0,1,181102,BW1819,6,1,1,7,INKY BLACK,Mull Of Kintyre(USA)-Isabellas Treasure(IRE),4y dk b m,K P G Appu,Arshad Alam,60.0,-,1.0,A,SHD,5.50,20,8,00:01:08.950000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
1,2,181102,BW1819,6,1,1,4,SHEER MAGIC,Burden Of Proof(IRE)-Ripple Of Pride(IRE),4y b m,Azhar Ali,Md Akram,59.5,-4,5.0,A,2.25,1.50,19,8,00:01:08.290000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
2,3,181102,BW1819,6,1,1,3,DESERT GILT,Sussex(GB)-Ippodamia,6y b g,F Sirajuddin,Antony Raj S,59.0,2,3.0,A,LNK,1.50,18,43505,00:01:08.220000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
3,4,181102,BW1819,6,1,1,5,PURITY,Lucifer Sam(USA)-Anna,4y dk b m,Arjun Mangalorkar,Mudassar Nazar,58.5,-,8.0,A,1.25,3.75,17,12,00:01:08.680000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
4,5,181102,BW1819,6,1,1,2,TUDOR PRINCE,Arazan(IRE)-Persa,5y b g,Aravind Ganapathy,A Imran Khan,58.5,-,2.0,A,SHD,1.50,17,43570,00:01:08.220000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
5,6,181102,BW1819,6,1,1,8,RACY PRINCESS,C P West(USA)-Arikana,4y b f,Dheeraj Venkataswamy,R N Darshan,57.0,-,9.0,A,43497,5.50,14,10,00:01:08.960000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
6,7,181102,BW1819,6,1,1,9,KANTHAKA,Win Legend(JPN)-Actuate,5y b g,V Narayana Gowda,M Rajesh Kumar,56.5,-,10.0,A,7.25,6.00,13,5,00:01:09.040000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
7,8,181102,BW1819,6,1,1,1,HUNTERS MOON,Lord Admiral(USA)-Second City(GB),4y ch g,Neil B Devaney,K Nazil,55.5,2,7.0,A,1.5,NaN,11,8,00:01:07.990000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
8,9,181102,BW1819,6,1,1,10,PREMIER PREMISES,Pinson(IRE)-Premier Perception,4y gr g,K P G Appu,Vivek,55.5,-,6.0,A,NaN,13.25,11,40,00:01:10.240000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
9,10,181102,BW1819,6,1,1,6,GREY HOUND,C P West(USA)-Secret Silver,5y gr rig,V Lokanath,R Rayan Ahmed,54.5,1,4.0,A,43497,5.00,9,15,00:01:08.870000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN

In [5]:
df['Horse']

0               INKY BLACK
1              SHEER MAGIC
2              DESERT GILT
3                   PURITY
4             TUDOR PRINCE
               ...
2184                CAMILA
2185               GRANADA
2186     GREAT CELEBRATION
2187    EXTREMELYDANGEROUS
2188       JE NE SAIS QUOI
Name: Horse, Length: 2189, dtype: object

In [6]:
df[['Horse', 'Desc']]

                    Horse       Desc
0             INKY BLACK   4y dk b m
1            SHEER MAGIC      4y b m
2            DESERT GILT      6y b g
3                 PURITY   4y dk b m
4           TUDOR PRINCE      5y b g
...                   ...        ...
2184              CAMILA      4y b f
2185             GRANADA      7y b g
2186   GREAT CELEBRATION      4y b g
2187  EXTREMELYDANGEROUS      7y b m
2188     JE NE SAIS QUOI      4y b g

[2189 rows x 2 columns]

In [7]:
df.columns

Index(['H.No', 'Date', 'Season', 'NoR', 'SRDN', 'Race No', 'Pl', 'Horse',
       'Pedigree', 'Desc', 'Trainer', 'Jockey', 'Wt', 'Al', 'Dr', 'Sh',
       'Won By', 'Dist Win', 'Rtg', 'Odds', 'Time', 'Cup', 'Classification',
       'Distance', 'Unnamed: 24'],
      dtype='object')

In [8]:
df['Jockey']

0          Arshad Alam
1             Md Akram
2         Antony Raj S
3       Mudassar Nazar
4         A Imran Khan
             ...
2184         P P Dhebe
2185          R Manish
2186           K Nazil
2187            P Mani
2188       Irvan Singh
Name: Jockey, Length: 2189, dtype: object

In [9]:
df['Jockey'].value_counts()

Arshad Alam     103
P Trevor        101
R N Darshan      98
T S Jodha        86
A Sandesh        74
               ...
B Nayak           2
R Ajay Kumar      2
S K Paswan        2
Shobhan Babu      1
M D Praveen       1
Name: Jockey, Length: 78, dtype: int64

In [10]:
df['Trainer']

0              K P G Appu
1               Azhar Ali
2            F Sirajuddin
3       Arjun Mangalorkar
4       Aravind Ganapathy
              ...
2184        Neil Darashah
2185         Mahmood Khan
2186            Azhar Ali
2187         Warren Singh
2188       Darius Byramji
Name: Trainer, Length: 2189, dtype: object

In [11]:
df['Cup'].value_counts()

The T.B.Hanumantharaj Memorial Trophy Div-1    23
The Mysore Race Club Trophy                    14
The Beloved Prince Plate                       14
The Mount Joy Plate Div-2                      14
The Mount Joy Plate Div-1                      14
                                               ..
The Ashoka Chakra Cup                           6
The Melkote Plate                               6
The Bangalore Juvenile Million (Gr.3)           5
The Stayers Trial Stakes                        4
The Chief Minister's Trophy                     4
Name: Cup, Length: 201, dtype: int64

In [12]:
filt = df['Cup']=='The Kunigal Stud Plate'

In [13]:
df.loc[filt]

,H.No,Date,Season,NoR,SRDN,Race No,Pl,Horse,Pedigree,Desc,Trainer,Jockey,Wt,Al,Dr,Sh,Won By,Dist Win,Rtg,Odds,Time,Cup,Classification,Distance,Unnamed: 24
742,1,181215,BW1819,6,10,5,11,NIKANDROS,Lord Admiral(USA)-Their Lil Sister,6y b g,Neil B Devaney,K Sai Kiran,60.0,NaN,11.0,A,13.75,18.75,65,40,00:01:15.830000,The Kunigal Stud Plate,"Class 2 / Horses Rated 45 to 65, 4 Years Old a...",1200M,NaN
743,2,181215,BW1819,6,10,5,8,MINT,Express Wish(GB)-Tikka Masala (IRE),4y b m,S Inayathulla,Antony Raj S,57.5,-1,4.0,A,1,7.50,60,20,00:01:14.020000,The Kunigal Stud Plate,"Class 2 / Horses Rated 45 to 65, 4 Years Old a...",1200M,NaN
744,3,181215,BW1819,6,10,5,W,TORSORO,Rebuttal(USA)-Brunetta,4y b g,G Sandhu,N Rajesh,57.0,NaN,12.0,A,NaN,NaN,59,NaN,NaN,The Kunigal Stud Plate,"Class 2 / Horses Rated 45 to 65, 4 Years Old a...",1200M,NaN
745,4,181215,BW1819,6,10,5,2,HAEDI'S FOLLY,Multidimensional(IRE)-Haedi(GB),4y b g,Darius Byramji,Y S Srinath,56.5,NaN,2.0,A,43558,1.25,58,43503,00:01:12.940000,The Kunigal Stud Plate,"Class 2 / Horses Rated 45 to 65, 4 Years Old a...",1200M,NaN
746,5,181215,BW1819,6,10,5,1,LOUISIANA,Phoenix Tower(USA)-Alcmene,4y dk b g,Faraz Arshad,P Trevor,56.0,NaN,1.0,A,1.25,NaN,57,43752,00:01:12.730000,The Kunigal Stud Plate,"Class 2 / Horses Rated 45 to 65, 4 Years Old a...",1200M,NaN
747,6,181215,BW1819,6,10,5,10,MINIVER ROSE,Western Aristocrat(USA)-Treasure Trove,4y dk b m,B Prithviraj,Md Akram,55.0,-4,14.0,A,9,9.75,55,20,00:01:14.370000,The Kunigal Stud Plate,"Class 2 / Horses Rated 45 to 65, 4 Years Old a...",1200M,NaN
748,7,181215,BW1819,6,10,5,5,TZAR,Tariq(GB)-Tiddly Widdly,5y b g,S Dominic,A Sandesh,55.0,NaN,6.0,A,43558,3.25,55,20,00:01:13.310000,The Kunigal Stud Plate,"Class 2 / Horses Rated 45 to 65, 4 Years Old a...",1200M,NaN
749,8,181215,BW1819,6,10,5,13,SHAN BEN AARI,Win Legend(JPN)-Integra,5y b m,V Narayana Gowda,M Rajesh Kumar,54.5,NaN,7.0,A,NaN,32.50,54,NaN,DNC,The Kunigal Stud Plate,"Class 2 / Horses Rated 45 to 65, 4 Years Old a...",1200M,NaN
750,9,181215,BW1819,6,10,5,3,AEISIR,Phoenix Tower(USA)-Leonessa(IRE),4y b g,K Pradeep Annaiah,Suraj Narredu,54.0,NaN,10.0,A,HEAD,2.00,53,43503,00:01:13.070000,The Kunigal Stud Plate,"Class 2 / Horses Rated 45 to 65, 4 Years Old a...",1200M,NaN
751,10,181215,BW1819,6,10,5,9,EXPORT QUALITY,Chevalier(IRE)-Zafayona,5y b m,Azhar Ali,Imran Chisty,53.0,NaN,8.0,A,1.25,8.50,51,20,00:01:14.180000,The Kunigal Stud Plate,"Class 2 / Horses Rated 45 to 65, 4 Years Old a...",1200M,NaN
752,11,181215,BW1819,6,10,5,12,SILVER CHIEFTAIN,Rebuttal(USA)-River Route,6y gr g,S Ganapathy,R N Darshan,53.0,NaN,13.0,A,NaN,32.50,51,40,00:01:18.070000,The Kunigal Stud Plate,"Class 2 / Horses Rated 45 to 65, 4 Years Old a...",1200M,NaN
753,12,181215,BW1819,6,10,5,6,ALBERETTA,Rebuttal(USA)-Tourmalet(GB),4y ch m,Irfan Ghatala,Shamaz Shareef,52.5,-4,9.0,A,2.25,4.00,50,20,00:01:13.440000,The Kunigal Stud Plate,"Class 2 / Horses Rated 45 to 65, 4 Years Old a...",1200M,NaN
754,13,181215,BW1819,6,10,5,7,MADAME SULTANA,Crown Jewels(GB)-Genesis,7y b m,Parvati Byramji,Nazerul Alam,52.0,-1,3.0,A,1.25,6.25,49,15,00:01:13.820000,The Kunigal Stud Plate,"Class 2 / Horses Rated 45 to 65, 4 Years Old a...",1200M,NaN
755,14,181215,BW1819,6,10,5,4,SIYOUNI,Stern Opinion(USA)-Scent(GB),5y gr m,S Narredu,Khurshad Alam,51.5,NaN,5.0,A,1.25,2.00,48,20,00:01:13.100000,The Kunigal Stud Plate,"Class 2 / Horses Rated 45 to 65, 4 Years Old a...",1200M,NaN

In [14]:
df['Trainer'].value_counts()

Sharat Kumar            127
Neil Darashah           108
B Prithviraj            100
K Pradeep Annaiah        96
Arjun Mangalorkar        95
S Narredu                86
S S Attaollahi           85
Mahmood Khan             84
S Inayathulla            80
S Dominic                75
Prasanna Kumar           73
Irfan Ghatala            71
M Rajendra Singh         67
V Narayana Gowda         65
Samar Singh              63
Azhar Ali                62
Darius Byramji           61
V Lokanath               54
Imtiaz Khan              53
S Ganapathy              53
Dheeraj Venkataswamy     48
Faraz Arshad             47
Neil B Devaney           45
S Padmanabhan            45
F Sirajuddin             43
K P G Appu               41
K Thomas                 39
G Nityanand              38
Praveen Jesu             36
R V Manohar              33
Hidayat Khan             32
Warren Singh             31
Rajesh Narredu           30
G Sandhu                 28
Parvati Byramji          25
Aravind Ganapathy        23
Sriram Komandur          20
M P Mahaesh              19
P Shroff                  5
Vishal Gaikwad            1
M Bobby                   1
M Narredu                 1
Name: Trainer, dtype: int64

In [15]:
f = df['Trainer']=='M P Mahaesh'

In [16]:
df.loc[f]

,H.No,Date,Season,NoR,SRDN,Race No,Pl,Horse,Pedigree,Desc,Trainer,Jockey,Wt,Al,Dr,Sh,Won By,Dist Win,Rtg,Odds,Time,Cup,Classification,Distance,Unnamed: 24
74,10,181103,BW1819,7,2,2,10,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,5y dk b m,M P Mahaesh,Nazerul Alam,55.5,-2,5.0,S,7.25,15.00,9,10,00:01:17.190000,The B.A.R.I Plate,Class 5 / Horses Rated 00 to 20,1200M,NaN
84,9,181103,BW1819,7,2,3,12,HONEY TRAP,Top Class(USA)-Daniella,3y b f,M P Mahaesh,Irvan Singh,56.0,NaN,1.0,A,NaN,18.75,22,60,00:01:27.880000,The Master Key Plate,Class 4 / Horses Rated 15 to 35,1400M,NaN
101,2,181103,BW1819,7,2,5,9,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,4y b h,M P Mahaesh,Irvan Singh,59.0,NaN,8.0,S,2.75,19.50,61,20,00:01:27.600000,The Air Force Trophy,Class 2 / Horses Rated 45 to 65,1400M,NaN
378,11,181130,BW1819,7,6,1,11,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,5y dk b m,M P Mahaesh,Irvan Singh,55.0,NaN,1.0,A,1,10.75,9,12,00:01:10.410000,The Hebbe Falls Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
465,9,181201,BW1819,8,7,2,9,HONEY TRAP,Top Class(USA)-Daniella,3y b f,M P Mahaesh,Nazerul Alam,56.0,-1,5.0,A,NOSE,19.25,22,60,00:01:28.400000,The Dharmasthala Plate Div-2,Class 4 / Horses Rated 15 to 35,1400M,NaN
605,1,181207,BW1819,8,8,7,6,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,4y b h,M P Mahaesh,T S Jodha,60.0,NaN,3.0,A,1,13.50,61,5,00:01:26.430000,The Pratap Stud Plate,Class 2 / Horses Rated 45 to 65,1400M,NaN
939,2,181229,BW1819,8,13,2,2,HONEY TRAP,Top Class(USA)-Daniella,3y b f,M P Mahaesh,P S Chouhan,60.0,NaN,3.0,A,2.75,4.00,20,20,00:01:42.420000,The Mudabidri Plate,Class 5 / Horses Rated 00 to 20,1600M,NaN
1172,12,190111,BW1819,8,15,7,8,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,6y dk b m,M P Mahaesh,G Adarsh,53.5,NaN,7.0,A,2,7.50,7,NaN,00:01:15.930000,The Shivaganga Falls Plate,"Class 5 / ?Horses Rated 00 to 20, 5 Years Old ...",1200M,NaN
1268,11,190125,BW1819,8,17,1,10,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,6y dk b m,M P Mahaesh,Nazerul Alam,53.0,-1,8.0,A,17.75,25.75,5,NaN,00:01:32.270000,The Ullal Beach Plate,Class 5 / Horses Rated 00 to 20,1400M,NaN
1292,12,190125,BW1819,8,17,3,W,VASUKI,Multidimensional(IRE)-Congratulations,6y b m,M P Mahaesh,G Adarsh,53.0,NaN,11.0,A,NaN,NaN,16,NaN,NaN,The Premium Spirit Plate Div-2,"Class 4 / Horses Rated 15 to 35, 5 Years Old a...",1200M,NaN
1545,8,190208,BW1819,6,20,5,3,HONEY TRAP,Top Class(USA)-Daniella,4y b f,M P Mahaesh,S Chetan Kalay,57.0,NaN,4.0,A,4.25,9.25,24,NaN,00:01:14.120000,The Davangere Plate,Class 4 / Horses Rated 15 to 35,1200M,NaN
1562,2,190209,BW1819,7,21,1,10,VASUKI,Multidimensional(IRE)-Congratulations,6y b m,M P Mahaesh,B Harish,59.5,NaN,7.0,A,28.75,21.00,16,NaN,00:01:11.010000,The Somanathapura Plate Div-2,Class 5 / Horses Rated 00 to 20,1100M,NaN
1772,4,190222,BW1819,9,23,7,5,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,5y b h,M P Mahaesh,P P Dhebe,58.0,NaN,5.0,A,43558,5.25,59,NaN,00:01:13.750000,The Galloping Acres Stud Plate,Class 2 / Horses Rated 45 to 65,1200M,NaN
1851,11,190308,BW1819,9,24,4,10,PRIME STAR,Ivory Touch(USA)-Circus Ring,4y b f,M P Mahaesh,Nazerul Alam,57.0,-1,10.0,A,20.5,14.00,20,NaN,00:01:15.370000,The Nethravathi Trophy Div-2,Class 4 / Horses Rated 15 to 35,1200M,NaN
1886,2,190308,BW1819,9,24,8,12,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,5y b h,M P Mahaesh,Arshad Alam,58.0,NaN,7.0,A,NaN,14.25,59,NaN,00:01:38.830000,The Bhagamandala Plate,Class 2 / Horses Rated 45 to 65,1600M,NaN
1918,10,190315,BW1819,9,25,1,W,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,6y dk b m,M P Mahaesh,Withdrawn,54.0,NaN,11.0,A,NaN,NaN,5,NaN,NaN,The Karwar Plate Div-2,Class 5 / Horses Rated 00 to 20,1100M,NaN
2025,7,190322,BW1819,9,26,2,11,VASUKI,Multidimensional(IRE)-Congratulations,6y b m,M P Mahaesh,P Mani,56.5,NaN,3.0,A,NaN,40.50,12,NaN,NaN,The Leading Tipster Trophy,Class 5 / Horses Rated 00 to 20,1600M,NaN
2071,2,190322,BW1819,9,26,7,4,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,5y b h,M P Mahaesh,P P Dhebe,58.5,NaN,7.0,A,43558,2.50,59,NaN,00:01:25.980000,The Leading Stud Trophy,Class 2 / Horses Rated 45 to 65,1400M,NaN
2098,5,190322,BW1819,9,26,9,3,HONEY TRAP,Top Class(USA)-Daniella,4y b f,M P Mahaesh,P S Chouhan,58.5,NaN,2.0,A,7.25,2.50,24,NaN,00:01:26.900000,The Champion Jockey Trophy Div-2,Class 4 / Horses Rated 15 to 35,1400M,NaN

In [17]:
df.dtypes

H.No                int64
Date                int64
Season             object
NoR                 int64
SRDN                int64
Race No             int64
Pl                 object
Horse              object
Pedigree           object
Desc               object
Trainer            object
Jockey             object
Wt                float64
Al                 object
Dr                float64
Sh                 object
Won By             object
Dist Win          float64
Rtg                object
Odds               object
Time               object
Cup                object
Classification     object
Distance           object
Unnamed: 24        object
dtype: object

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2189 entries, 0 to 2188
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   H.No            2189 non-null   int64
 1   Date            2189 non-null   int64
 2   Season          2189 non-null   object
 3   NoR             2189 non-null   int64
 4   SRDN            2189 non-null   int64
 5   Race No         2189 non-null   int64
 6   Pl              2189 non-null   object
 7   Horse           2189 non-null   object
 8   Pedigree        2189 non-null   object
 9   Desc            2189 non-null   object
 10  Trainer         2189 non-null   object
 11  Jockey          2189 non-null   object
 12  Wt              2189 non-null   float64
 13  Al              544 non-null    object
 14  Dr              2183 non-null   float64
 15  Sh              2183 non-null   object
 16  Won By          1892 non-null   object
 17  Dist Win        1861 non-null   float64
 18  Rtg             2027 non-null   object
 19  Odds            896 non-null    object
 20  Time            2111 non-null   object
 21  Cup             2189 non-null   object
 22  Classification  2189 non-null   object
 23  Distance        2189 non-null   object
 24  Unnamed: 24     2 non-null      object
dtypes: float64(3), int64(5), object(17)
memory usage: 427.7+ KB

In [19]:
df['Horse'].value_counts()

DESERT GOLD       9
GRECIAN LIGHT     9
BAZINGA           9
ODYSSEY           9
PRINCEAZEEM       9
                 ..
CRACK OF DAWN     1
KAMBAKU           1
CADILLAC SKY      1
PERFECT KING      1
ESTELLA           1
Name: Horse, Length: 689, dtype: int64

In [20]:
f = df['Horse']=='GRECIAN LIGHT '

In [21]:
df[f]

,H.No,Date,Season,NoR,SRDN,Race No,Pl,Horse,Pedigree,Desc,Trainer,Jockey,Wt,Al,Dr,Sh,Won By,Dist Win,Rtg,Odds,Time,Cup,Classification,Distance,Unnamed: 24
196,3,181109,BW1819,8,3,7,9,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),5y b g,Hidayat Khan,Shamaz Shareef,57.0,-4,7.0,A,NOSE,12.25,44,25,00:01:14.730000,The Chickballapur Plate,Class 3 / Horses Rated 30 to 50,1200M,NaN
494,10,181201,BW1819,8,7,4,5,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),5y b g,Hidayat Khan,Anjar Alam,56.0,NaN,3.0,A,1.25,7.00,42,30,00:01:13.890000,The S Rangarajan Memorial Trophy Div-1,Class 3 / Horses Rated 30 to 50,1200M,NaN
583,8,181207,BW1819,8,8,4,7,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),5y b g,Irfan Ghatala,Shamaz Shareef,56.0,-4,12.0,A,LNK,7.75,40,12,00:01:14.390000,The Madhugiri Plate,"Class 3 / Horses Rated 30 to 50, 4 years old a...",1200M,NaN
906,4,181228,BW1819,7,12,6,7,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),5y b g,Irfan Ghatala,Shamaz Shareef,59.0,-4,7.0,A,3.5,6.75,40,20,00:01:14.320000,The G Krishnappa Memorial Trophy Div-2,Class 3 / Horses Rated 30 to 50,1200M,NaN
1088,8,190105,BW1819,8,14,8,5,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),6y b g,Irfan Ghatala,Anjar Alam,56.0,NaN,11.0,A,Lnk,6.50,38,NaN,00:01:14.740000,The Dr.K.T.B.Menon Memorial Trophy Div-2,"Class 3 / Horses Rated 30 to 50, 5 years old a...",1200M,NaN
1253,8,190119,BW1819,7,16,7,10,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),6y b g,Irfan Ghatala,Shamaz Shareef,57.5,-4,8.0,A,NECK,13.75,36,NaN,00:01:14.950000,The Dr C Vittal Memorial Trophy Div-2,Class 3 / Horses Rated 30 to 50,1200M,NaN
1453,1,190201,BW1819,6,19,2,4,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),6y b g,Irfan Ghatala,Shamaz Shareef,60.0,-4,12.0,A,NOSE,6.00,34,NaN,00:01:14.810000,The Jog Falls Plate,"Class 4 / Horses Rated 15 to 35, 5 years old a...",1200M,NaN
1785,5,190222,BW1819,9,23,8,6,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),6y b g,Irfan Ghatala,Anjar Alam,59.0,NaN,7.0,A,2.25,6.50,33,NaN,00:01:15.540000,The Flashing Star Plate Div-1,"Class 4 / Horses Rated 15 to 35, 5 Years Old a...",1200M,NaN
2083,2,190322,BW1819,9,26,8,5,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),6y b g,Irfan Ghatala,Anjar Alam,60.0,NaN,2.0,A,1.75,8.25,33,NaN,00:01:14.840000,The Leading Bookmaker Trophy Div-1,"Class 4 / Horses Rated 15 to 35, 5 Years Old a...",1200M,NaN

In [22]:
f = (df['Trainer']=='M P Mahaesh') | (df['Horse']=='GRECIAN LIGHT ')

In [23]:
df.loc[f]

,H.No,Date,Season,NoR,SRDN,Race No,Pl,Horse,Pedigree,Desc,Trainer,Jockey,Wt,Al,Dr,Sh,Won By,Dist Win,Rtg,Odds,Time,Cup,Classification,Distance,Unnamed: 24
74,10,181103,BW1819,7,2,2,10,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,5y dk b m,M P Mahaesh,Nazerul Alam,55.5,-2,5.0,S,7.25,15.00,9,10,00:01:17.190000,The B.A.R.I Plate,Class 5 / Horses Rated 00 to 20,1200M,NaN
84,9,181103,BW1819,7,2,3,12,HONEY TRAP,Top Class(USA)-Daniella,3y b f,M P Mahaesh,Irvan Singh,56.0,NaN,1.0,A,NaN,18.75,22,60,00:01:27.880000,The Master Key Plate,Class 4 / Horses Rated 15 to 35,1400M,NaN
101,2,181103,BW1819,7,2,5,9,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,4y b h,M P Mahaesh,Irvan Singh,59.0,NaN,8.0,S,2.75,19.50,61,20,00:01:27.600000,The Air Force Trophy,Class 2 / Horses Rated 45 to 65,1400M,NaN
196,3,181109,BW1819,8,3,7,9,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),5y b g,Hidayat Khan,Shamaz Shareef,57.0,-4,7.0,A,NOSE,12.25,44,25,00:01:14.730000,The Chickballapur Plate,Class 3 / Horses Rated 30 to 50,1200M,NaN
378,11,181130,BW1819,7,6,1,11,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,5y dk b m,M P Mahaesh,Irvan Singh,55.0,NaN,1.0,A,1,10.75,9,12,00:01:10.410000,The Hebbe Falls Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
465,9,181201,BW1819,8,7,2,9,HONEY TRAP,Top Class(USA)-Daniella,3y b f,M P Mahaesh,Nazerul Alam,56.0,-1,5.0,A,NOSE,19.25,22,60,00:01:28.400000,The Dharmasthala Plate Div-2,Class 4 / Horses Rated 15 to 35,1400M,NaN
494,10,181201,BW1819,8,7,4,5,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),5y b g,Hidayat Khan,Anjar Alam,56.0,NaN,3.0,A,1.25,7.00,42,30,00:01:13.890000,The S Rangarajan Memorial Trophy Div-1,Class 3 / Horses Rated 30 to 50,1200M,NaN
583,8,181207,BW1819,8,8,4,7,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),5y b g,Irfan Ghatala,Shamaz Shareef,56.0,-4,12.0,A,LNK,7.75,40,12,00:01:14.390000,The Madhugiri Plate,"Class 3 / Horses Rated 30 to 50, 4 years old a...",1200M,NaN
605,1,181207,BW1819,8,8,7,6,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,4y b h,M P Mahaesh,T S Jodha,60.0,NaN,3.0,A,1,13.50,61,5,00:01:26.430000,The Pratap Stud Plate,Class 2 / Horses Rated 45 to 65,1400M,NaN
906,4,181228,BW1819,7,12,6,7,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),5y b g,Irfan Ghatala,Shamaz Shareef,59.0,-4,7.0,A,3.5,6.75,40,20,00:01:14.320000,The G Krishnappa Memorial Trophy Div-2,Class 3 / Horses Rated 30 to 50,1200M,NaN
939,2,181229,BW1819,8,13,2,2,HONEY TRAP,Top Class(USA)-Daniella,3y b f,M P Mahaesh,P S Chouhan,60.0,NaN,3.0,A,2.75,4.00,20,20,00:01:42.420000,The Mudabidri Plate,Class 5 / Horses Rated 00 to 20,1600M,NaN
1088,8,190105,BW1819,8,14,8,5,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),6y b g,Irfan Ghatala,Anjar Alam,56.0,NaN,11.0,A,Lnk,6.50,38,NaN,00:01:14.740000,The Dr.K.T.B.Menon Memorial Trophy Div-2,"Class 3 / Horses Rated 30 to 50, 5 years old a...",1200M,NaN
1172,12,190111,BW1819,8,15,7,8,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,6y dk b m,M P Mahaesh,G Adarsh,53.5,NaN,7.0,A,2,7.50,7,NaN,00:01:15.930000,The Shivaganga Falls Plate,"Class 5 / ?Horses Rated 00 to 20, 5 Years Old ...",1200M,NaN
1253,8,190119,BW1819,7,16,7,10,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),6y b g,Irfan Ghatala,Shamaz Shareef,57.5,-4,8.0,A,NECK,13.75,36,NaN,00:01:14.950000,The Dr C Vittal Memorial Trophy Div-2,Class 3 / Horses Rated 30 to 50,1200M,NaN
1268,11,190125,BW1819,8,17,1,10,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,6y dk b m,M P Mahaesh,Nazerul Alam,53.0,-1,8.0,A,17.75,25.75,5,NaN,00:01:32.270000,The Ullal Beach Plate,Class 5 / Horses Rated 00 to 20,1400M,NaN
1292,12,190125,BW1819,8,17,3,W,VASUKI,Multidimensional(IRE)-Congratulations,6y b m,M P Mahaesh,G Adarsh,53.0,NaN,11.0,A,NaN,NaN,16,NaN,NaN,The Premium Spirit Plate Div-2,"Class 4 / Horses Rated 15 to 35, 5 Years Old a...",1200M,NaN
1453,1,190201,BW1819,6,19,2,4,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),6y b g,Irfan Ghatala,Shamaz Shareef,60.0,-4,12.0,A,NOSE,6.00,34,NaN,00:01:14.810000,The Jog Falls Plate,"Class 4 / Horses Rated 15 to 35, 5 years old a...",1200M,NaN
1545,8,190208,BW1819,6,20,5,3,HONEY TRAP,Top Class(USA)-Daniella,4y b f,M P Mahaesh,S Chetan Kalay,57.0,NaN,4.0,A,4.25,9.25,24,NaN,00:01:14.120000,The Davangere Plate,Class 4 / Horses Rated 15 to 35,1200M,NaN
1562,2,190209,BW1819,7,21,1,10,VASUKI,Multidimensional(IRE)-Congratulations,6y b m,M P Mahaesh,B Harish,59.5,NaN,7.0,A,28.75,21.00,16,NaN,00:01:11.010000,The Somanathapura Plate Div-2,Class 5 / Horses Rated 00 to 20,1100M,NaN
1772,4,190222,BW1819,9,23,7,5,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,5y b h,M P Mahaesh,P P Dhebe,58.0,NaN,5.0,A,43558,5.25,59,NaN,00:01:13.750000,The Galloping Acres Stud Plate,Class 2 / Horses Rated 45 to 65,1200M,NaN
1785,5,190222,BW1819,9,23,8,6,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),6y b g,Irfan Ghatala,Anjar Alam,59.0,NaN,7.0,A,2.25,6.50,33,NaN,00:01:15.540000,The Flashing Star Plate Div-1,"Class 4 / Horses Rated 15 to 35, 5 Years Old a...",1200M,NaN
1851,11,190308,BW1819,9,24,4,10,PRIME STAR,Ivory Touch(USA)-Circus Ring,4y b f,M P Mahaesh,Nazerul Alam,57.0,-1,10.0,A,20.5,14.00,20,NaN,00:01:15.370000,The Nethravathi Trophy Div-2,Class 4 / Horses Rated 15 to 35,1200M,NaN
1886,2,190308,BW1819,9,24,8,12,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,5y b h,M P Mahaesh,Arshad Alam,58.0,NaN,7.0,A,NaN,14.25,59,NaN,00:01:38.830000,The Bhagamandala Plate,Class 2 / Horses Rated 45 to 65,1600M,NaN
1918,10,190315,BW1819,9,25,1,W,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,6y dk b m,M P Mahaesh,Withdrawn,54.0,NaN,11.0,A,NaN,NaN,5,NaN,NaN,The Karwar Plate Div-2,Class 5 / Horses Rated 00 to 20,1100M,NaN
2025,7,190322,BW1819,9,26,2,11,VASUKI,Multidimensional(IRE)-Congratulations,6y b m,M P Mahaesh,P Mani,56.5,NaN,3.0,A,NaN,40.50,12,NaN,NaN,The Leading Tipster Trophy,Class 5 / Horses Rated 00 to 20,1600M,NaN
2071,2,190322,BW1819,9,26,7,4,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,5y b h,M P Mahaesh,P P Dhebe,58.5,NaN,7.0,A,43558,2.50,59,NaN,00:01:25.980000,The Leading Stud Trophy,Class 2 / Horses Rated 45 to 65,1400M,NaN
2083,2,190322,BW1819,9,26,8,5,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),6y b g,Irfan Ghatala,Anjar Alam,60.0,NaN,2.0,A,1.75,8.25,33,NaN,00:01:14.840000,The Leading Bookmaker Trophy Div-1,"Class 4 / Horses Rated 15 to 35, 5 Years Old a...",1200M,NaN
2098,5,190322,BW1819,9,26,9,3,HONEY TRAP,Top Class(USA)-Daniella,4y b f,M P Mahaesh,P S Chouhan,58.5,NaN,2.0,A,7.25,2.50,24,NaN,00:01:26.900000,The Champion Jockey Trophy Div-2,Class 4 / Horses Rated 15 to 35,1400M,NaN

In [24]:
df.loc[~f]

,H.No,Date,Season,NoR,SRDN,Race No,Pl,Horse,Pedigree,Desc,Trainer,Jockey,Wt,Al,Dr,Sh,Won By,Dist Win,Rtg,Odds,Time,Cup,Classification,Distance,Unnamed: 24
0,1,181102,BW1819,6,1,1,7,INKY BLACK,Mull Of Kintyre(USA)-Isabellas Treasure(IRE),4y dk b m,K P G Appu,Arshad Alam,60.0,-,1.0,A,SHD,5.50,20,8,00:01:08.950000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
1,2,181102,BW1819,6,1,1,4,SHEER MAGIC,Burden Of Proof(IRE)-Ripple Of Pride(IRE),4y b m,Azhar Ali,Md Akram,59.5,-4,5.0,A,2.25,1.50,19,8,00:01:08.290000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
2,3,181102,BW1819,6,1,1,3,DESERT GILT,Sussex(GB)-Ippodamia,6y b g,F Sirajuddin,Antony Raj S,59.0,2,3.0,A,LNK,1.50,18,43505,00:01:08.220000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
3,4,181102,BW1819,6,1,1,5,PURITY,Lucifer Sam(USA)-Anna,4y dk b m,Arjun Mangalorkar,Mudassar Nazar,58.5,-,8.0,A,1.25,3.75,17,12,00:01:08.680000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
4,5,181102,BW1819,6,1,1,2,TUDOR PRINCE,Arazan(IRE)-Persa,5y b g,Aravind Ganapathy,A Imran Khan,58.5,-,2.0,A,SHD,1.50,17,43570,00:01:08.220000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2184,8,190323,BW1819,8,27,8,1,CAMILA,Net Whizz(USA)-Farha(USA),4y b f,Neil Darashah,P P Dhebe,56.0,NaN,9.0,A,43497,NaN,25,NaN,00:01:39.840000,The Byerley Turk Stakes,Class 4 / Horses Rated 15 to 35,1600M,NaN
2185,9,190323,BW1819,8,27,8,10,GRANADA,Kingda Ka(AUS)-Whisper City,7y b g,Mahmood Khan,R Manish,56.0,-3,5.0,A,3.25,19.50,25,NaN,00:01:43.060000,The Byerley Turk Stakes,Class 4 / Horses Rated 15 to 35,1600M,NaN
2186,10,190323,BW1819,8,27,8,5,GREAT CELEBRATION,Roi Maudit(USA)-Rich Celebration,4y b g,Azhar Ali,K Nazil,55.5,-1,3.0,A,2.75,2.75,24,NaN,00:01:40.300000,The Byerley Turk Stakes,Class 4 / Horses Rated 15 to 35,1600M,NaN
2187,11,190323,BW1819,8,27,8,9,EXTREMELYDANGEROUS,Royal Gladiator-Amberley,7y b m,Warren Singh,P Mani,55.0,NaN,12.0,A,43558,18.75,23,NaN,00:01:42.930000,The Byerley Turk Stakes,Class 4 / Horses Rated 15 to 35,1600M,NaN
2188,12,190323,BW1819,8,27,8,7,JE NE SAIS QUOI,Ravel(USA)-Therry Girl(IRE),4y b g,Darius Byramji,Irvan Singh,55.0,NaN,4.0,A,3.5,11.75,23,NaN,00:01:41.770000,The Byerley Turk Stakes,Class 4 / Horses Rated 15 to 35,1600M,NaN

In [25]:
df['Trainer'].value_counts()

Sharat Kumar            127
Neil Darashah           108
B Prithviraj            100
K Pradeep Annaiah        96
Arjun Mangalorkar        95
S Narredu                86
S S Attaollahi           85
Mahmood Khan             84
S Inayathulla            80
S Dominic                75
Prasanna Kumar           73
Irfan Ghatala            71
M Rajendra Singh         67
V Narayana Gowda         65
Samar Singh              63
Azhar Ali                62
Darius Byramji           61
V Lokanath               54
Imtiaz Khan              53
S Ganapathy              53
Dheeraj Venkataswamy     48
Faraz Arshad             47
Neil B Devaney           45
S Padmanabhan            45
F Sirajuddin             43
K P G Appu               41
K Thomas                 39
G Nityanand              38
Praveen Jesu             36
R V Manohar              33
Hidayat Khan             32
Warren Singh             31
Rajesh Narredu           30
G Sandhu                 28
Parvati Byramji          25
Aravind Ganapathy        23
Sriram Komandur          20
M P Mahaesh              19
P Shroff                  5
Vishal Gaikwad            1
M Bobby                   1
M Narredu                 1
Name: Trainer, dtype: int64

In [26]:
trainers = ['M P Mahaesh', 'P Shroff', 'Vishal Gaikwad', 'M Narredu', 'M Bobby']
f = df['Trainer'].isin(trainers)

In [27]:
df.loc[f]

,H.No,Date,Season,NoR,SRDN,Race No,Pl,Horse,Pedigree,Desc,Trainer,Jockey,Wt,Al,Dr,Sh,Won By,Dist Win,Rtg,Odds,Time,Cup,Classification,Distance,Unnamed: 24
74,10,181103,BW1819,7,2,2,10,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,5y dk b m,M P Mahaesh,Nazerul Alam,55.5,-2,5.0,S,7.25,15.00,9,10,00:01:17.190000,The B.A.R.I Plate,Class 5 / Horses Rated 00 to 20,1200M,NaN
84,9,181103,BW1819,7,2,3,12,HONEY TRAP,Top Class(USA)-Daniella,3y b f,M P Mahaesh,Irvan Singh,56.0,NaN,1.0,A,NaN,18.75,22,60,00:01:27.880000,The Master Key Plate,Class 4 / Horses Rated 15 to 35,1400M,NaN
101,2,181103,BW1819,7,2,5,9,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,4y b h,M P Mahaesh,Irvan Singh,59.0,NaN,8.0,S,2.75,19.50,61,20,00:01:27.600000,The Air Force Trophy,Class 2 / Horses Rated 45 to 65,1400M,NaN
378,11,181130,BW1819,7,6,1,11,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,5y dk b m,M P Mahaesh,Irvan Singh,55.0,NaN,1.0,A,1,10.75,9,12,00:01:10.410000,The Hebbe Falls Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
465,9,181201,BW1819,8,7,2,9,HONEY TRAP,Top Class(USA)-Daniella,3y b f,M P Mahaesh,Nazerul Alam,56.0,-1,5.0,A,NOSE,19.25,22,60,00:01:28.400000,The Dharmasthala Plate Div-2,Class 4 / Horses Rated 15 to 35,1400M,NaN
512,3,181201,BW1819,8,7,6,7,HAMMERSMITH,Phoenix Tower(USA)-Samsa(FR),3y dk b f,P Shroff,P Trevor,57.0,NaN,2.0,A,30.5,4.50,NaN,8,00:01:38.590000,The Bangalore 1000 Guineas (Gr.2),Term Races / 3 Year Old Only,1600M,NaN
515,6,181201,BW1819,8,7,6,1,OOMPH,Midnight Interlude(USA)-Jahanara(IRE),3y b f,Vishal Gaikwad,Leigh Roche,57.0,NaN,8.0,A,43558,NaN,NaN,10,00:01:37.720000,The Bangalore 1000 Guineas (Gr.2),Term Races / 3 Year Old Only,1600M,NaN
605,1,181207,BW1819,8,8,7,6,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,4y b h,M P Mahaesh,T S Jodha,60.0,NaN,3.0,A,1,13.50,61,5,00:01:26.430000,The Pratap Stud Plate,Class 2 / Horses Rated 45 to 65,1400M,NaN
739,7,181215,BW1819,6,10,4,9,SEA QUEST,Uncle Mo(USA)-Hungarian Boatbaby(USA),3y b g,M Narredu,Yash Narredu,57.0,NaN,5.0,A,NaN,28.50,72,43568,00:01:40.990000,The Manjri Stud Bangalore 2000 Guineas (Gr.2),Term Races / 3 Year Old Only,1600M,NaN
741,9,181215,BW1819,6,10,4,3,VALEGRO,Canford Cliffs(IRE)-Choice House(USA),3y b c,P Shroff,Leigh Roche,57.0,NaN,6.0,A,1.75,5.75,42,10,00:01:37.280000,The Manjri Stud Bangalore 2000 Guineas (Gr.2),Term Races / 3 Year Old Only,1600M,NaN
939,2,181229,BW1819,8,13,2,2,HONEY TRAP,Top Class(USA)-Daniella,3y b f,M P Mahaesh,P S Chouhan,60.0,NaN,3.0,A,2.75,4.00,20,20,00:01:42.420000,The Mudabidri Plate,Class 5 / Horses Rated 00 to 20,1600M,NaN
1065,2,190105,BW1819,8,14,6,4,HAMMERSMITH,Phoenix Tower(USA)-Samsa(FR),4y dk b f,P Shroff,P Trevor,57.0,NaN,3.0,A,Lnk,4.00,70,NaN,00:02:34.910000,The Bangalore Oaks (Gr.2),Term Races / 4-year-old Indian Fillies,2400M,NaN
1172,12,190111,BW1819,8,15,7,8,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,6y dk b m,M P Mahaesh,G Adarsh,53.5,NaN,7.0,A,2,7.50,7,NaN,00:01:15.930000,The Shivaganga Falls Plate,"Class 5 / ?Horses Rated 00 to 20, 5 Years Old ...",1200M,NaN
1268,11,190125,BW1819,8,17,1,10,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,6y dk b m,M P Mahaesh,Nazerul Alam,53.0,-1,8.0,A,17.75,25.75,5,NaN,00:01:32.270000,The Ullal Beach Plate,Class 5 / Horses Rated 00 to 20,1400M,NaN
1292,12,190125,BW1819,8,17,3,W,VASUKI,Multidimensional(IRE)-Congratulations,6y b m,M P Mahaesh,G Adarsh,53.0,NaN,11.0,A,NaN,NaN,16,NaN,NaN,The Premium Spirit Plate Div-2,"Class 4 / Horses Rated 15 to 35, 5 Years Old a...",1200M,NaN
1312,4,190125,BW1819,8,17,6,4,SADEEK,Royal Gladiator-Gold Plus,5y b h,M Bobby,K Sai Kiran,57.0,NaN,1.0,A,1.5,4.50,80,NaN,00:01:38.900000,The Bangalore Race Course 156th year Commemora...,For Horses / 4 years old and over,1600M,NaN
1408,2,190126,BW1819,9,18,7,4,EAGLEINTHESKY,Footstepsinthesand(GB)-Trumbaka(IRE),4y b g,P Shroff,Akshay Kumar,57.0,NaN,13.0,A,1.5,7.75,36,NaN,00:02:35.190000,The Catalyst Properties Bangalore Derby (Gr.I),Term Races / 4 Year Old Only,2400M,NaN
1409,3,190126,BW1819,9,18,7,10,KENNEDY,Dean's Kitten(USA)-Talita Kumi(IRE),4y ch g,P Shroff,Leigh Roche,57.0,NaN,5.0,A,1.5,16.50,30,NaN,00:02:36.660000,The Catalyst Properties Bangalore Derby (Gr.I),Term Races / 4 Year Old Only,2400M,NaN
1545,8,190208,BW1819,6,20,5,3,HONEY TRAP,Top Class(USA)-Daniella,4y b f,M P Mahaesh,S Chetan Kalay,57.0,NaN,4.0,A,4.25,9.25,24,NaN,00:01:14.120000,The Davangere Plate,Class 4 / Horses Rated 15 to 35,1200M,NaN
1562,2,190209,BW1819,7,21,1,10,VASUKI,Multidimensional(IRE)-Congratulations,6y b m,M P Mahaesh,B Harish,59.5,NaN,7.0,A,28.75,21.00,16,NaN,00:01:11.010000,The Somanathapura Plate Div-2,Class 5 / Horses Rated 00 to 20,1100M,NaN
1772,4,190222,BW1819,9,23,7,5,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,5y b h,M P Mahaesh,P P Dhebe,58.0,NaN,5.0,A,43558,5.25,59,NaN,00:01:13.750000,The Galloping Acres Stud Plate,Class 2 / Horses Rated 45 to 65,1200M,NaN
1851,11,190308,BW1819,9,24,4,10,PRIME STAR,Ivory Touch(USA)-Circus Ring,4y b f,M P Mahaesh,Nazerul Alam,57.0,-1,10.0,A,20.5,14.00,20,NaN,00:01:15.370000,The Nethravathi Trophy Div-2,Class 4 / Horses Rated 15 to 35,1200M,NaN
1886,2,190308,BW1819,9,24,8,12,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,5y b h,M P Mahaesh,Arshad Alam,58.0,NaN,7.0,A,NaN,14.25,59,NaN,00:01:38.830000,The Bhagamandala Plate,Class 2 / Horses Rated 45 to 65,1600M,NaN
1918,10,190315,BW1819,9,25,1,W,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,6y dk b m,M P Mahaesh,Withdrawn,54.0,NaN,11.0,A,NaN,NaN,5,NaN,NaN,The Karwar Plate Div-2,Class 5 / Horses Rated 00 to 20,1100M,NaN
2025,7,190322,BW1819,9,26,2,11,VASUKI,Multidimensional(IRE)-Congratulations,6y b m,M P Mahaesh,P Mani,56.5,NaN,3.0,A,NaN,40.50,12,NaN,NaN,The Leading Tipster Trophy,Class 5 / Horses Rated 00 to 20,1600M,NaN
2071,2,190322,BW1819,9,26,7,4,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,5y b h,M P Mahaesh,P P Dhebe,58.5,NaN,7.0,A,43558,2.50,59,NaN,00:01:25.980000,The Leading Stud Trophy,Class 2 / Horses Rated 45 to 65,1400M,NaN
2098,5,190322,BW1819,9,26,9,3,HONEY TRAP,Top Class(USA)-Daniella,4y b f,M P Mahaesh,P S Chouhan,58.5,NaN,2.0,A,7.25,2.50,24,NaN,00:01:26.900000,The Champion Jockey Trophy Div-2,Class 4 / Horses Rated 15 to 35,1400M,NaN

In [28]:
df.loc[f, 'Horse':'Trainer']

,Horse,Pedigree,Desc,Trainer
74,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,5y dk b m,M P Mahaesh
84,HONEY TRAP,Top Class(USA)-Daniella,3y b f,M P Mahaesh
101,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,4y b h,M P Mahaesh
378,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,5y dk b m,M P Mahaesh
465,HONEY TRAP,Top Class(USA)-Daniella,3y b f,M P Mahaesh
512,HAMMERSMITH,Phoenix Tower(USA)-Samsa(FR),3y dk b f,P Shroff
515,OOMPH,Midnight Interlude(USA)-Jahanara(IRE),3y b f,Vishal Gaikwad
605,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,4y b h,M P Mahaesh
739,SEA QUEST,Uncle Mo(USA)-Hungarian Boatbaby(USA),3y b g,M Narredu
741,VALEGRO,Canford Cliffs(IRE)-Choice House(USA),3y b c,P Shroff
939,HONEY TRAP,Top Class(USA)-Daniella,3y b f,M P Mahaesh
1065,HAMMERSMITH,Phoenix Tower(USA)-Samsa(FR),4y dk b f,P Shroff
1172,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,6y dk b m,M P Mahaesh
1268,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,6y dk b m,M P Mahaesh
1292,VASUKI,Multidimensional(IRE)-Congratulations,6y b m,M P Mahaesh
1312,SADEEK,Royal Gladiator-Gold Plus,5y b h,M Bobby
1408,EAGLEINTHESKY,Footstepsinthesand(GB)-Trumbaka(IRE),4y b g,P Shroff
1409,KENNEDY,Dean's Kitten(USA)-Talita Kumi(IRE),4y ch g,P Shroff
1545,HONEY TRAP,Top Class(USA)-Daniella,4y b f,M P Mahaesh
1562,VASUKI,Multidimensional(IRE)-Congratulations,6y b m,M P Mahaesh
1772,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,5y b h,M P Mahaesh
1851,PRIME STAR,Ivory Touch(USA)-Circus Ring,4y b f,M P Mahaesh
1886,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,5y b h,M P Mahaesh
1918,ROCKET PUNCH,Mull Of Kintyre(USA)-Special Quest,6y dk b m,M P Mahaesh
2025,VASUKI,Multidimensional(IRE)-Congratulations,6y b m,M P Mahaesh
2071,GOOD TIME INDEED,Top Class(USA)-Good Time Sally,5y b h,M P Mahaesh
2098,HONEY TRAP,Top Class(USA)-Daniella,4y b f,M P Mahaesh

In [29]:
f = df['Horse'].str.contains('MAGIC', na=False)

In [30]:
df.loc[f]

,H.No,Date,Season,NoR,SRDN,Race No,Pl,Horse,Pedigree,Desc,Trainer,Jockey,Wt,Al,Dr,Sh,Won By,Dist Win,Rtg,Odds,Time,Cup,Classification,Distance,Unnamed: 24
1,2,181102,BW1819,6,1,1,4,SHEER MAGIC,Burden Of Proof(IRE)-Ripple Of Pride(IRE),4y b m,Azhar Ali,Md Akram,59.5,-4,5.0,A,2.25,1.50,19,8,00:01:08.290000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
169,3,181109,BW1819,8,3,4,3,ULTIMATE MAGIC,China Visit(USA)-Burooq(USA),4y b m,G Sandhu,Antony Raj S,59.0,-2,1.0,A,1.25,0.75,48,43754,00:01:25.960000,The Belgaum Plate Div-1,"Class 3 / Horses Rated 30 to 50, 4 years old a...",1400M,NaN
259,6,181117,BW1819,8,4,4,11,TURF MAGIC,Excellent Art(GB)-Messalina,4y ch m,S Ganapathy,A Imran Khan,59.5,NaN,11.0,A,43558,12.25,59,12,00:01:14.490000,The Bangarpet Plate,Class 2 / Horses Rated 45 to 65,1200M,NaN
328,1,181123,BW1819,6,5,3,4,ULTIMATE MAGIC,China Visit(USA)-Burooq(USA),4y b m,G Sandhu,Md Asif Khan,60.0,-2,6.0,A,3.5,9.50,49,43568,00:01:40.980000,The Bidar Plate,"Class 3 / Horses Rated 30 to 50, 4 years old a...",1600M,NaN
423,4,181130,BW1819,7,6,6,4,SHEER MAGIC,Burden Of Proof(IRE)-Ripple Of Pride(IRE),4y b m,Azhar Ali,K Sai Kiran,59.0,NaN,8.0,A,2,5.50,18,43572,00:01:14.970000,The Ghataprabha Plate,Class 5 / Horses Rated 00 to 20,1200M,NaN
805,2,181220,BW1819,7,11,4,3,SIMPLY MAGICAL,Strong Suit(USA)-Age Of Magic(USA),3y ch g,Irfan Ghatala,Shamaz Shareef,60.0,-4,10.0,A,2.5,5.50,25,NaN,00:01:08.980000,The Gumbaz Plate Div-2,Class 4 / Horses Rated 15 to 35,1100M,NaN
850,2,181228,BW1819,7,12,1,4,SIMPLY MAGICAL,Strong Suit(USA)-Age Of Magic(USA),3y ch g,Irfan Ghatala,P Trevor,60.0,NaN,9.0,A,LNK,11.25,25,4,00:01:15.220000,The Amber Regent Plate Div-2,Class 4 / Horses Rated 15 to 35,1200M,NaN
1056,3,190105,BW1819,8,14,5,9,ULTIMATE MAGIC,China Visit(USA)-Burooq(USA),5y b m,S Dominic,D Patel,59.0,NaN,9.0,A,1,17.25,48,NaN,00:01:15.200000,The Dr.K.T.B.Menon Memorial Trophy Div-1,"Class 3 / Horses Rated 30 to 50, 5 years old a...",1200M,NaN
1167,7,190111,BW1819,8,15,7,10,SHEER MAGIC,Burden Of Proof(IRE)-Ripple Of Pride(IRE),5y b m,Azhar Ali,K Raghu,58.5,-4,1.0,A,4.75,10.50,17,NaN,00:01:16.450000,The Shivaganga Falls Plate,"Class 5 / ?Horses Rated 00 to 20, 5 Years Old ...",1200M,NaN
1388,5,190126,BW1819,9,18,5,12,ULTIMATE MAGIC,China Visit(USA)-Burooq(USA),5y b m,S Dominic,T S Jodha,59.0,NaN,8.0,A,NaN,12.50,48,NaN,DNC,The T.B.Hanumantharaj Memorial Trophy Div-1,"Class 3 / Horses Rated 30 to 50, 5 Years Old a...",1400M,NaN
1554,5,190208,BW1819,6,20,6,8,SHEER MAGIC,Burden Of Proof(IRE)-Ripple Of Pride(IRE),5y b m,Azhar Ali,M Naveen,57.5,-2,6.0,A,2.75,8.00,15,NaN,00:01:28.270000,The Yedamuri Falls Plate,Class 5 / Horses Rated 00 to 20,1400M,NaN
1656,7,190214,BW1819,7,22,3,3,SIMPLY MAGICAL,Strong Suit(USA)-Age Of Magic(USA),4y ch g,Rajesh Narredu,Suraj Narredu,55.5,NaN,4.0,A,43497,2.00,25,NaN,00:01:14,The Saptharishi Plate,Class 4 / Horses Rated 15 to 35,1200M,NaN
1773,5,190222,BW1819,9,23,7,8,TURF MAGIC,Excellent Art(GB)-Messalina,5y ch m,S Ganapathy,A Ashok Kumar,58.0,NaN,4.0,A,2,6.00,59,NaN,00:01:13.930000,The Galloping Acres Stud Plate,Class 2 / Horses Rated 45 to 65,1200M,NaN

In [31]:
df.columns

Index(['H.No', 'Date', 'Season', 'NoR', 'SRDN', 'Race No', 'Pl', 'Horse',
       'Pedigree', 'Desc', 'Trainer', 'Jockey', 'Wt', 'Al', 'Dr', 'Sh',
       'Won By', 'Dist Win', 'Rtg', 'Odds', 'Time', 'Cup', 'Classification',
       'Distance', 'Unnamed: 24'],
      dtype='object')

In [32]:
df.rename(columns={'Horse':'horse'})

,H.No,Date,Season,NoR,SRDN,Race No,Pl,horse,Pedigree,Desc,Trainer,Jockey,Wt,Al,Dr,Sh,Won By,Dist Win,Rtg,Odds,Time,Cup,Classification,Distance,Unnamed: 24
0,1,181102,BW1819,6,1,1,7,INKY BLACK,Mull Of Kintyre(USA)-Isabellas Treasure(IRE),4y dk b m,K P G Appu,Arshad Alam,60.0,-,1.0,A,SHD,5.50,20,8,00:01:08.950000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
1,2,181102,BW1819,6,1,1,4,SHEER MAGIC,Burden Of Proof(IRE)-Ripple Of Pride(IRE),4y b m,Azhar Ali,Md Akram,59.5,-4,5.0,A,2.25,1.50,19,8,00:01:08.290000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
2,3,181102,BW1819,6,1,1,3,DESERT GILT,Sussex(GB)-Ippodamia,6y b g,F Sirajuddin,Antony Raj S,59.0,2,3.0,A,LNK,1.50,18,43505,00:01:08.220000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
3,4,181102,BW1819,6,1,1,5,PURITY,Lucifer Sam(USA)-Anna,4y dk b m,Arjun Mangalorkar,Mudassar Nazar,58.5,-,8.0,A,1.25,3.75,17,12,00:01:08.680000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
4,5,181102,BW1819,6,1,1,2,TUDOR PRINCE,Arazan(IRE)-Persa,5y b g,Aravind Ganapathy,A Imran Khan,58.5,-,2.0,A,SHD,1.50,17,43570,00:01:08.220000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2184,8,190323,BW1819,8,27,8,1,CAMILA,Net Whizz(USA)-Farha(USA),4y b f,Neil Darashah,P P Dhebe,56.0,NaN,9.0,A,43497,NaN,25,NaN,00:01:39.840000,The Byerley Turk Stakes,Class 4 / Horses Rated 15 to 35,1600M,NaN
2185,9,190323,BW1819,8,27,8,10,GRANADA,Kingda Ka(AUS)-Whisper City,7y b g,Mahmood Khan,R Manish,56.0,-3,5.0,A,3.25,19.50,25,NaN,00:01:43.060000,The Byerley Turk Stakes,Class 4 / Horses Rated 15 to 35,1600M,NaN
2186,10,190323,BW1819,8,27,8,5,GREAT CELEBRATION,Roi Maudit(USA)-Rich Celebration,4y b g,Azhar Ali,K Nazil,55.5,-1,3.0,A,2.75,2.75,24,NaN,00:01:40.300000,The Byerley Turk Stakes,Class 4 / Horses Rated 15 to 35,1600M,NaN
2187,11,190323,BW1819,8,27,8,9,EXTREMELYDANGEROUS,Royal Gladiator-Amberley,7y b m,Warren Singh,P Mani,55.0,NaN,12.0,A,43558,18.75,23,NaN,00:01:42.930000,The Byerley Turk Stakes,Class 4 / Horses Rated 15 to 35,1600M,NaN
2188,12,190323,BW1819,8,27,8,7,JE NE SAIS QUOI,Ravel(USA)-Therry Girl(IRE),4y b g,Darius Byramji,Irvan Singh,55.0,NaN,4.0,A,3.5,11.75,23,NaN,00:01:41.770000,The Byerley Turk Stakes,Class 4 / Horses Rated 15 to 35,1600M,NaN

In [33]:
df['Horse']

0               INKY BLACK
1              SHEER MAGIC
2              DESERT GILT
3                   PURITY
4             TUDOR PRINCE
               ...
2184                CAMILA
2185               GRANADA
2186     GREAT CELEBRATION
2187    EXTREMELYDANGEROUS
2188       JE NE SAIS QUOI
Name: Horse, Length: 2189, dtype: object

In [34]:
df['Horse'] = df['Horse'].apply(str.strip)

In [35]:
f = df['Horse']=='GRECIAN LIGHT'

In [36]:
df.loc[f]

,H.No,Date,Season,NoR,SRDN,Race No,Pl,Horse,Pedigree,Desc,Trainer,Jockey,Wt,Al,Dr,Sh,Won By,Dist Win,Rtg,Odds,Time,Cup,Classification,Distance,Unnamed: 24
196,3,181109,BW1819,8,3,7,9,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),5y b g,Hidayat Khan,Shamaz Shareef,57.0,-4,7.0,A,NOSE,12.25,44,25,00:01:14.730000,The Chickballapur Plate,Class 3 / Horses Rated 30 to 50,1200M,NaN
494,10,181201,BW1819,8,7,4,5,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),5y b g,Hidayat Khan,Anjar Alam,56.0,NaN,3.0,A,1.25,7.00,42,30,00:01:13.890000,The S Rangarajan Memorial Trophy Div-1,Class 3 / Horses Rated 30 to 50,1200M,NaN
583,8,181207,BW1819,8,8,4,7,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),5y b g,Irfan Ghatala,Shamaz Shareef,56.0,-4,12.0,A,LNK,7.75,40,12,00:01:14.390000,The Madhugiri Plate,"Class 3 / Horses Rated 30 to 50, 4 years old a...",1200M,NaN
906,4,181228,BW1819,7,12,6,7,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),5y b g,Irfan Ghatala,Shamaz Shareef,59.0,-4,7.0,A,3.5,6.75,40,20,00:01:14.320000,The G Krishnappa Memorial Trophy Div-2,Class 3 / Horses Rated 30 to 50,1200M,NaN
1088,8,190105,BW1819,8,14,8,5,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),6y b g,Irfan Ghatala,Anjar Alam,56.0,NaN,11.0,A,Lnk,6.50,38,NaN,00:01:14.740000,The Dr.K.T.B.Menon Memorial Trophy Div-2,"Class 3 / Horses Rated 30 to 50, 5 years old a...",1200M,NaN
1253,8,190119,BW1819,7,16,7,10,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),6y b g,Irfan Ghatala,Shamaz Shareef,57.5,-4,8.0,A,NECK,13.75,36,NaN,00:01:14.950000,The Dr C Vittal Memorial Trophy Div-2,Class 3 / Horses Rated 30 to 50,1200M,NaN
1453,1,190201,BW1819,6,19,2,4,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),6y b g,Irfan Ghatala,Shamaz Shareef,60.0,-4,12.0,A,NOSE,6.00,34,NaN,00:01:14.810000,The Jog Falls Plate,"Class 4 / Horses Rated 15 to 35, 5 years old a...",1200M,NaN
1785,5,190222,BW1819,9,23,8,6,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),6y b g,Irfan Ghatala,Anjar Alam,59.0,NaN,7.0,A,2.25,6.50,33,NaN,00:01:15.540000,The Flashing Star Plate Div-1,"Class 4 / Horses Rated 15 to 35, 5 Years Old a...",1200M,NaN
2083,2,190322,BW1819,9,26,8,5,GRECIAN LIGHT,Win Legend(JPN)-Grecian Halo(USA),6y b g,Irfan Ghatala,Anjar Alam,60.0,NaN,2.0,A,1.75,8.25,33,NaN,00:01:14.840000,The Leading Bookmaker Trophy Div-1,"Class 4 / Horses Rated 15 to 35, 5 Years Old a...",1200M,NaN

In [37]:
df.drop(columns='Unnamed: 24', inplace=True)

In [38]:
df.columns

Index(['H.No', 'Date', 'Season', 'NoR', 'SRDN', 'Race No', 'Pl', 'Horse',
       'Pedigree', 'Desc', 'Trainer', 'Jockey', 'Wt', 'Al', 'Dr', 'Sh',
       'Won By', 'Dist Win', 'Rtg', 'Odds', 'Time', 'Cup', 'Classification',
       'Distance'],
      dtype='object')

In [39]:
df[['Age','Add_Desc']] = df['Desc'].str.split(n=1, expand = True)

In [40]:
df['Pl'].value_counts()

3     203
2     202
1     202
4     201
5     200
6     198
7     190
8     185
9     165
10    146
11    126
W      77
12     74
13     14
14      6
Name: Pl, dtype: int64

In [41]:
filt = df['Pl'] =='W'
df.drop(index=df[filt].index, inplace=True)

In [42]:
df

,H.No,Date,Season,NoR,SRDN,Race No,Pl,Horse,Pedigree,Desc,Trainer,Jockey,Wt,Al,Dr,Sh,Won By,Dist Win,Rtg,Odds,Time,Cup,Classification,Distance,Age,Add_Desc
0,1,181102,BW1819,6,1,1,7,INKY BLACK,Mull Of Kintyre(USA)-Isabellas Treasure(IRE),4y dk b m,K P G Appu,Arshad Alam,60.0,-,1.0,A,SHD,5.50,20,8,00:01:08.950000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,4y,dk b m
1,2,181102,BW1819,6,1,1,4,SHEER MAGIC,Burden Of Proof(IRE)-Ripple Of Pride(IRE),4y b m,Azhar Ali,Md Akram,59.5,-4,5.0,A,2.25,1.50,19,8,00:01:08.290000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,4y,b m
2,3,181102,BW1819,6,1,1,3,DESERT GILT,Sussex(GB)-Ippodamia,6y b g,F Sirajuddin,Antony Raj S,59.0,2,3.0,A,LNK,1.50,18,43505,00:01:08.220000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,6y,b g
3,4,181102,BW1819,6,1,1,5,PURITY,Lucifer Sam(USA)-Anna,4y dk b m,Arjun Mangalorkar,Mudassar Nazar,58.5,-,8.0,A,1.25,3.75,17,12,00:01:08.680000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,4y,dk b m
4,5,181102,BW1819,6,1,1,2,TUDOR PRINCE,Arazan(IRE)-Persa,5y b g,Aravind Ganapathy,A Imran Khan,58.5,-,2.0,A,SHD,1.50,17,43570,00:01:08.220000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,5y,b g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2184,8,190323,BW1819,8,27,8,1,CAMILA,Net Whizz(USA)-Farha(USA),4y b f,Neil Darashah,P P Dhebe,56.0,NaN,9.0,A,43497,NaN,25,NaN,00:01:39.840000,The Byerley Turk Stakes,Class 4 / Horses Rated 15 to 35,1600M,4y,b f
2185,9,190323,BW1819,8,27,8,10,GRANADA,Kingda Ka(AUS)-Whisper City,7y b g,Mahmood Khan,R Manish,56.0,-3,5.0,A,3.25,19.50,25,NaN,00:01:43.060000,The Byerley Turk Stakes,Class 4 / Horses Rated 15 to 35,1600M,7y,b g
2186,10,190323,BW1819,8,27,8,5,GREAT CELEBRATION,Roi Maudit(USA)-Rich Celebration,4y b g,Azhar Ali,K Nazil,55.5,-1,3.0,A,2.75,2.75,24,NaN,00:01:40.300000,The Byerley Turk Stakes,Class 4 / Horses Rated 15 to 35,1600M,4y,b g
2187,11,190323,BW1819,8,27,8,9,EXTREMELYDANGEROUS,Royal Gladiator-Amberley,7y b m,Warren Singh,P Mani,55.0,NaN,12.0,A,43558,18.75,23,NaN,00:01:42.930000,The Byerley Turk Stakes,Class 4 / Horses Rated 15 to 35,1600M,7y,b m
2188,12,190323,BW1819,8,27,8,7,JE NE SAIS QUOI,Ravel(USA)-Therry Girl(IRE),4y b g,Darius Byramji,Irvan Singh,55.0,NaN,4.0,A,3.5,11.75,23,NaN,00:01:41.770000,The Byerley Turk Stakes,Class 4 / Horses Rated 15 to 35,1600M,4y,b g

In [43]:
df.nlargest(10,'Wt')

,H.No,Date,Season,NoR,SRDN,Race No,Pl,Horse,Pedigree,Desc,Trainer,Jockey,Wt,Al,Dr,Sh,Won By,Dist Win,Rtg,Odds,Time,Cup,Classification,Distance,Age,Add_Desc
1149,1,190111,BW1819,8,15,6,11,ULTIMATE WARRIOR,Serious Spender(USA)-Arizza,5y dk b g,V Lokanath,Md Akram,67.0,-4,3.0,A,NaN,34.25,94,NaN,00:01:29.540000,The Delhi Race Club Trophy,Class 2 / Horses Rated 60 and above,1400M,5y,dk b g
360,1,181123,BW1819,6,5,6,1,SMILE STONE,Juniper(USA)-Alam Jeha,8y b g,Sharat Kumar,M Naveen,64.0,-2,2.0,A,1,NaN,103,6,00:01:14.930000,The Hyderabad Silver Vase,Class 1 / Horses Rated 75 and above,1200M,8y,b g
983,1,181229,BW1819,8,13,6,2,SALAZAAR,Burden Of Proof(IRE)-Saddle Star,5y ch rig,Irfan Ghatala,Suraj Narredu,63.5,NaN,4.0,A,1.5,2.25,116,3,00:02:07.890000,The Chief Minister's Trophy,For Horses / 3 Years Old and Over,2000M,5y,ch rig
499,1,181201,BW1819,8,7,5,8,AURIGA,China Visit(USA)-Grand Madame,6y b h,Hidayat Khan,Y S Srinath,63.0,NaN,11.0,A,43558,3.75,86,12,00:01:26.090000,The Bold Majesty Plate,Class 1 / Horses Rated 60 and above,1400M,6y,b h
814,1,181220,BW1819,7,11,5,12,BARACCHUS,Razeen(USA)-Ooh Aah Camara (IRE),7y ch h,S Padmanabhan,Ryan Marshall,63.0,NaN,12.0,A,NaN,21.00,101,NaN,00:01:41.210000,The Dr.M.A.M.Ramaswamy Memorial Trophy,Class 1 / Horses Rated 75 and above,1600M,7y,ch h
1752,1,190222,BW1819,9,23,5,12,BARACCHUS,Razeen(USA)-Ooh Aah Camara (IRE),8y ch h,S Padmanabhan,David Allan,63.0,NaN,6.0,A,NaN,17.50,101,NaN,00:01:27.890000,The Srikantadatta Narasimharaja Wadiyar Memori...,Class 1 / Horses Rated 75 and above,1400M,8y,ch h
1150,2,190111,BW1819,8,15,6,8,RAFA,Mathematician(IRE)-Spanish Whisper,6y b g,S Dominic,Md Asif Khan,62.5,-2,9.0,A,NECK,6.75,85,NaN,00:01:25.010000,The Delhi Race Club Trophy,Class 2 / Horses Rated 60 and above,1400M,6y,b g
31,1,181102,BW1819,6,1,4,6,ACCOLADE,Burden Of Proof(IRE)-Alnasreya(IRE),5y b h,S S Attaollahi,S Zervan,62.0,-,4.0,A,SNK,6.75,113,43566,00:01:24.810000,The Rajyotsava Trophy (Gr.3),Term Races / 3 years old and over,1400M,5y,b h
1229,1,190119,BW1819,7,16,5,6,BOLD COMMAND,Arazan(IRE)-India's Feather(IRE),7y b g,S Ganapathy,A Ashok Kumar,62.0,NaN,3.0,A,NaN,11.50,99,NaN,00:01:14.010000,The R.W.I.T.C Trophy,Class 1 / Horses Rated 75 and above,1200M,7y,b g
414,1,181130,BW1819,7,6,5,5,ACCOLADE,Burden Of Proof(IRE)-Alnasreya(IRE),5y b h,S S Attaollahi,Suraj Narredu,61.5,NaN,5.0,A,6.25,3.25,109,7,00:01:10.470000,The Bangalore Turf Club Trophy (Gr.3),Term Races / 3 years old and over,1200M,5y,b h

In [44]:
df['Pl'] = df['Pl'].astype(int)

In [45]:
df['Odds'].value_counts()

20        106
60         78
12         67
25         66
40         60
10         55
30         50
15         50
8          46
6          37
50         27
7          26
43505      18
4          18
43503      18
5          16
9          14
3          12
43572      12
43564      11
43507      11
43756      10
43501      10
43568       8
43566       8
43570       6
43751       6
43749       6
43574       5
43754       5
43752       5
2           3
43561       3
43744       3
43560       2
43746       2
1           2
43743       2
43757       2
43742       1
43745       1
45/100      1
43747       1
36/100      1
82/100      1
43497       1
43562       1
65/100      1
13          1
Name: Odds, dtype: int64

In [46]:
place_grp=df.groupby(['Pl'])

In [47]:
place_grp.get_group(13)

,H.No,Date,Season,NoR,SRDN,Race No,Pl,Horse,Pedigree,Desc,Trainer,Jockey,Wt,Al,Dr,Sh,Won By,Dist Win,Rtg,Odds,Time,Cup,Classification,Distance,Age,Add_Desc
447,5,181201,BW1819,8,7,1,13,AISHAH,Gusto(GB)-Romany Spirit(IRE),3y b f,K Thomas,R Manjunath,54.5,-4,6.0,A,16.25,15.00,22,60,00:01:15.830000,The Mount Joy Plate Div-2,Class 4 / Horses Rated 15 to 35,1200M,3y,b f
460,4,181201,BW1819,8,7,2,13,BAIRAVA,Air Support(USA)-Payola (USA),3y b g,K Pradeep Annaiah,A R Pradeep,57.5,NaN,4.0,A,NaN,41.00,25,NaN,00:01:31.950000,The Dharmasthala Plate Div-2,Class 4 / Horses Rated 15 to 35,1400M,3y,b g
492,8,181201,BW1819,8,7,4,13,PRINCESS HOLLY,Stern Opinion(USA)-Sylvia Says(IRE),5y dkb m,S Inayathulla,M Rajesh Kumar,56.5,NaN,13.0,A,NaN,25.50,43,60,00:01:16.990000,The S Rangarajan Memorial Trophy Div-1,Class 3 / Horses Rated 30 to 50,1200M,5y,dkb m
520,3,181201,BW1819,8,7,7,13,LASSILO,Mathematician(IRE)-One Track Minded,5y dk b g,G Sandhu,N Rajesh,60.0,NaN,6.0,A,16.25,20.25,32,60,00:01:29.030000,The Dharmasthala Plate Div-1,Class 4 / Horses Rated 15 to 35,1400M,5y,dk b g
534,3,181201,BW1819,8,7,8,13,KINGSFIELD,Net Whizz(USA)-Karasiyca(IRE),3y b g,S Narredu,Khurshad Alam,58.5,NaN,7.0,A,3.25,20.00,42,40,00:01:16.530000,The S Rangarajan Memorial Trophy Div-2,Class 3 / Horses Rated 30 to 50,1200M,3y,b g
709,3,181215,BW1819,6,10,2,13,CULLINAN,Juniper(USA)-Flamingo Fan(USA),8y b g,V Lokanath,R N Darshan,57.0,NaN,14.0,A,NaN,21.50,29,25,00:01:11.070000,The Beloved Prince Plate,"Class 4 / Horses Rated 15 to 35, 4 Years Old a...",1100M,8y,b g
749,8,181215,BW1819,6,10,5,13,SHAN BEN AARI,Win Legend(JPN)-Integra,5y b m,V Narayana Gowda,M Rajesh Kumar,54.5,NaN,7.0,A,NaN,32.50,54,NaN,DNC,The Kunigal Stud Plate,"Class 2 / Horses Rated 45 to 65, 4 Years Old a...",1200M,5y,b m
761,6,181215,BW1819,6,10,6,13,IRON FIST,Mull Of Kintyre(USA)-So Swing(ITY),3y b g,K Pradeep Annaiah,R Rayan Ahmed,55.0,NaN,3.0,A,1.25,21.00,25,60,00:01:17.330000,The Amathos Plate,Class 4 / Horses Rated 15 to 35,1200M,3y,b g
1032,4,190105,BW1819,8,14,3,13,HIGH HAWK,Hurricane State(USA)-The Big Fight,8y b g,Hidayat Khan,Vivek,57.5,NaN,11.0,A,NaN,12.75,15,NaN,00:01:10,The Murdeshwar Plate,Class 5 / Horses Rated 00 to 20,1100M,8y,b g
1111,11,190111,BW1819,8,15,2,13,ABLE MASTER,Stardan(IRE)-Born Beauty,7y b g,V Lokanath,G Adarsh,56.0,NaN,3.0,A,NaN,26.00,18,NaN,00:01:30.010000,The Kalhatti Falls Plate Div-2,Class 4 / Horses Rated 15 to 35,1400M,7y,b g
1353,5,190126,BW1819,9,18,2,13,IRISH PRINCE,Kingda Ka(AUS)-Irish Lover(USA),7y b g,Sharat Kumar,H G Rathod,59.0,NaN,8.0,A,1.25,13.00,18,NaN,00:01:17.110000,The Saddle Up Cup,Class 5 / Horses Rated 00 to 20,1200M,7y,b g
1383,14,190126,BW1819,9,18,4,13,TRULY DELIGHTFUL,Saamidd(GB)-Daughter Of Light,3y b f,S Ganapathy,R N Darshan,53.5,NaN,7.0,A,1.75,22.00,NaN,NaN,00:01:17.400000,The Mysore Race Club Trophy,Maiden Horses / 3 Years Old Only,1200M,3y,b f
1418,12,190126,BW1819,9,18,7,13,PLAY SAFE,Net Whizz(USA)-Ridawana(IRE),4y b f,Aravind Ganapathy,A Imran Khan,55.5,NaN,11.0,A,NaN,46.50,56,NaN,00:02:41.540000,The Catalyst Properties Bangalore Derby (Gr.I),Term Races / 4 Year Old Only,2400M,4y,b f
1427,8,190126,BW1819,9,18,8,13,DAISY DUKE,Abbeyside(GB)-Windunderherwings,6y b m,Irfan Ghatala,Anjar Alam,54.5,NaN,12.0,A,NaN,30.00,54,NaN,00:01:18.120000,The Indian Republic Trophy,Class 2 / Horses Rated 45 to 65,1200M,6y,b m

In [48]:
place_grp['Odds'].value_counts(normalize = True).loc[13]

Odds
60    0.666667
25    0.166667
40    0.166667
Name: Odds, dtype: float64

In [49]:
odds_grp = df.groupby(['Odds'])

In [50]:
odds_grp['Pl'].value_counts(normalize = True).head(20)

Odds  Pl
1     1     1.000000
2     1     1.000000
3     1     0.333333
      2     0.250000
      5     0.166667
      3     0.083333
      4     0.083333
      6     0.083333
4     3     0.333333
      4     0.222222
      1     0.166667
      2     0.166667
      7     0.055556
      9     0.055556
5     2     0.187500
      3     0.187500
      1     0.125000
      6     0.125000
      7     0.125000
      4     0.062500
Name: Pl, dtype: float64

In [51]:
odds_grp['Pl'].value_counts(normalize = True).loc[20]

Pl
4     0.150943
7     0.113208
8     0.113208
9     0.113208
3     0.103774
10    0.084906
6     0.075472
11    0.075472
5     0.066038
12    0.047170
1     0.028302
2     0.028302
Name: Pl, dtype: float64

In [52]:
df.dropna(axis='index', how='any', subset=['Pl','Odds'])

,H.No,Date,Season,NoR,SRDN,Race No,Pl,Horse,Pedigree,Desc,Trainer,Jockey,Wt,Al,Dr,Sh,Won By,Dist Win,Rtg,Odds,Time,Cup,Classification,Distance,Age,Add_Desc
0,1,181102,BW1819,6,1,1,7,INKY BLACK,Mull Of Kintyre(USA)-Isabellas Treasure(IRE),4y dk b m,K P G Appu,Arshad Alam,60.0,-,1.0,A,SHD,5.50,20,8,00:01:08.950000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,4y,dk b m
1,2,181102,BW1819,6,1,1,4,SHEER MAGIC,Burden Of Proof(IRE)-Ripple Of Pride(IRE),4y b m,Azhar Ali,Md Akram,59.5,-4,5.0,A,2.25,1.50,19,8,00:01:08.290000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,4y,b m
2,3,181102,BW1819,6,1,1,3,DESERT GILT,Sussex(GB)-Ippodamia,6y b g,F Sirajuddin,Antony Raj S,59.0,2,3.0,A,LNK,1.50,18,43505,00:01:08.220000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,6y,b g
3,4,181102,BW1819,6,1,1,5,PURITY,Lucifer Sam(USA)-Anna,4y dk b m,Arjun Mangalorkar,Mudassar Nazar,58.5,-,8.0,A,1.25,3.75,17,12,00:01:08.680000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,4y,dk b m
4,5,181102,BW1819,6,1,1,2,TUDOR PRINCE,Arazan(IRE)-Persa,5y b g,Aravind Ganapathy,A Imran Khan,58.5,-,2.0,A,SHD,1.50,17,43570,00:01:08.220000,The Inauguration Plate,Class 5 / Horses Rated 00 to 20,1100M,5y,b g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,6,181229,BW1819,8,13,8,4,INDIAN BRAHMOS,Samhoon(USA)-Fall Of The Hammer,6y ch g,S Inayathulla,K Sai Kiran,58.5,NaN,8.0,A,43558,0.50,32,15,00:01:28.810000,The Bellary Plate Div-1,"Class 4 / Horses Rated 15 to 35, 5 Years Old a...",1400M,6y,ch g
1004,7,181229,BW1819,8,13,8,2,COLOUR OF GOLD,Mr Mellon(USA)-Secret Paradise,8y dk b m,Sharat Kumar,H G Rathod,58.0,NaN,4.0,A,43497,NaN,31,8,00:01:28.690000,The Bellary Plate Div-1,"Class 4 / Horses Rated 15 to 35, 5 Years Old a...",1400M,8y,dk b m
1005,8,181229,BW1819,8,13,8,3,PRINCEAZEEM,Juniper(USA)-Sound Of Silence,7y b g,M Rajendra Singh,T S Jodha,58.0,NaN,10.0,A,SNK,0.50,31,4,00:01:28.780000,The Bellary Plate Div-1,"Class 4 / Horses Rated 15 to 35, 5 Years Old a...",1400M,7y,b g
1006,9,181229,BW1819,8,13,8,6,FIORENZO,Rebuttal(USA)-Treimhse Tirim(USA),5y b g,Irfan Ghatala,Anjar Alam,57.5,NaN,6.0,A,2.25,2.25,30,12,00:01:29.100000,The Bellary Plate Div-1,"Class 4 / Horses Rated 15 to 35, 5 Years Old a...",1400M,5y,b g
1007,10,181229,BW1819,8,13,8,8,AS GOOD AS IT GETS,Royal Gladiator-Maxim's,8y b g,K Pradeep Annaiah,A R Pradeep,56.5,NaN,7.0,A,2.25,8.75,28,6,00:01:30.180000,The Bellary Plate Div-1,"Class 4 / Horses Rated 15 to 35, 5 Years Old a...",1400M,8y,b g

In [53]:
df['Age']

0       4y
1       4y
2       6y
3       4y
4       5y
        ..
2184    4y
2185    7y
2186    4y
2187    7y
2188    4y
Name: Age, Length: 2112, dtype: object

In [54]:
df['Age']= df['Age'].str.strip('y').astype(int)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2112 entries, 0 to 2188
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   H.No            2112 non-null   int64
 1   Date            2112 non-null   int64
 2   Season          2112 non-null   object
 3   NoR             2112 non-null   int64
 4   SRDN            2112 non-null   int64
 5   Race No         2112 non-null   int64
 6   Pl              2112 non-null   int32
 7   Horse           2112 non-null   object
 8   Pedigree        2112 non-null   object
 9   Desc            2112 non-null   object
 10  Trainer         2112 non-null   object
 11  Jockey          2112 non-null   object
 12  Wt              2112 non-null   float64
 13  Al              524 non-null    object
 14  Dr              2112 non-null   float64
 15  Sh              2112 non-null   object
 16  Won By          1892 non-null   object
 17  Dist Win        1861 non-null   float64
 18  Rtg             1956 non-null   object
 19  Odds            896 non-null    object
 20  Time            2110 non-null   object
 21  Cup             2112 non-null   object
 22  Classification  2112 non-null   object
 23  Distance        2112 non-null   object
 24  Age             2112 non-null   int32
 25  Add_Desc        2112 non-null   object
dtypes: float64(3), int32(2), int64(5), object(16)
memory usage: 429.0+ KB

In [56]:
place_grp['Age'].mean()

Pl
1     4.262376
2     4.465347
3     4.546798
4     4.756219
5     4.835000
6     4.797980
7     5.047368
8     4.989189
9     5.145455
10    5.041096
11    5.039683
12    5.189189
13    5.000000
14    4.333333
Name: Age, dtype: float64

In [57]:
place_grp['Age'].median()

Pl
1     4.0
2     4.0
3     4.0
4     5.0
5     5.0
6     5.0
7     5.0
8     5.0
9     5.0
10    5.0
11    5.0
12    5.0
13    5.0
14    4.5
Name: Age, dtype: float64