In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [3]:
# data = pd.concat(pd.read_excel(r'C:\Users\Testing\NEW METHOD FILE.xlsx', sheet_name=None), ignore_index=True)
# data = pd.read_excel(r'C:\Users\Testing\Downloads\NEW METHOD 210822 (1).xlsx')
# data.dropna(subset=['Sr #'], inplace=True)###########

data = pd.read_excel(r'C:\Users\Testing\Downloads\ALL METHODS - MASTER FILE (1).xlsb', engine='pyxlsb')
data['Date']= pd.to_datetime(data['Date'], unit='D', origin='1899-12-30T00:00:00.000000000')
data.rename(columns = {'CENTER':'Centre', 'VENUE ID': 'Venue ID', 'R No #': 'Race No', 'RES': 'Result', 'CLASS': 'Class', 'DIST': 'Dist'}, inplace = True)
data.Dist.replace([np.nan],[0],inplace=True)
data.Class.replace([np.nan],['-'],inplace=True)
data.Jockey.replace([np.nan],['-'],inplace=True)
data.Trainer.replace([np.nan],['-'],inplace=True)
data['Horse Name'].replace([np.nan],['-'],inplace=True)
data['Sr #'] = [x+1 for x in data.index]
data['Rtg'] = [0]*len(data)
data['Penalty'] = [0]*len(data)
data['Time in S'] = [0]*len(data)
data['Time'] = [0]*len(data)
data['Odds'] = [0]*len(data)

data.rename(columns = {'Center':'Season', 'Horse Name': 'Horse', 'Dist': 'Distance', }, inplace = True)

data.Age.replace([np.nan, '3y', '5y', '4y', '6y', '7y', '8y', '9y', '2y', '0y', '14y', '10y', '11y', '12y', '1y'],[0, 3, 5, 4, 6, 7, 8, 9, 2, 0, 14, 10, 11, 12, 1],inplace=True)
data.Result.replace(['DNC', 'NC', 'DNF', 'DR', 'W'],[0,0,0,0,0], inplace=True)
data.Jockey.replace([np.nan], [""],inplace=True)
data.Trainer.replace([np.nan], [""],inplace=True)
data['LBW'].replace([np.nan, 'W'], [0,0], inplace=True)
data['Sh'].replace(['s', 'a', np.nan], ['S','A','-'], inplace=True)

data['combined_data'] = list(zip(data.Age, data.Result))
data['LBW2'] = ((data['Result']==2).replace([False, True], [0, 1]))*data['LBW']
# data['LBW2'].replace([''], [], inplace=True)

data['RunNo.']=[-1]*len(data)

data['Dr'].replace([np.nan], [0], inplace=True)
data['Dr'] = data.Dr.astype(int)
data['Date'] = data['Date'].dt.date

data.drop(columns=['Time'], inplace=True)
###########################
new = data['Venue ID'].str.split("=", n = 1, expand = True)
data['Venue ID'] = new[1]
data['Venue ID'] = data['Venue ID'].astype(int)
data['Venue Name'] = data['Venue ID'].replace([1,2,3,4,7,8,9,10,11], ['KOL', 'MUM', 'BLR', 'CHE', 'DEL', 'MYS', 'OOT', 'PUN', 'HYD'])
# data['Sr #'] = data['Sr #'].astype(int)
# data['Distance'] = data['Distance'].astype(int)
# data['Race No'] = data['Race No'].astype(int)

In [4]:
# ["Date", "Venue ID","Season", "Race No", "combined_data"]
# [x for x in df['combined_data'].unique() if type(x)!=str]

In [5]:
data.head(50)

,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Horse,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,combined_data,LBW2,RunNo.,Venue Name
0,B1,2008-05-17,BS08,BLR,3,3y,1200.0,1,AQUITAINE,3,M NARREDU,-,54.5,1,A,1,0.00,1,0,0,0,0,"(3, 1)",0.00,-1,BLR
1,B2,2008-05-17,BS08,BLR,3,3y,1200.0,1,PLEASURING,3,B PRAKASH,S GANAPATHY,54.5,8,S,2,7.50,2,0,0,0,0,"(3, 2)",7.50,-1,BLR
2,B3,2008-05-17,BS08,BLR,3,3y,1200.0,1,MINT,3,A IMRAN KHAN,J S DHARIWAL,54.5,11,A,3,10.25,3,0,0,0,0,"(3, 3)",0.00,-1,BLR
3,B4,2008-05-17,BS08,BLR,3,3y,1200.0,1,YOU BEAUTY,3,Ms LISA JONES,-,54.5,10,A,4,12.25,4,0,0,0,0,"(3, 4)",0.00,-1,BLR
4,B5,2008-05-17,BS08,BLR,3,3y,1200.0,1,JUST GREAT,3,D GNANESHWAR,AMIT CADDY,56.0,6,S,5,12.25,5,0,0,0,0,"(3, 5)",0.00,-1,BLR
5,B6,2008-05-17,BS08,BLR,3,3y,1200.0,1,FLYING FLAME,3,JAGDISH SHUKLA,V LOKANATH,54.5,12,S,6,13.50,6,0,0,0,0,"(3, 6)",0.00,-1,BLR
6,B7,2008-05-17,BS08,BLR,3,3y,1200.0,1,FLIP YOUR DESTINY,3,J E PEREIRA,G NITYANAND,56.0,3,S,7,19.25,7,0,0,0,0,"(3, 7)",0.00,-1,BLR
7,B8,2008-05-17,BS08,BLR,3,3y,1200.0,1,TAKE MY WORD,3,V R JAGADEESH,F SIRAJUDDIN,56.0,7,S,8,22.50,8,0,0,0,0,"(3, 8)",0.00,-1,BLR
8,B9,2008-05-17,BS08,BLR,3,3y,1200.0,1,THUNDERS ROAR,3,SHANTH KUMAR,S NARREDU,56.0,9,S,9,27.25,9,0,0,0,0,"(3, 9)",0.00,-1,BLR
9,B10,2008-05-17,BS08,BLR,3,3y,1200.0,1,VIJAY DHANUSH,3,G Y RAJESH BABU,LAXMAN SINGH,56.0,4,A,10,27.25,10,0,0,0,0,"(3, 10)",0.00,-1,BLR
10,B11,2008-05-17,BS08,BLR,3,3y,1200.0,1,SANFRANCISCO GIRL,3,P S CHOUHAN,WARREN SINGH,54.5,2,S,11,30.00,11,0,0,0,0,"(3, 11)",0.00,-1,BLR
11,B12,2008-05-17,BS08,BLR,3,3y,1200.0,1,DYNAMIC TREND,3,S BABU,KARAN SINGH,54.5,5,S,12,30.00,12,0,0,0,0,"(3, 12)",0.00,-1,BLR
12,B13,2008-05-17,BS08,BLR,3,3y,1400.0,2,SALSERA,3,M NARREDU,-,54.5,7,A,1,0.00,13,0,0,0,0,"(3, 1)",0.00,-1,BLR
13,B14,2008-05-17,BS08,BLR,3,3y,1400.0,2,STAR PRESENTATION,3,NOT AVAILABLE,-,56.0,9,A,2,1.50,14,0,0,0,0,"(3, 2)",1.50,-1,BLR
14,B15,2008-05-17,BS08,BLR,3,3y,1400.0,2,ENDURING STAR,3,WAYNE SMITH,FARAZ ARSHAD,56.0,8,A,3,10.00,15,0,0,0,0,"(3, 3)",0.00,-1,BLR
15,B16,2008-05-17,BS08,BLR,3,3y,1400.0,2,TALL GUY,3,SHADAB KHAN,F SIRAJUDDIN,56.0,4,S,4,11.00,16,0,0,0,0,"(3, 4)",0.00,-1,BLR
16,B17,2008-05-17,BS08,BLR,3,3y,1400.0,2,BULLISH LUCK,3,S RAMESH,-,54.5,3,A,5,11.00,17,0,0,0,0,"(3, 5)",0.00,-1,BLR
17,B18,2008-05-17,BS08,BLR,3,3y,1400.0,2,AHIRA,3,S SELVARAJ,IRFAN GHATALA,54.5,12,A,6,13.00,18,0,0,0,0,"(3, 6)",0.00,-1,BLR
18,B19,2008-05-17,BS08,BLR,3,3y,1400.0,2,LET THE RIVER RUN,3,D GNANESHWAR,NEIL DARASHAH,54.5,6,S,7,17.50,19,0,0,0,0,"(3, 7)",0.00,-1,BLR
19,B20,2008-05-17,BS08,BLR,3,3y,1400.0,2,YAMAGUCHI,3,SURAJ NARREDU,AMIT CADDY,56.0,11,A,8,17.50,20,0,0,0,0,"(3, 8)",0.00,-1,BLR
20,B21,2008-05-17,BS08,BLR,3,3y,1400.0,2,KICKINGKING,3,K GOPAL RAO,V LOKANATH,56.0,5,A,9,19.50,21,0,0,0,0,"(3, 9)",0.00,-1,BLR
21,B22,2008-05-17,BS08,BLR,3,3y,1400.0,2,IVORY SNOW,3,CH K CHARY,L D SILVA,54.5,10,A,10,22.25,22,0,0,0,0,"(3, 10)",0.00,-1,BLR
22,B23,2008-05-17,BS08,BLR,3,3y,1400.0,2,COLLEGE GIRL,3,M F ALI KHAN,LAXMAN SINGH,54.5,1,A,11,26.75,23,0,0,0,0,"(3, 11)",0.00,-1,BLR
23,B24,2008-05-17,BS08,BLR,3,3y,1400.0,2,SILK FEATHER,3,S BABU,KARAN SINGH,54.5,2,S,12,32.25,24,0,0,0,0,"(3, 12)",0.00,-1,BLR
24,B25,2008-05-17,BS08,BLR,3,V,1200.0,3,SPREAD A SMILE,5,SURAJ NARREDU,V LOKANATH,56.5,11,S,1,0.00,25,0,0,0,0,"(5, 1)",0.00,-1,BLR
25,B26,2008-05-17,BS08,BLR,3,V,1200.0,3,KING OF GOOD TIMES,4,KHURSHAD ALAM,S BRITTO,55.5,3,S,2,3.50,26,0,0,0,0,"(4, 2)",3.50,-1,BLR
26,B27,2008-05-17,BS08,BLR,3,V,1200.0,3,PRINCESS EMILY,6,R KOCH,S NARREDU,60.5,1,S,3,4.00,27,0,0,0,0,"(6, 3)",0.00,-1,BLR
27,B28,2008-05-17,BS08,BLR,3,V,1200.0,3,WHISPER VALLEY,4,B SREEKANTH,V LOKANATH,61.5,2,A,4,4.75,28,0,0,0,0,"(4, 4)",0.00,-1,BLR
28,B29,2008-05-17,BS08,BLR,3,V,1200.0,3,EVENT HORIZON,4,A ASHOK KUMAR,G NITYANAND,58.5,10,S,5,6.75,29,0,0,0,0,"(4, 5)",0.00,-1,BLR
29,B30,2008-05-17,BS08,BLR,3,V,1200.0,3,ASPIRING SEVEN,5,V R JAGADEESH,AMIT CADDY,50.0,9,S,6,9.75,30,0,0,0,0,"(5, 6)",0.00,-1,BLR
30,B31,2008-05-17,BS08,BLR,3,V,1200.0,3,AMAZING FLORA,4,KISHORE KADAM,NEIL DARASHAH,62.5,7,S,7,13.75,31,0,0,0,0,"(4, 7)",0.00,-1,BLR
31,B32,2008-05-17,BS08,BLR,3,V,1200.0,3,ZIGGY STARDUST,5,M J GAUTAM RAJ URS,WARREN SINGH,56.0,6,S,8,14.50,32,0,0,0,0,"(5, 8)",0.00,-1,BLR
32,B33,2008-05-17,BS08,BLR,3,V,1200.0,3,ASTONICAL,4,JAGDISH SHUKLA,V LOKANATH,56.5,4,S,9,14.50,33,0,0,0,0,"(4, 9)",0.00,-1,BLR
33,B34,2008-05-17,BS08,BLR,3,V,1200.0,3,FLYING JET,4,HIMANSHU,SAMAR SINGH,57.5,5,S,10,18.50,34,0,0,0,0,"(4, 10)",0.00,-1,BLR
34,B35,2008-05-17,BS08,BLR,3,V,1200.0,3,MOTIVATIONAL,4,R RAVI,FARAZ ARSHAD,60.0,8,S,11,28.00,35,0,0,0,0,"(4, 11)",0.00,-1,BLR
35,B36,2008-05-17,BS08,BLR,3,V,1200.0,3,SPRINT QUEEN,4,JAYAPRAKASH,PILLAY J S,52.5,12,S,12,28.00,36,0,0,0,0,"(4, 12)",0.00,-1,BLR
36,B37,2008-05-17,BS08,BLR,3,IV,1100.0,4,POETIC,3,NOT AVAILABLE,-,61.0,9,S,1,0.00,37,0,0,0,0,"(3, 1)",0.00,-1,BLR
37,B38,2008-05-17,BS08,BLR,3,IV,1100.0,4,SHOWHORSE,4,M NARREDU,S NARREDU,62.0,7,A,2,1.75,38,0,0,0,0,"(4, 2)",1.75,-1,BLR
38,B39,2008-05-17,BS08,BLR,3,IV,1100.0,4,SMART N SPECIAL,4,HIMANSHU,SAMAR SINGH,57.0,3,S,3,4.00,39,0,0,0,0,"(4, 3)",0.00,-1,BLR
39,B40,2008-05-17,BS08,BLR,3,IV,1100.0,4,TRAFALGAR SQUARE,4,J E PEREIRA,AMIT CADDY,52.0,2,S,4,7.25,40,0,0,0,0,"(4, 4)",0.00,-1,BLR
40,B41,2008-05-17,BS08,BLR,3,IV,1100.0,4,VOICE OF INDIA,3,VIJAY KUMAR,N A PONNAPPA,51.0,4,S,5,8.75,41,0,0,0,0,"(3, 5)",0.00,-1,BLR
41,B42,2008-05-17,BS08,BLR,3,IV,1100.0,4,WORTH A MILLION,6,M J GAUTAM RAJ URS,WARREN SINGH,57.0,5,S,6,9.25,42,0,0,0,0,"(6, 6)",0.00,-1,BLR
42,B43,2008-05-17,BS08,BLR,3,IV,1100.0,4,COSTA MESA,3,B MUKESH,L D SILVA,62.5,10,A,7,11.00,43,0,0,0,0,"(3, 7)",0.00,-1,BLR
43,B44,2008-05-17,BS08,BLR,3,IV,1100.0,4,SILVER ROSE,3,G Y RAJESH BABU,LAXMAN SINGH,62.5,8,A,8,13.75,44,0,0,0,0,"(3, 8)",0.00,-1,BLR
44,B45,2008-05-17,BS08,BLR,3,IV,1100.0,4,MISS HONEYDEW,3,CH K CHARY,NEIL DARASHAH,58.5,11,A,9,13.75,45,0,0,0,0,"(3, 9)",0.00,-1,BLR
45,B46,2008-05-17,BS08,BLR,3,IV,1100.0,4,SUPER SPEAR,3,V R JAGADEESH,V NARAYANA GOWDA,51.5,6,S,10,16.00,46,0,0,0,0,"(3, 10)",0.00,-1,BLR
46,B47,2008-05-17,BS08,BLR,3,IV,1100.0,4,LITTLE PREMIUM,5,SHANTH KUMAR,V LOKANATH,51.5,1,S,11,17.00,47,0,0,0,0,"(5, 11)",0.00,-1,BLR
47,B48,2008-05-17,BS08,BLR,3,III,1400.0,5,STAR WAVE,3,B PRAKASH,S GANAPATHY,55.5,6,A,1,0.00,48,0,0,0,0,"(3, 1)",0.00,-1,BLR
48,B49,2008-05-17,BS08,BLR,3,III,1400.0,5,MILAGRO,4,VINOD SHINDE,IRFAN GHATALA,54.5,2,A,2,2.00,49,0,0,0,0,"(4, 2)",2.00,-1,BLR
49,B50,2008-05-17,BS08,BLR,3,III,1400.0,5,REPIQUE,3,A IMRAN KHAN,FARAZ ARSHAD,54.0,5,A,3,5.25,50,0,0,0,0,"(3, 3)",0.00,-1,BLR

In [6]:
len(data)

241562

In [7]:
blrdf = data.loc[(data['Season'] == 'BS19') | (data['Season'] == 'BW19') | (data['Season'] == 'BW20')]
pu19df = data.loc[(data['Season'] == 'PU19')]
distdf = data.loc[(data['Distance'] == 1200)]
wtdf = data.loc[(data['Wt'] == 59.0)]
df = data

In [8]:
[x for x in df['LBW2'].unique() if type(x)==str]
df.loc[df['LBW2']=='']

C:\Users\Testing\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [C-Sr#, Date, Season, Centre, Venue ID, Class, Distance, Race No, Horse, Age, Jockey, Trainer, Wt, Dr, Sh, Result, LBW, Sr #, Rtg, Penalty, Time in S, Odds, combined_data, LBW2, RunNo., Venue Name]
Index: []

In [9]:
combo=[(3, 1), (5,2)]
m = df.groupby(["Date", "Venue ID","Season", "Race No", "combined_data"], as_index=True).size().unstack(
    fill_value=0)
mis_col = [i for i in combo if i not in m.columns]
for col in mis_col:
    m[col] = [0] * len(m)
m = m[combo]
n = df.groupby(["Date", "Venue ID","Season", "Race No"], as_index=True)['LBW2'].sum()
l=df.groupby(["Date", "Venue ID","Season", "Race No","Result"], as_index=True).size().unstack(fill_value=0)
race_stats = pd.concat([m, n, l], axis=1)
race_stats['LBW2'] = race_stats['LBW2']/race_stats[2]
race_stats.reset_index(inplace=True)
race_stats = race_stats[["Date", "Venue ID","Season", "Race No"] + combo + ["LBW2"]]
race_stats.index = np.arange(1, len(race_stats) + 1)
race_stats['initial_conditions'] = race_stats[(3,1)]*race_stats[(5,2)] & (race_stats['LBW2'] <= 0.75)
race_stats

,Date,Venue ID,Season,Race No,"(3, 1)","(5, 2)",LBW2,initial_conditions
1,2008-05-17,3,BS08,1,1,0,7.50,False
2,2008-05-17,3,BS08,2,1,0,1.50,False
3,2008-05-17,3,BS08,3,0,0,3.50,False
4,2008-05-17,3,BS08,4,1,0,1.75,False
5,2008-05-17,3,BS08,5,1,0,2.00,False
...,...,...,...,...,...,...,...,...
13297,2021-11-01,3,BW20,4,1,0,4.25,False
13298,2021-11-01,3,BW20,5,0,0,0.75,False
13299,2021-11-01,3,BW20,6,0,0,2.00,False
13300,2021-11-01,3,BW20,7,1,0,2.00,False
13301,2021-11-01,3,BW20,8,0,1,4.00,False

In [10]:
qualifying_races = race_stats.loc[race_stats['initial_conditions']==1]
qualifying_races = qualifying_races[["Date", "Season", "Race No","Venue ID"]]
qualifying_races

             Date Season  Race No  Venue ID
270    2008-11-21   BW08       26         3
331    2008-12-27   BW08       87         3
695    2009-07-30   BS09      178         3
847    2009-12-12   BW09       69         3
1753   2011-07-12   KM11        2         1
2034   2011-10-18   KM11      149         1
2046   2011-10-19   KM11      160         1
2056   2011-10-30   KW11        3         1
2057   2011-10-30   KW11        4         1
2119   2011-11-17    M11       15         2
2147   2011-11-20    M11       19         2
2238   2011-12-09   KW11       58         1
2324   2011-12-20   KW11       90         1
3415   2012-09-22   KM12      119         1
4901   2013-10-09   KM13      159         1
5043   2013-11-26   KW13       45         1
5104   2013-12-07   KW13       59         1
6330   2014-11-01   KW14        2         1
6391   2014-11-20    M14       14         2
6603   2014-12-25    M14       82         2
7298   2015-06-14   BS15       89         3
7365   2015-07-11   BS15      149         3
7805   2015-12-08   KW15       62         1
9855   2017-05-20   BS17       18         3
10075  2017-08-16   KM17       44         1
10129  2017-09-06   KM17       76         1
10410  2017-12-16    M17       54         2
10485  2017-12-28    M17       86         2
11179  2018-07-08   BS18       15         3
11245  2018-09-18   KM18       13         1
11742  2019-03-09   KW18       20         1
12071  2019-12-08    M19        8         2
12385  2020-02-25   KW19       20         1
12489  2020-11-22   HW20        2        11

In [11]:
qualifying_races_detailed = pd.merge(qualifying_races, df, on=["Date", "Season", "Race No"])

qualifying_races_detailed.set_index(["Date", "Season", "Race No"], inplace=True)
qualifying_races_detailed.drop(columns=['LBW2', 'combined_data'], inplace=True)
qualifying_races_detailed

                           Venue ID_x   C-Sr# Centre  Venue ID_y Class  \
Date       Season Race No
2008-11-21 BW08   26                3   B2304    BLR           3     I
                  26                3   B2305    BLR           3     I
                  26                3   B2306    BLR           3     I
                  26                3   B2307    BLR           3     I
                  26                3   B2308    BLR           3     I
...                               ...     ...    ...         ...   ...
2020-11-22 HW20   2                11  H37146    HYD          11    II
                  2                11  H37147    HYD          11    II
                  2                11  H37148    HYD          11    II
                  2                11  H37149    HYD          11    II
                  2                11  H37150    HYD          11    II

                           Distance                Horse  Age          Jockey  \
Date       Season Race No
2008-11-21 BW08   26         1400.0      FLEETING ARROW    3  SAMUEL FARGEAT
                  26         1400.0            JET FIRE    5   SURAJ NARREDU
                  26         1400.0            EINSTEIN    5      K P G APPU
                  26         1400.0  FANTABULOUS PRINCE    5    GAURAV SAPRA
                  26         1400.0        JERSEY PRIDE    5   A ASHOK KUMAR
...                             ...                  ...  ...             ...
2020-11-22 HW20   2          1200.0           STARLIGHT     6     Kiran Naidu
                  2          1200.0          MY JOURNEY     4   Kuldeep Singh
                  2          1200.0    N R I SUPER KING     5     R N Darshan
                  2          1200.0     WARRIOR SUPREME     6       Md Ismail
                  2          1200.0       SMASHING BLUE     3    Akshay Kumar

                                 Trainer    Wt  Dr Sh  Result   LBW    Sr #  \
Date       Season Race No
2008-11-21 BW08   26          J BABU RAO  56.0   6  A       1  0.00    2304
                  26       IRFAN GHATALA  59.5   7  A       2  0.00    2305
                  26            M ESHWER  61.5   1  A       3  1.75    2306
                  26        SHARAT KUMAR  50.5   4  A       4  2.50    2307
                  26            M ESHWER  61.5   3  A       5  3.00    2308
...                                  ...   ...  .. ..     ...   ...     ...
2020-11-22 HW20   2           S Sreekant  56.5   5  A       6  4.75  118218
                  2         Laxman Singh  55.5  10  A      10  8.50  118219
                  2           S Sreekant  55.5   8  A       4  4.00  118220
                  2              D Netto  53.5   9  A       3  4.00  118221
                  2         R H Sequeira  50.0   4  A       1  0.00  118222

                           Rtg  Penalty  Time in S  Odds  RunNo. Venue Name
Date       Season Race No
2008-11-21 BW08   26         0        0          0     0      -1        BLR
                  26         0        0          0     0      -1        BLR
                  26         0        0          0     0      -1        BLR
                  26         0        0          0     0      -1        BLR
                  26         0        0          0     0      -1        BLR
...                        ...      ...        ...   ...     ...        ...
2020-11-22 HW20   2          0        0          0     0      -1        HYD
                  2          0        0          0     0      -1        HYD
                  2          0        0          0     0      -1        HYD
                  2          0        0          0     0      -1        HYD
                  2          0        0          0     0      -1        HYD

[557 rows x 22 columns]

In [12]:
# qualifying_races_detailed.loc[(qualifying_races.loc[138, 'Date'], qualifying_races.loc[138, 'Season'], qualifying_races.loc[138, 'Race No'])]

KeyError: 138

In [13]:
qualified_horses = qualifying_races_detailed.loc[qualifying_races_detailed['Result']==2]
qualified_horses.reset_index(inplace=True)
qualified_horses.index = np.arange(1, len(qualified_horses) + 1)

qualified_horses.columns.tolist()
qualified_horses = qualified_horses[['Horse', 'Date', 'Season', 'Race No', 'Sr #', 'Trainer', 'Rtg', 'Class', 'Distance','Age',
 'Wt', 'Jockey', 'Dr', 'Sh', 'Result', 'LBW', 'Penalty', 'Time in S', 'RunNo.']]

In [14]:
qualified_horses

,Horse,Date,Season,Race No,Sr #,Trainer,Rtg,Class,Distance,Age,Wt,Jockey,Dr,Sh,Result,LBW,Penalty,Time in S,RunNo.
1,JET FIRE,2008-11-21,BW08,26,2305,IRFAN GHATALA,0,I,1400.0,5,59.5,SURAJ NARREDU,7,A,2,0.00,0,0,-1
2,ALEKONA,2008-12-27,BW08,87,2928,M B MANGALORKAR,0,I,1600.0,5,68.0,SAMUEL FARGEAT,9,A,2,0.00,0,0,-1
3,PRINCE NORBERT,2009-07-30,BS09,178,6465,B PUTTANNA,0,V,2000.0,5,55.0,V R JAGADEESH,5,A,2,0.00,0,0,-1
4,BUCK PASSER JUNIOR,2009-12-12,BW09,69,7502,WARREN SINGH,0,IV,1400.0,5,56.5,AMYN MERCHANT,3,S,2,0.00,0,0,-1
5,ORIENTAL MAGIC,2011-07-12,KM11,2,121180,ARTI DOCTOR,0,V,1000.0,5,60.0,MD SAMEER,10,A,2,0.50,0,0,-1
6,YAMLAPAGLADEEWANA,2011-10-18,KM11,149,122424,BATH,0,IV,1400.0,5,55.5,SHEZAD KHAN,8,A,2,0.20,0,0,-1
7,DEVIL IN DISGUISE,2011-10-19,KM11,160,122510,FAISAL A ABBAS,0,IV,1800.0,5,60.5,S SUNIL,6,S,2,0.20,0,0,-1
8,FLAMINGO FANTASY,2011-10-30,KW11,3,122537,D M DAVID,0,III,1600.0,5,53.5,I KHAN,6,S,2,0.20,0,0,-1
9,STALKER,2011-10-30,KW11,4,122544,P QUINN,0,IV,1400.0,5,55.0,VIKASH TAMANG,1,A,2,0.20,0,0,-1
10,EYE OF THE STORM,2011-11-17,M11,15,212231,NARENDRA LAGAD,0,IV,1400.0,5,62.0,SHRIKANT KAMBLE,8,A,2,0.20,0,0,-1
11,FOREST FLAIR,2011-11-20,M11,19,212257,KARTHIK GANAPATHY,0,I,1200.0,5,67.0,AKSHAY,5,A,2,0.20,0,0,-1
12,IJLAL,2011-12-09,KW11,58,123075,JAVED KHAN,0,V,1200.0,5,58.0,A M TOGRALLU,7,A,2,0.20,0,0,-1
13,ARCTIC FORCE,2011-12-20,KW11,90,123366,VIKASH JAISWAL,0,IV,1200.0,5,56.0,MALCOLM MASEYK,8,S,2,0.20,0,0,-1
14,CREDIT SWAP,2012-09-22,KM12,119,126015,SHAFIQ KHAN,0,V,2000.0,5,61.5,N S PARMAR,4,S,2,0.75,0,0,-1
15,WELCOME SMILE,2013-10-09,KM13,159,130433,ARTI DOCTOR,0,III,1200.0,5,60.0,SHEZAD KHAN,2,A,2,0.75,0,0,-1
16,EROS,2013-11-26,KW13,45,130868,F RODRIGUES,0,IV,2000.0,5,50.5,NITIN SINGH,2,A,2,0.20,0,0,-1
17,STAR SUCCESS,2013-12-07,KW13,59,131002,JASBIR SINGH,0,V,1100.0,5,50.5,MOHIT SINGH,2,S,2,0.50,0,0,-1
18,BURST OF STARDUST,2014-11-01,KW14,2,134329,R W ALFORD,0,IV,1200.0,5,55.0,B NIKHIL,7,S,2,0.20,0,0,-1
19,MATEUS ROSE,2014-11-20,M14,14,223144,NARENDRA LAGAD,0,IV,1000.0,5,57.5,DASHRATH SINGH,5,A,2,0.75,0,0,-1
20,GLORIOUS CROWN,2014-12-25,M14,82,223746,ADIL DAJEE,0,V,1000.0,5,59.0,S MOSIN,4,A,2,0.75,0,0,-1
21,STIMULATE,2015-06-14,BS15,89,35462,ARJUN MANGALORKAR,0,III,1400.0,5,59.5,HINDU SINGH,9,A,2,0.75,0,0,-1
22,PRICELESS ACE,2015-07-11,BS15,149,36098,S PADMANABHAN,0,II,1400.0,5,50.5,S ZERVAN,9,A,2,0.00,0,0,-1
23,PRESENCE,2015-12-08,KW15,62,138010,RAUNAK BANERJI,0,III,1600.0,5,55.5,DASHRATH SINGH,2,A,2,0.75,0,0,-1
24,THUNDERSQUALL,2017-05-20,BS17,18,44577,F SIRAJUDDIN,0,IV,1400.0,5,58.0,S A AMIT,7,A,2,0.00,0,0,-1
25,MAJESTIC,2017-08-16,KM17,44,143277,SHAFIQ KHAN,0,IV,1400.0,5,59.0,RANIDAN SINGH,2,S,2,0.50,0,0,-1
26,BOURNVILLE,2017-09-06,KM17,76,143544,DEEPAK KARKI,0,IV,1100.0,5,55.5,C ALFORD,10,S,2,0.20,0,0,-1
27,ABBEY,2017-12-16,M17,54,233307,FAISAL A ABBAS,0,I,1000.0,5,57.0,P TREVOR,5,A,2,0.50,0,0,-1
28,FLYING DRAGON,2017-12-28,M17,86,233623,S S SHAH,0,III,1600.0,5,57.0,RAGHUVEER SINGH,1,A,2,0.20,0,0,-1
29,WINGS OF DESIRE,2018-07-08,BS18,15,49013,S DOMINIC,0,M-3y,1200.0,3,54.5,P TREVOR,6,A,2,0.75,0,0,-1
30,TOUCH YOUR DESTINY,2018-07-08,BS18,15,49021,S DOMINIC,0,IV,1400.0,3,55.0,T S JODHA,8,A,2,1.75,0,0,-1
31,LADY BARRINGTON,2018-07-08,BS18,15,49032,RAJESH NARREDU,0,III,1100.0,4,57.5,SURAJ NARREDU,12,A,2,0.20,0,0,-1
32,LADY IN LACE,2018-07-08,BS18,15,49044,K S V PRASAD RAJU,0,T-4y&o,2200.0,4,59.0,SURAJ NARREDU,3,A,2,0.75,0,0,-1
33,GYPSY,2018-07-08,BS18,15,49053,IRFAN GHATALA,0,II,1200.0,5,59.5,SURAJ NARREDU,1,A,2,0.20,0,0,-1
34,RHAPSODYEIN QUEEN,2018-07-08,BS18,15,49066,SHARAT KUMAR,0,V,1200.0,4,60.0,IRVAN SINGH,4,A,2,0.20,0,0,-1
35,HELENKA,2018-07-08,BS18,15,49079,G SANDHU,0,III,1100.0,4,60.0,S SHIVA KUMAR,12,A,2,1.25,0,0,-1
36,HAIL THE QUEEN,2018-09-18,KM18,13,147088,Vikash Jaiswal,0,V,1400.0,4,56.0,Vinay Jaiswal,2,A,2,0.75,0,0,-1
37,ALIEN,2018-09-18,KM18,13,147099,Javed Khan,0,III,1400.0,6,53.5,C S Jodha,5,A,2,0.75,0,0,-1
38,YUVAN,2018-09-18,KM18,13,147106,Vijay Singh,0,IV 3y&o,1200.0,3,60.0,Nikhil Naidu,4,A,2,0.20,0,0,-1
39,SHEER FORCE,2018-09-18,KM18,13,147117,Rutherford Alford,0,III,1200.0,3,52.5,Anil Bandal,7,A,2,0.20,0,0,-1
40,MULTITUDE,2018-09-18,KM18,13,147125,Vijay Singh,0,T-4y&o,1400.0,6,60.0,Neeraj Rawal,3,A,2,0.20,0,0,-1
41,DIXIE DIAMOND,2018-09-18,KM18,13,147132,H S Bath,0,II,1800.0,5,54.5,Neeraj Rawal,1,S,2,1.25,0,0,-1
42,FIORELLE,2018-09-18,KM18,13,147139,H S Bath,0,IV,1800.0,4,57.5,Neeraj Rawal,7,A,2,0.75,0,0,-1
43,OPTIMUM,2019-03-09,KW18,20,149055,Vikash Jaiswal,0,V,1100.0,5,60.5,P S Chouhan,3,A,2,1.00,0,0,-1
44,KEFIRA,2019-03-09,KW18,20,149069,Jasbir Singh,0,IV,1100.0,4,57.0,Rajendra Singh,11,A,2,0.20,0,0,-1
45,DANGAL,2019-03-09,KW18,20,149081,Vikash Jaiswal,0,III,1200.0,6,58.5,P S Chouhan,9,A,2,0.20,0,0,-1
46,ROXOR,2019-03-09,KW18,20,149093,Jasbir Singh,0,M-3y,1200.0,3,55.0,Mohit Singh,8,A,2,0.20,0,0,-1
47,COUP DE GRACE,2019-03-09,KW18,20,149103,Bharath Singh,0,III,1600.0,4,60.0,C Alford,4,A,2,0.20,0,0,-1
48,RULE DOWNUNDER,2019-03-09,KW18,20,149111,R W Alford,0,II,1600.0,8,60.0,P Tejeshwar,1,A,2,1.25,0,0,-1
49,POINT TO PROVE,2019-03-09,KW18,20,149119,Arjun Mangalorkar,0,T-4y,2800.0,4,57.0,Neeraj Rawal,4,A,2,1.25,0,0,-1
50,GLORIOUS RUN,2019-03-09,KW18,20,149126,H S Bath,0,IV,1400.0,6,53.5,Neeraj Rawal,1,S,2,0.20,0,0,-1
51,TANJO,2019-12-08,M19,8,238082,Nosher Cama,0,III,1200.0,5,58.0,P S Chouhan,8,A,2,0.75,0,0,-1
52,GOLD BOND,2020-02-25,KW19,20,151883,H S Bath,0,II,2000.0,6,52.5,Neeraj Rawal,2,A,2,2.00,0,0,-1
53,SUPERNORMAL,2020-02-25,KW19,20,151888,Bharath Singh,0,IV,1600.0,5,57.5,Sujit Kr Paswan,2,A,2,0.20,0,0,-1
54,BAMBINI FESTA,2020-02-25,KW19,20,151894,Vikash Jaiswal,0,V,1600.0,6,57.0,Imran Chisty,1,S,2,1.00,0,0,-1
55,COURT JESTER,2020-02-25,KW19,20,151904,Vijay Singh,0,3y,1100.0,3,58.0,Suraj Narredu,4,A,2,0.20,0,0,-1
56,MANZONI,2020-02-25,KW19,20,151910,J E Mckeown,0,III,1400.0,4,50.0,Hindu Singh,7,A,2,0.20,0,0,-1
57,RIQUEWIHR,2020-02-25,KW19,20,151917,Javed Khan,0,I,1400.0,5,53.5,Dashrath Singh,10,A,2,0.20,0,0,-1
58,SAN REMO,2020-02-25,KW19,20,151931,Arti Doctor,0,IV,1200.0,5,53.5,Imran Chisty,9,A,2,1.00,0,0,-1
59,CLASSIC REMARK,2020-11-22,HW20,2,118216,M Srinivas Reddy,0,II,1200.0,5,57.0,Gaurav Singh,2,A,2,0.75,0,0,-1

In [15]:
first_run_win = ['Demonstrate', 'Tanjo']
first_run_out = ['Land Of Liberty', 'Barog']
second_run_win = ['Highly Acclaimed', 'My Precious', 'Polyneices']
second_run_out = ['All Star General', 'Warrior Supreme', 'Dreams United']

In [16]:
for i in qualified_horses['Sr #']:
    df.loc[i-1,'RunNo.'] = 0

In [17]:
races_Q_horses = pd.merge(qualified_horses[['Horse']], df, on=["Horse"])
races_Q_horses.drop(columns=['LBW2', 'combined_data'], inplace=True)
# new.set_index(['Horse', 'Sr #'], inplace=True)
races_Q_horses

,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,RunNo.,Venue Name
0,JET FIRE,B143,2008-05-18,BS08,BLR,3,4y&o,1400.0,14,5,C ALFORD,IRFAN GHATALA,58.5,7,A,2,0.75,143,0,0,0,0,-1,BLR
1,JET FIRE,B669,2008-06-14,BS08,BLR,3,I,1400.0,70,5,S SELVARAJ,IRFAN GHATALA,60.5,3,A,4,3.25,669,0,0,0,0,-1,BLR
2,JET FIRE,B988,2008-06-28,BS08,BLR,3,I,1400.0,102,5,VINOD SHINDE,IRFAN GHATALA,59.5,5,A,3,3.00,988,0,0,0,0,-1,BLR
3,JET FIRE,B1559,2008-07-20,BS08,BLR,3,4y,1400.0,159,5,B L PASWAN,IRFAN GHATALA,54.0,3,A,5,9.50,1559,0,0,0,0,-1,BLR
4,JET FIRE,B1840,2008-08-01,BS08,BLR,3,I,1600.0,190,5,S JOHN,IRFAN GHATALA,59.5,7,A,2,1.25,1840,0,0,0,0,-1,BLR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230,CLASSIC REMARK,H33783,2019-08-18,HM19,HYD,11,II 3y&o,1200.0,9,4,Gaurav Singh,M Srinivas Reddy,57.0,9,A,2,1.50,114855,0,0,0,0,-1,HYD
1231,CLASSIC REMARK,H34812,2019-10-16,HM19,HYD,11,II 3y&o,1200.0,24,4,Gaurav Singh,M Srinivas Reddy,57.5,5,A,9,9.75,115884,0,0,0,0,-1,HYD
1232,CLASSIC REMARK,H36541,2020-02-10,HW19,HYD,11,II 5y&o,1200.0,21,5,Surya Prakash,M Srinivas Reddy,60.0,3,A,10,6.75,117613,0,0,0,0,-1,HYD
1233,CLASSIC REMARK,H37144,2020-11-22,HW20,HYD,11,II,1200.0,2,5,Gaurav Singh,M Srinivas Reddy,57.0,2,A,2,0.75,118216,0,0,0,0,0,HYD
1234,CLASSIC REMARK,H38110,2021-01-18,HW20,HYD,11,II,1200.0,6,6,Surya Prakash,M Srinivas Reddy,56.5,5,A,1,0.00,119182,0,0,0,0,-1,HYD

In [18]:
zerothindex = races_Q_horses.index[races_Q_horses['RunNo.'] == 0].tolist()
print(zerothindex)
for i in zerothindex:
    if (i+1 in races_Q_horses.index):
        if (races_Q_horses.loc[i+1, 'Horse'] == races_Q_horses.loc[i, 'Horse']):
            races_Q_horses.loc[i+1, 'RunNo.'] = 1
    if (i+2 in races_Q_horses.index):
        if (races_Q_horses.loc[i+2, 'Horse'] == races_Q_horses.loc[i, 'Horse']):
            races_Q_horses.loc[i+2, 'RunNo.'] = 2

[5, 14, 25, 74, 102, 115, 150, 186, 200, 235, 264, 286, 331, 360, 381, 406, 437, 485, 516, 556, 561, 566, 579, 620, 633, 674, 696, 716, 722, 727, 736, 742, 773, 780, 782, 789, 800, 820, 841, 869, 888, 906, 930, 949, 968, 982, 999, 1029, 1056, 1072, 1086, 1102, 1135, 1165, 1169, 1187, 1202, 1222, 1233]

In [19]:
TrackedRuns = races_Q_horses.loc[races_Q_horses['RunNo.']>=0]
# TrackedRuns.reset_index(inplace = True)
# TrackedRuns.set_index(['Horse', 'Sr #'], inplace = True)
TrackedRuns

,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,RunNo.,Venue Name
5,JET FIRE,B2305,2008-11-21,BW08,BLR,3,I,1400.0,26,5,SURAJ NARREDU,IRFAN GHATALA,59.5,7,A,2,0.00,2305,0,0,0,0,0,BLR
6,JET FIRE,B2931,2008-12-27,BW08,BLR,3,I,1600.0,87,5,S SELVARAJ,IRFAN GHATALA,61.0,12,A,5,7.50,2931,0,0,0,0,1,BLR
7,JET FIRE,B3470,2009-01-28,BW08,BLR,3,4y&o,1600.0,137,6,SURAJ NARREDU,IRFAN GHATALA,55.0,4,A,6,8.50,3470,0,0,0,0,2,BLR
14,ALEKONA,B2928,2008-12-27,BW08,BLR,3,I,1600.0,87,5,SAMUEL FARGEAT,M B MANGALORKAR,68.0,9,A,2,0.00,2928,0,0,0,0,0,BLR
25,PRINCE NORBERT,B6465,2009-07-30,BS09,BLR,3,V,2000.0,178,5,V R JAGADEESH,B PUTTANNA,55.0,5,A,2,0.00,6465,0,0,0,0,0,BLR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1222,SAN REMO,K30760,2020-02-25,KW19,KOL,1,IV,1200.0,20,5,Imran Chisty,Arti Doctor,53.5,9,A,2,1.00,151931,0,0,0,0,0,KOL
1223,SAN REMO,K30996,2020-12-01,KW20,KOL,1,IV,1100.0,0,5,R S Bhati,Arti Doctor,53.0,8,A,4,7.50,152166,0,0,0,0,1,KOL
1224,SAN REMO,K31221,2020-12-26,KW20,KOL,1,IV,1200.0,0,5,R S Bhati,Arti Doctor,56.5,6,A,2,6.00,152391,0,0,0,0,2,KOL
1233,CLASSIC REMARK,H37144,2020-11-22,HW20,HYD,11,II,1200.0,2,5,Gaurav Singh,M Srinivas Reddy,57.0,2,A,2,0.75,118216,0,0,0,0,0,HYD
1234,CLASSIC REMARK,H38110,2021-01-18,HW20,HYD,11,II,1200.0,6,6,Surya Prakash,M Srinivas Reddy,56.5,5,A,1,0.00,119182,0,0,0,0,1,HYD

In [20]:
to_drop = []
for i in TrackedRuns.loc[TrackedRuns['RunNo.']==1].index:
    print(i)
    if i+1 in TrackedRuns.index and TrackedRuns.loc[i+1, 'Horse']==TrackedRuns.loc[i, 'Horse']:
        if TrackedRuns.loc[i, 'Result']==1 or TrackedRuns.loc[i, 'LBW']>8:
            to_drop.append(i+1)
to_drop
TrackedRuns.drop(to_drop, inplace=True)

6
26
75
116
151
187
201
236
265
287
332
361
407
438
486
517
557
562
567
580
621
634
675
697
717
723
728
737
743
774
783
790
801
821
842
870
889
907
931
950
969
983
1000
1030
1057
1073
1087
1103
1136
1170
1188
1203
1223
1234

C:\Users\Testing\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [ ]:
# TrackedRuns.loc[:,'W1'] = ['']*len(TrackedRuns)
# TrackedRuns.loc[:,'P1'] = ['']*len(TrackedRuns)
# TrackedRuns.loc[:,'L1'] = ['']*len(TrackedRuns)
# TrackedRuns.loc[:,'W2'] = ['']*len(TrackedRuns)
# TrackedRuns.loc[:,'L2'] = ['']*len(TrackedRuns)

# TrackedRuns.loc[(TrackedRuns['Result']==1) & (TrackedRuns['RunNo.']==1), 'W1'] = 'W1'
# TrackedRuns.loc[(TrackedRuns['Result']!=1) & (TrackedRuns['LBW']<=8) & (TrackedRuns['RunNo.']==1), 'P1'] = 'P1'
# TrackedRuns.loc[(TrackedRuns['Result']!=1) & (TrackedRuns['LBW']>8) & (TrackedRuns['RunNo.']==1), 'L1'] = 'L1'
# TrackedRuns.loc[(TrackedRuns['Result']==1) & (TrackedRuns['RunNo.']==2), 'W2'] = 'W2'
# TrackedRuns.loc[(TrackedRuns['Result']!=1) & (TrackedRuns['RunNo.']==2), 'L2'] = 'L2'

In [21]:
TrackedRuns.reset_index(inplace=True)
TrackedRuns

,index,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,RunNo.,Venue Name
0,5,JET FIRE,B2305,2008-11-21,BW08,BLR,3,I,1400.0,26,5,SURAJ NARREDU,IRFAN GHATALA,59.5,7,A,2,0.00,2305,0,0,0,0,0,BLR
1,6,JET FIRE,B2931,2008-12-27,BW08,BLR,3,I,1600.0,87,5,S SELVARAJ,IRFAN GHATALA,61.0,12,A,5,7.50,2931,0,0,0,0,1,BLR
2,7,JET FIRE,B3470,2009-01-28,BW08,BLR,3,4y&o,1600.0,137,6,SURAJ NARREDU,IRFAN GHATALA,55.0,4,A,6,8.50,3470,0,0,0,0,2,BLR
3,14,ALEKONA,B2928,2008-12-27,BW08,BLR,3,I,1600.0,87,5,SAMUEL FARGEAT,M B MANGALORKAR,68.0,9,A,2,0.00,2928,0,0,0,0,0,BLR
4,25,PRINCE NORBERT,B6465,2009-07-30,BS09,BLR,3,V,2000.0,178,5,V R JAGADEESH,B PUTTANNA,55.0,5,A,2,0.00,6465,0,0,0,0,0,BLR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,1222,SAN REMO,K30760,2020-02-25,KW19,KOL,1,IV,1200.0,20,5,Imran Chisty,Arti Doctor,53.5,9,A,2,1.00,151931,0,0,0,0,0,KOL
133,1223,SAN REMO,K30996,2020-12-01,KW20,KOL,1,IV,1100.0,0,5,R S Bhati,Arti Doctor,53.0,8,A,4,7.50,152166,0,0,0,0,1,KOL
134,1224,SAN REMO,K31221,2020-12-26,KW20,KOL,1,IV,1200.0,0,5,R S Bhati,Arti Doctor,56.5,6,A,2,6.00,152391,0,0,0,0,2,KOL
135,1233,CLASSIC REMARK,H37144,2020-11-22,HW20,HYD,11,II,1200.0,2,5,Gaurav Singh,M Srinivas Reddy,57.0,2,A,2,0.75,118216,0,0,0,0,0,HYD
136,1234,CLASSIC REMARK,H38110,2021-01-18,HW20,HYD,11,II,1200.0,6,6,Surya Prakash,M Srinivas Reddy,56.5,5,A,1,0.00,119182,0,0,0,0,1,HYD

In [22]:
runzero_list = [x for x in TrackedRuns['RunNo.'].unique() if '0' in str(x)]
runone_list = [x for x in TrackedRuns['RunNo.'].unique() if '1' in str(x)]
runtwo_list = [x for x in TrackedRuns['RunNo.'].unique() if '2' in str(x)]
Run0_df = TrackedRuns.loc[TrackedRuns['RunNo.'].isin(runzero_list)]
Run1_df = TrackedRuns.loc[TrackedRuns['RunNo.'].isin(runone_list)]
Run2_df = TrackedRuns.loc[TrackedRuns['RunNo.'].isin(runtwo_list)]

In [28]:
len(Run2_df)

24

In [ ]:
# TrackedRuns.loc[:,'RunRes'] = TrackedRuns['W1'] + TrackedRuns['L1'] + TrackedRuns['P1'] + TrackedRuns['W2'] + TrackedRuns['L2']
# TrackedRuns['RunRes'].replace([''],['Q'],inplace=True)
# TrackedRuns

In [ ]:
# a = TrackedRuns[(TrackedRuns.RunRes == 'W1') | (TrackedRuns.RunRes == 'L1')].index
# b = TrackedRuns.index
# b = b.to_list()

In [ ]:
# for i in a:
#     if TrackedRuns.loc[b[b.index(i)+1]].name[0] == TrackedRuns.loc[i].name[0]:
#         TrackedRuns.loc[b[b.index(i)+1],'RunRes'] = 'X'

In [ ]:
# TrackedRuns.drop(TrackedRuns[TrackedRuns['RunRes'] == 'X'].index, inplace = True)
# TrackedRuns.drop(columns=['W1', 'P1', 'L1', 'W2', 'L2'], inplace=True)
# TrackedRuns.reset_index(inplace=True)
# TrackedRuns

In [ ]:
# a = TrackedRuns.loc[TrackedRuns['Horse']==qualified_horses.loc[1,'Horse']]
# a.iloc[0]

In [ ]:
# Possible_results = ['Q', 'W1', 'P1', 'L1', 'W2', 'L2']
# qualified_horse_summary = TrackedRuns.groupby(["Horse","RunRes"], as_index=True).size().unstack(
#     fill_value=0)
# mis_col = [i for i in Possible_results if i not in qualified_horse_summary.columns]
# for col in mis_col:
#     qualified_horse_summary[col] = [0] * len(qualified_horse_summary)
# qualified_horse_summary = qualified_horse_summary[Possible_results]
# qualified_horse_summary.replace([0,1],['No', 'Yes'], inplace=True)
# qualified_horse_summary.reset_index(inplace=True)
# qualified_horse_summary.index = np.arange(1, len(qualified_horse_summary) + 1)
# qualified_horse_summary.columns.name = 'Sr#'
# qualified_horse_summary

In [ ]:
# W1pct = round(100 * len(qualified_horse_summary.loc[qualified_horse_summary['W1']=='Yes'])/len(qualified_horse_summary), 2)
# P1pct = round(100 * len(qualified_horse_summary.loc[qualified_horse_summary['P1']=='Yes'])/len(qualified_horse_summary), 2)
# L1pct = round(100 * len(qualified_horse_summary.loc[qualified_horse_summary['L1']=='Yes'])/len(qualified_horse_summary), 2)
# W2pct = round(100 * len(qualified_horse_summary.loc[qualified_horse_summary['W2']=='Yes'])/len(qualified_horse_summary), 2)
# L2pct = round(100 * len(qualified_horse_summary.loc[qualified_horse_summary['L2']=='Yes'])/len(qualified_horse_summary), 2)

In [ ]:
# possible_results = ['Q', 'W1', 'P1', 'L1', 'W2', 'L2']
# qualified_horse_summary = TrackedRuns.groupby(["Horse", "RunRes"], as_index=True).size().unstack(
#     fill_value=0)
# mis_col = [i for i in possible_results if i not in qualified_horse_summary.columns]
# for col in mis_col:
#     qualified_horse_summary[col] = [0] * len(qualified_horse_summary)
# qualified_horse_summary = qualified_horse_summary[possible_results]
# # qualified_horse_summary['Edge formula'] = ['-'] * len(qualified_horse_summary)
# # qualified_horse_summary['N-formula'] = ['-'] * len(qualified_horse_summary)
# qualified_horse_summary['Run 1 - BET units'] = [1] * len(qualified_horse_summary)
# qualified_horse_summary['Run 2 - BET units'] = [2] * len(qualified_horse_summary) * qualified_horse_summary['P1']
# qualified_horse_summary['Net Profit/Loss'] = qualified_horse_summary['W1'] * qualified_horse_summary[
#     'Run 1 - BET units'] + qualified_horse_summary['W2'] * qualified_horse_summary['Run 2 - BET units'] - \
#                                              qualified_horse_summary['L1'] * qualified_horse_summary[
#                                                  'Run 1 - BET units'] - qualified_horse_summary['L2'] * \
#                                              qualified_horse_summary['Run 2 - BET units'] - qualified_horse_summary[
#                                                  'P1'] * qualified_horse_summary['Run 1 - BET units']
# qualified_horse_summary[['Q', 'W1', 'P1', 'L1', 'W2', 'L2']] = qualified_horse_summary[
#     ['Q', 'W1', 'P1', 'L1', 'W2', 'L2']].replace([0, 1], ['No', 'Yes'])
# qualified_horse_summary.reset_index(inplace=True)
# qualified_horse_summary.index = np.arange(1, len(qualified_horse_summary) + 1)
# qualified_horse_summary.columns.name = 'Sr#'
# # qualified_horse_summary.rename(columns={'W1': 'Run 1 - W', 'P1': 'Run 1 - P', 'L1': 'Run 1 - L',
# #                                         'W2': 'Run 2 - W', 'L2': 'Run 2 - L'}, inplace=True)
# # qualified_horse_summary = qualified_horse_summary[
# #     ['Horse', 'Q', 'Run 1 - BET units', 'W1', 'P1', 'L1',
# #      'Run 2 - BET units', 'W2', 'L2', 'Net Profit/Loss', 'Edge formula', 'N-formula']]
# qualified_horse_summary

In [ ]:
import datetime

In [ ]:
n = df.groupby(["Venue ID","Jockey","Result"], as_index=True).size().unstack(fill_value=0)
n.rename(columns={0:'NA', 1:"W", 2:"SHP", 3:"THP"}, inplace=True)
m = df.groupby(["Venue ID","Jockey"], as_index=True).size().to_frame()
Jockey_stats = pd.concat([n, m], axis=1)
Jockey_stats.rename(columns={0:'Total_Races', 1:"W", 2:"SHP", 3:"THP"}, inplace=True)
Jockey_stats["W%"]=((Jockey_stats["W"]/Jockey_stats['Total_Races'])*100).round(2)
Jockey_stats = Jockey_stats[['Total_Races','W','SHP','THP','W%']]
Jockey_stats

In [ ]:
data['Venue ID'].unique()

In [ ]:
data['Venue Name'].unique()

In [ ]:
qualifying_races

In [ ]:
links = []
for i in qualifying_races.index:
    x = 'https://www.indiarace.com/Home/racingCenterEvent?venueId={}&event_date={}&race_type=RESULTS'.format(qualifying_races.loc[i,'Venue ID'],qualifying_races.loc[i,'Date'])
    link = '[Link](' +str(x) + ')'
    links.append(link)
qualifying_races['Links'] = links

In [ ]:
[i for i in qualifying_races.columns[:-1]]+[qualifying_races.columns[-1]]

In [ ]:
[{"name": i, "id": i} for i in qualifying_races.reset_index()[
            ["Date", "Season", "Race No"]]]

In [ ]:
# link=[html.A(html.P('Link'),href="yahoo.com"),html.A(html.P('Link'),href="google.com")]
links = []
for i in qualifying_races.index:
    x = 'https://www.indiarace.com/Home/racingCenterEvent?venueId={}&event_date={}&race_type=RESULTS'.format(qualifying_races.loc[i,'Venue ID'],qualifying_races.loc[i,'Date'])
    link = html.A(html.P('Link'),x)
    links.append(link)
qualifying_races['Links'] = links

In [ ]:
np.linspace(0,100,21)