In [1]:
import numpy as np
import pandas as pd
import math
import functools

In [2]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [3]:
def point5round(a):
    return math.ceil(a * 2) / 2;

In [4]:
def conjunction(type, *conditions):
    if type:
        return functools.reduce(np.logical_or, conditions)
    else:
        return functools.reduce(np.logical_and, conditions)

In [5]:
# data = pd.concat(pd.read_excel(r'C:\Users\Testing\NEW METHOD FILE.xlsx', sheet_name=None), ignore_index=True)
# data = pd.read_excel(r'C:\Users\Testing\Downloads\NEW METHOD 210822 (1).xlsx')
data = pd.read_excel(r'C:\Users\Testing\Downloads\ALL METHODS - MASTER FILE (1).xlsb', engine='pyxlsb')
data['Date']= pd.to_datetime(data['Date'], unit='D', origin='1899-12-30T00:00:00.000000000')
data.rename(columns = {'CENTER':'Centre', 'VENUE ID': 'Venue ID', 'R No #': 'Race No', 'RES': 'Result', 'CLASS': 'Class', 'DIST': 'Dist'}, inplace = True)
data.Dist.replace([np.nan],[0],inplace=True)
data['Sr #'] = data.index
data['Rtg'] = [0]*len(data)
data['Penalty'] = [0]*len(data)
data['Time in S'] = [0]*len(data)
data['Time'] = [0]*len(data)
data['Odds'] = [0]*len(data)
# data.dropna(subset=['Sr #'], inplace=True)###########

data.rename(columns = {'Center':'Season', 'Horse Name': 'Horse', 'Dist': 'Distance', }, inplace = True)

data.Age.replace([np.nan, '3y', '5y', '4y', '6y', '7y', '8y', '9y', '2y'],[0, 3, 5, 4, 6, 7, 8, 9, 2],inplace=True)
data.Result.replace(['DNC', 'NC', 'DNF', 'DR', 'W'],[0,0,0,0,0], inplace=True)
data.Jockey.replace([np.nan], [""],inplace=True)
data.Trainer.replace([np.nan], [""],inplace=True)

data['combined_data'] = list(zip(data.Result, data.Age))
# data['LBW2'] = ((data['Result']==2).replace([False, True], [0, 1]))*data['LBW']

data['RunNo.']=[-1]*len(data)

data['Dr'].replace([np.nan], [0], inplace=True)
data['Dr'] = data.Dr.astype(int)
data['LBW'].replace([np.nan, 'W'], [0,0], inplace=True)
data['Sh'].replace(['s', 'a', np.nan], ['S','A','-'], inplace=True)
# data['Time in S'].replace([np.nan, 'DNF'], [0,0], inplace=True)
data['Date'] = data['Date'].dt.date

try:
    data.drop(columns=['Time'], inplace=True)
except:
    pass

data['first_age']=[0]*len(data)
data.loc[data['Result']==1,'first_age']=data.loc[data['Result']==1,'Age']

###########################
new = data['Venue ID'].str.split("=", n = 1, expand = True)
data['Venue ID'] = new[1]
data['Venue ID'] = data['Venue ID'].astype(int)
data['Venue Name'] = data['Venue ID'].replace([1,2,3,4,7,8,9,10,11], ['KOL', 'MUM', 'BLR', 'CHE', 'DEL', 'MYS', 'OOT', 'PUN', 'HYD'])
# data['Sr #'] = data['Sr #'].astype(int)
# data['Distance'] = data['Distance'].astype(int)
# data['Race No'] = data['Race No'].astype(int)

data['LBWmod'] = data['LBW'].apply(lambda x: point5round(x) if not np.isnan(x) else x)

In [6]:
df = data
df.head(50)

,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Horse,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,combined_data,RunNo.,first_age,Venue Name,LBWmod
0,B1,2008-05-17,BS08,BLR,3,3y,1200.0,1,AQUITAINE,3,M NARREDU,,54.5,1,A,1,0.00,0,0,0,0,0,"(1, 3)",-1,3,BLR,0.0
1,B2,2008-05-17,BS08,BLR,3,3y,1200.0,1,PLEASURING,3,B PRAKASH,S GANAPATHY,54.5,8,S,2,7.50,1,0,0,0,0,"(2, 3)",-1,0,BLR,7.5
2,B3,2008-05-17,BS08,BLR,3,3y,1200.0,1,MINT,3,A IMRAN KHAN,J S DHARIWAL,54.5,11,A,3,10.25,2,0,0,0,0,"(3, 3)",-1,0,BLR,10.5
3,B4,2008-05-17,BS08,BLR,3,3y,1200.0,1,YOU BEAUTY,3,Ms LISA JONES,,54.5,10,A,4,12.25,3,0,0,0,0,"(4, 3)",-1,0,BLR,12.5
4,B5,2008-05-17,BS08,BLR,3,3y,1200.0,1,JUST GREAT,3,D GNANESHWAR,AMIT CADDY,56.0,6,S,5,12.25,4,0,0,0,0,"(5, 3)",-1,0,BLR,12.5
5,B6,2008-05-17,BS08,BLR,3,3y,1200.0,1,FLYING FLAME,3,JAGDISH SHUKLA,V LOKANATH,54.5,12,S,6,13.50,5,0,0,0,0,"(6, 3)",-1,0,BLR,13.5
6,B7,2008-05-17,BS08,BLR,3,3y,1200.0,1,FLIP YOUR DESTINY,3,J E PEREIRA,G NITYANAND,56.0,3,S,7,19.25,6,0,0,0,0,"(7, 3)",-1,0,BLR,19.5
7,B8,2008-05-17,BS08,BLR,3,3y,1200.0,1,TAKE MY WORD,3,V R JAGADEESH,F SIRAJUDDIN,56.0,7,S,8,22.50,7,0,0,0,0,"(8, 3)",-1,0,BLR,22.5
8,B9,2008-05-17,BS08,BLR,3,3y,1200.0,1,THUNDERS ROAR,3,SHANTH KUMAR,S NARREDU,56.0,9,S,9,27.25,8,0,0,0,0,"(9, 3)",-1,0,BLR,27.5
9,B10,2008-05-17,BS08,BLR,3,3y,1200.0,1,VIJAY DHANUSH,3,G Y RAJESH BABU,LAXMAN SINGH,56.0,4,A,10,27.25,9,0,0,0,0,"(10, 3)",-1,0,BLR,27.5
10,B11,2008-05-17,BS08,BLR,3,3y,1200.0,1,SANFRANCISCO GIRL,3,P S CHOUHAN,WARREN SINGH,54.5,2,S,11,30.00,10,0,0,0,0,"(11, 3)",-1,0,BLR,30.0
11,B12,2008-05-17,BS08,BLR,3,3y,1200.0,1,DYNAMIC TREND,3,S BABU,KARAN SINGH,54.5,5,S,12,30.00,11,0,0,0,0,"(12, 3)",-1,0,BLR,30.0
12,B13,2008-05-17,BS08,BLR,3,3y,1400.0,2,SALSERA,3,M NARREDU,,54.5,7,A,1,0.00,12,0,0,0,0,"(1, 3)",-1,3,BLR,0.0
13,B14,2008-05-17,BS08,BLR,3,3y,1400.0,2,STAR PRESENTATION,3,NOT AVAILABLE,,56.0,9,A,2,1.50,13,0,0,0,0,"(2, 3)",-1,0,BLR,1.5
14,B15,2008-05-17,BS08,BLR,3,3y,1400.0,2,ENDURING STAR,3,WAYNE SMITH,FARAZ ARSHAD,56.0,8,A,3,10.00,14,0,0,0,0,"(3, 3)",-1,0,BLR,10.0
15,B16,2008-05-17,BS08,BLR,3,3y,1400.0,2,TALL GUY,3,SHADAB KHAN,F SIRAJUDDIN,56.0,4,S,4,11.00,15,0,0,0,0,"(4, 3)",-1,0,BLR,11.0
16,B17,2008-05-17,BS08,BLR,3,3y,1400.0,2,BULLISH LUCK,3,S RAMESH,,54.5,3,A,5,11.00,16,0,0,0,0,"(5, 3)",-1,0,BLR,11.0
17,B18,2008-05-17,BS08,BLR,3,3y,1400.0,2,AHIRA,3,S SELVARAJ,IRFAN GHATALA,54.5,12,A,6,13.00,17,0,0,0,0,"(6, 3)",-1,0,BLR,13.0
18,B19,2008-05-17,BS08,BLR,3,3y,1400.0,2,LET THE RIVER RUN,3,D GNANESHWAR,NEIL DARASHAH,54.5,6,S,7,17.50,18,0,0,0,0,"(7, 3)",-1,0,BLR,17.5
19,B20,2008-05-17,BS08,BLR,3,3y,1400.0,2,YAMAGUCHI,3,SURAJ NARREDU,AMIT CADDY,56.0,11,A,8,17.50,19,0,0,0,0,"(8, 3)",-1,0,BLR,17.5
20,B21,2008-05-17,BS08,BLR,3,3y,1400.0,2,KICKINGKING,3,K GOPAL RAO,V LOKANATH,56.0,5,A,9,19.50,20,0,0,0,0,"(9, 3)",-1,0,BLR,19.5
21,B22,2008-05-17,BS08,BLR,3,3y,1400.0,2,IVORY SNOW,3,CH K CHARY,L D SILVA,54.5,10,A,10,22.25,21,0,0,0,0,"(10, 3)",-1,0,BLR,22.5
22,B23,2008-05-17,BS08,BLR,3,3y,1400.0,2,COLLEGE GIRL,3,M F ALI KHAN,LAXMAN SINGH,54.5,1,A,11,26.75,22,0,0,0,0,"(11, 3)",-1,0,BLR,27.0
23,B24,2008-05-17,BS08,BLR,3,3y,1400.0,2,SILK FEATHER,3,S BABU,KARAN SINGH,54.5,2,S,12,32.25,23,0,0,0,0,"(12, 3)",-1,0,BLR,32.5
24,B25,2008-05-17,BS08,BLR,3,V,1200.0,3,SPREAD A SMILE,5,SURAJ NARREDU,V LOKANATH,56.5,11,S,1,0.00,24,0,0,0,0,"(1, 5)",-1,5,BLR,0.0
25,B26,2008-05-17,BS08,BLR,3,V,1200.0,3,KING OF GOOD TIMES,4,KHURSHAD ALAM,S BRITTO,55.5,3,S,2,3.50,25,0,0,0,0,"(2, 4)",-1,0,BLR,3.5
26,B27,2008-05-17,BS08,BLR,3,V,1200.0,3,PRINCESS EMILY,6,R KOCH,S NARREDU,60.5,1,S,3,4.00,26,0,0,0,0,"(3, 6)",-1,0,BLR,4.0
27,B28,2008-05-17,BS08,BLR,3,V,1200.0,3,WHISPER VALLEY,4,B SREEKANTH,V LOKANATH,61.5,2,A,4,4.75,27,0,0,0,0,"(4, 4)",-1,0,BLR,5.0
28,B29,2008-05-17,BS08,BLR,3,V,1200.0,3,EVENT HORIZON,4,A ASHOK KUMAR,G NITYANAND,58.5,10,S,5,6.75,28,0,0,0,0,"(5, 4)",-1,0,BLR,7.0
29,B30,2008-05-17,BS08,BLR,3,V,1200.0,3,ASPIRING SEVEN,5,V R JAGADEESH,AMIT CADDY,50.0,9,S,6,9.75,29,0,0,0,0,"(6, 5)",-1,0,BLR,10.0
30,B31,2008-05-17,BS08,BLR,3,V,1200.0,3,AMAZING FLORA,4,KISHORE KADAM,NEIL DARASHAH,62.5,7,S,7,13.75,30,0,0,0,0,"(7, 4)",-1,0,BLR,14.0
31,B32,2008-05-17,BS08,BLR,3,V,1200.0,3,ZIGGY STARDUST,5,M J GAUTAM RAJ URS,WARREN SINGH,56.0,6,S,8,14.50,31,0,0,0,0,"(8, 5)",-1,0,BLR,14.5
32,B33,2008-05-17,BS08,BLR,3,V,1200.0,3,ASTONICAL,4,JAGDISH SHUKLA,V LOKANATH,56.5,4,S,9,14.50,32,0,0,0,0,"(9, 4)",-1,0,BLR,14.5
33,B34,2008-05-17,BS08,BLR,3,V,1200.0,3,FLYING JET,4,HIMANSHU,SAMAR SINGH,57.5,5,S,10,18.50,33,0,0,0,0,"(10, 4)",-1,0,BLR,18.5
34,B35,2008-05-17,BS08,BLR,3,V,1200.0,3,MOTIVATIONAL,4,R RAVI,FARAZ ARSHAD,60.0,8,S,11,28.00,34,0,0,0,0,"(11, 4)",-1,0,BLR,28.0
35,B36,2008-05-17,BS08,BLR,3,V,1200.0,3,SPRINT QUEEN,4,JAYAPRAKASH,PILLAY J S,52.5,12,S,12,28.00,35,0,0,0,0,"(12, 4)",-1,0,BLR,28.0
36,B37,2008-05-17,BS08,BLR,3,IV,1100.0,4,POETIC,3,NOT AVAILABLE,,61.0,9,S,1,0.00,36,0,0,0,0,"(1, 3)",-1,3,BLR,0.0
37,B38,2008-05-17,BS08,BLR,3,IV,1100.0,4,SHOWHORSE,4,M NARREDU,S NARREDU,62.0,7,A,2,1.75,37,0,0,0,0,"(2, 4)",-1,0,BLR,2.0
38,B39,2008-05-17,BS08,BLR,3,IV,1100.0,4,SMART N SPECIAL,4,HIMANSHU,SAMAR SINGH,57.0,3,S,3,4.00,38,0,0,0,0,"(3, 4)",-1,0,BLR,4.0
39,B40,2008-05-17,BS08,BLR,3,IV,1100.0,4,TRAFALGAR SQUARE,4,J E PEREIRA,AMIT CADDY,52.0,2,S,4,7.25,39,0,0,0,0,"(4, 4)",-1,0,BLR,7.5
40,B41,2008-05-17,BS08,BLR,3,IV,1100.0,4,VOICE OF INDIA,3,VIJAY KUMAR,N A PONNAPPA,51.0,4,S,5,8.75,40,0,0,0,0,"(5, 3)",-1,0,BLR,9.0
41,B42,2008-05-17,BS08,BLR,3,IV,1100.0,4,WORTH A MILLION,6,M J GAUTAM RAJ URS,WARREN SINGH,57.0,5,S,6,9.25,41,0,0,0,0,"(6, 6)",-1,0,BLR,9.5
42,B43,2008-05-17,BS08,BLR,3,IV,1100.0,4,COSTA MESA,3,B MUKESH,L D SILVA,62.5,10,A,7,11.00,42,0,0,0,0,"(7, 3)",-1,0,BLR,11.0
43,B44,2008-05-17,BS08,BLR,3,IV,1100.0,4,SILVER ROSE,3,G Y RAJESH BABU,LAXMAN SINGH,62.5,8,A,8,13.75,43,0,0,0,0,"(8, 3)",-1,0,BLR,14.0
44,B45,2008-05-17,BS08,BLR,3,IV,1100.0,4,MISS HONEYDEW,3,CH K CHARY,NEIL DARASHAH,58.5,11,A,9,13.75,44,0,0,0,0,"(9, 3)",-1,0,BLR,14.0
45,B46,2008-05-17,BS08,BLR,3,IV,1100.0,4,SUPER SPEAR,3,V R JAGADEESH,V NARAYANA GOWDA,51.5,6,S,10,16.00,45,0,0,0,0,"(10, 3)",-1,0,BLR,16.0
46,B47,2008-05-17,BS08,BLR,3,IV,1100.0,4,LITTLE PREMIUM,5,SHANTH KUMAR,V LOKANATH,51.5,1,S,11,17.00,46,0,0,0,0,"(11, 5)",-1,0,BLR,17.0
47,B48,2008-05-17,BS08,BLR,3,III,1400.0,5,STAR WAVE,3,B PRAKASH,S GANAPATHY,55.5,6,A,1,0.00,47,0,0,0,0,"(1, 3)",-1,3,BLR,0.0
48,B49,2008-05-17,BS08,BLR,3,III,1400.0,5,MILAGRO,4,VINOD SHINDE,IRFAN GHATALA,54.5,2,A,2,2.00,48,0,0,0,0,"(2, 4)",-1,0,BLR,2.0
49,B50,2008-05-17,BS08,BLR,3,III,1400.0,5,REPIQUE,3,A IMRAN KHAN,FARAZ ARSHAD,54.0,5,A,3,5.25,49,0,0,0,0,"(3, 3)",-1,0,BLR,5.5

In [7]:
# a = range(df['Age'].min(), df[]) 
# new = {key: str(key)+'y' for key in m.columns}

In [8]:
m = df.groupby(["Date", "Venue ID","Season", "Race No", "first_age"], as_index=True).size().unstack(
    fill_value=0)
new = {key: str(key)+'y' for key in m.columns}
m.rename(columns = new, inplace=True)
n = df.groupby(["Date", "Venue ID","Season", "Race No", "LBWmod"], as_index=True).size().unstack(
    fill_value=0)
race_stats = pd.concat([m, n], axis=1)
race_stats.reset_index(inplace=True)
race_stats.index = np.arange(1, len(race_stats) + 1)
race_stats

,Date,Venue ID,Season,Race No,0y,2y,3y,4y,5y,6y,7y,8y,9y,10yy,11yy,1yy,0.0,0.5,1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0,5.5,6.0,6.5,7.0,7.5,8.0,8.5,9.0,9.5,10.0,10.5,11.0,11.5,12.0,12.5,13.0,13.5,14.0,14.5,15.0,15.5,16.0,16.5,17.0,17.5,18.0,18.5,19.0,19.5,20.0,20.5,21.0,21.5,22.0,22.5,23.0,23.5,24.0,24.5,25.0,25.5,26.0,26.5,27.0,27.5,28.0,28.5,29.0,29.5,30.0,30.5,31.0,31.5,32.0,32.5,33.0,33.5,34.0,34.5,35.0,35.5,36.0,36.5,37.0,37.5,38.0,38.5,39.0,39.5,40.0,40.5,41.0,41.5,42.0,42.5,43.0,43.5,44.0,44.5,45.0,45.5,46.0,46.5,47.0,47.5,48.0,48.5,49.0,49.5,50.0,50.5,51.0,51.5,52.0,52.5,53.0,53.5,54.0,54.5,55.0,55.5,56.0,56.5,57.0,57.5,58.0,58.5,59.0,59.5,60.0,60.5,61.0,61.5,62.0,62.5,63.0,63.5,64.0,64.5,65.0,65.5,66.0,66.5,67.0,67.5,68.0,68.5,69.0,69.5,70.0,70.5,71.0,71.5,72.0,72.5,73.5,74.0,74.5,75.0,75.5,76.0,76.5,77.0,77.5,78.0,78.5,79.0,79.5,80.0,80.5,81.0,81.5,82.0,82.5,83.0,83.5,84.0,84.5,85.0,85.5,86.0,86.5,87.0,87.5,88.0,88.5,89.0,90.0,91.0,91.5,94.5,95.0,95.5,96.0,96.5,97.5,98.0,98.5,99.0,100.0,100.5,101.0,101.5,102.0,102.5,104.0,104.5,105.0,106.0,108.0,108.5,109.0,109.5,110.0,110.5,111.0,111.5,112.0,112.5,113.0,114.5,115.0,115.5,118.0,119.5,120.5,121.0,121.5,123.0,124.5,125.5,127.5,130.5,131.0,133.0,136.5,137.5,138.5,139.0,140.0,143.5,157.0,158.5,159.5,160.0,163.5,165.0,166.0,179.0,180.0,184.5,192.5,196.5,201.5,213.0,214.0,215.5,223.5,228.5,230.5,280.0,305.5,311.5,392.0
1,2008-05-17,3,BS08,1,11,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,2,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2008-05-17,3,BS08,2,11,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,2,0,0,0,1,0,0,0,0,0,0,0,0,2,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2008-05-17,3,BS08,3,11,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2008-05-17,3,BS08,4,10,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,1,0,0,1,0,0,0,0,0,2,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,2008-05-17,3,BS08,5,11,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13297,2021-11-01,3,BW20,4,11,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,2,0,0,0,0,1,0,0,0,0,2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13298,2021-11-01,3,BW20,5,11,0,0,1,0,0,0,0,0,0,0,0,1,0,1,1,0,1,0,1,1,0,0,1,1,0,0,0,0,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13299,2021-11-01,3,BW20,6,12,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13300,2021-11-01,3,BW20,7,11,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,2,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13301,2021-11-01,3,BW20,8,11,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,2,1,2,0,0,0,0,1,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
# race_stats = df.groupby(["Date", "Venue ID","Season", "Race No", "LBWmod"], as_index=True).size().unstack(
#     fill_value=0)
# race_stats.reset_index(inplace=True)
# race_stats.index = np.arange(1, len(race_stats) + 1)
# race_stats

In [10]:
lbw_limit1 = 2.5
lbw_limit2 = 4.5
first_age = [3]
first_age_cols = [str(i)+'y' for i in first_age]
print(first_age_cols)
number = int((lbw_limit2 - lbw_limit1)/0.5)
print(number)
a = np.linspace(lbw_limit1+0.5, lbw_limit2,number, endpoint = True)

['3y']
4

In [11]:
cond = []
condition = []
for col in a:
    cond.append(race_stats[col] == 0)
    condition.append(conjunction(0, *cond))
if condition:
    initial_qualifying_races = race_stats[conjunction(0, *condition)]
    
cond = []
condition = []
for col in first_age_cols:
    cond.append(race_stats[col] == 1)
    condition.append(conjunction(1, *cond))
if condition:
    print("yes")
    initial_qualifying_races = initial_qualifying_races[conjunction(1, *condition)]

initial_qualifying_races = initial_qualifying_races[["Date", "Season", "Race No","Venue ID"]]
initial_qualifying_races

yes

<ipython-input-11-21672b091860>:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  initial_qualifying_races = initial_qualifying_races[conjunction(1, *condition)]

             Date Season  Race No  Venue ID
1      2008-05-17   BS08        1         3
2      2008-05-17   BS08        2         3
5      2008-05-17   BS08        5         3
8      2008-05-17   BS08        8         3
10     2008-05-18   BS08       10         3
...           ...    ...      ...       ...
13243  2021-08-09   HM21       24        11
13281  2021-09-05   HM21       63        11
13290  2021-09-06   HM21       72        11
13294  2021-11-01   BW20        1         3
13300  2021-11-01   BW20        7         3

[1604 rows x 4 columns]

In [12]:
initial_qualifying_races_detailed = pd.merge(initial_qualifying_races, df, on=["Date", "Venue ID", "Season", "Race No"])

initial_qualifying_races_detailed.set_index(["Date", "Venue ID", "Season", "Race No"], inplace=True)
initial_qualifying_races_detailed

                                     C-Sr# Centre Class  Distance  \
Date       Venue ID Season Race No
2008-05-17 3        BS08   1            B1    BLR    3y    1200.0
                           1            B2    BLR    3y    1200.0
                           1            B3    BLR    3y    1200.0
                           1            B4    BLR    3y    1200.0
                           1            B5    BLR    3y    1200.0
...                                    ...    ...   ...       ...
2021-11-01 3        BW20   7        B55709    BLR   III    1400.0
                           7        B55710    BLR   III    1400.0
                           7        B55711    BLR   III    1400.0
                           7        B55712    BLR   III    1400.0
                           7        B55713    BLR   III    1400.0

                                               Horse Age         Jockey  \
Date       Venue ID Season Race No
2008-05-17 3        BS08   1              AQUITAINE   3      M NARREDU
                           1              PLEASURING   3      B PRAKASH
                           1                   MINT   3   A IMRAN KHAN
                           1             YOU BEAUTY   3  Ms LISA JONES
                           1             JUST GREAT   3   D GNANESHWAR
...                                              ...  ..            ...
2021-11-01 3        BW20   7            BLACK WHIZZ    5      T S Jodha
                           7          CLASSIC CHARM    3    R N Darshan
                           7        STRIKING MEMORY    4  V R Jagadeesh
                           7        INDIAN DEMOCRAT    4   Neeraj Rawal
                           7                  OZARK    4  Tauseef Ahmed

                                             Trainer    Wt  Dr Sh  Result  \
Date       Venue ID Season Race No
2008-05-17 3        BS08   1                          54.5   1  A       1
                           1             S GANAPATHY  54.5   8  S       2
                           1            J S DHARIWAL  54.5  11  A       3
                           1                          54.5  10  A       4
                           1              AMIT CADDY  56.0   6  S       5
...                                              ...   ...  .. ..     ...
2021-11-01 3        BW20   7        M Rajendra Singh  57.0   1  A       9
                           7             S Ganapathy  57.0   6  A       2
                           7              V Lokanath  57.0  11  A       6
                           7           S Padmanabhan  56.5  12  A       8
                           7             R V Manohar  55.5   7  A      10

                                      LBW   Sr #  Rtg  Penalty  Time in S  \
Date       Venue ID Season Race No
2008-05-17 3        BS08   1         0.00      0    0        0          0
                           1         7.50      1    0        0          0
                           1        10.25      2    0        0          0
                           1        12.25      3    0        0          0
                           1        12.25      4    0        0          0
...                                   ...    ...  ...      ...        ...
2021-11-01 3        BW20   7        22.50  55708    0        0          0
                           7         2.00  55709    0        0          0
                           7        11.00  55710    0        0          0
                           7        17.25  55711    0        0          0
                           7        25.50  55712    0        0          0

                                    Odds combined_data  RunNo. first_age  \
Date       Venue ID Season Race No
2008-05-17 3        BS08   1           0        (1, 3)      -1         3
                           1           0        (2, 3)      -1         0
                           1           0        (3, 3)      -1         0
                           1           0        (4, 3)      -1         0
                           1           0        (5, 3)      -1         0
...                                  ...           ...     ...       ...
2021-11-01 3        BW20   7           0        (9, 5)      -1         0
                           7           0        (2, 3)      -1         0
                           7           0        (6, 4)      -1         0
                           7           0        (8, 4)      -1         0
                           7           0       (10, 4)      -1         0

                                   Venue Name  LBWmod
Date       Venue ID Season Race No
2008-05-17 3        BS08   1              BLR     0.0
                           1              BLR     7.5
                           1              BLR    10.5
                           1              BLR    12.5
                           1              BLR    12.5
...                                       ...     ...
2021-11-01 3        BW20   7              BLR    22.5
                           7              BLR     2.0
                           7              BLR    11.0
                           7              BLR    17.5
                           7              BLR    25.5

[15459 rows x 23 columns]

In [13]:
initial_qualifying_races_detailed.loc[(initial_qualifying_races_detailed['LBW']>lbw_limit1) & (initial_qualifying_races_detailed['LBW']<=lbw_limit2)]

Empty DataFrame
Columns: [C-Sr#, Centre, Class, Distance, Horse, Age, Jockey, Trainer, Wt, Dr, Sh, Result, LBW, Sr #, Rtg, Penalty, Time in S, Odds, combined_data, RunNo., first_age, Venue Name, LBWmod]
Index: []

In [14]:
horseno_limit1 = 2
horseno_limit2 = 3
result_limit = np.arange(horseno_limit1,horseno_limit2+1)

In [15]:
initial_qualified_horses = initial_qualifying_races_detailed.loc[(initial_qualifying_races_detailed['LBW']<=lbw_limit1) & (initial_qualifying_races_detailed['Result'].isin(result_limit))]
initial_qualified_horses.reset_index(inplace=True)
initial_qualified_horses.index = np.arange(1, len(initial_qualified_horses) + 1)
initial_qualified_horses = initial_qualified_horses[['Horse', 'Date', 'Venue ID', 'Season', 'Race No', 'Sr #', 'Trainer', 'Rtg', 'Class', 'Distance','Age',
 'Wt', 'Jockey', 'Dr', 'Sh', 'Result', 'LBW', 'Penalty', 'Time in S', 'RunNo.', 'LBWmod']]

In [16]:
initial_qualified_horses

,Horse,Date,Venue ID,Season,Race No,Sr #,Trainer,Rtg,Class,Distance,Age,Wt,Jockey,Dr,Sh,Result,LBW,Penalty,Time in S,RunNo.,LBWmod
1,STAR PRESENTATION,2008-05-17,3,BS08,2,13,,0,3y,1400.0,3,56.0,NOT AVAILABLE,9,A,2,1.50,0,0,-1,1.5
2,MILAGRO,2008-05-17,3,BS08,5,48,IRFAN GHATALA,0,III,1400.0,4,54.5,VINOD SHINDE,2,A,2,2.00,0,0,-1,2.0
3,SUNNY COLOURS,2008-05-18,3,BS08,10,102,J S DHARIWAL,0,3y,1100.0,3,54.5,M NARREDU,9,A,2,1.50,0,0,-1,1.5
4,MONEYINTHEBANK,2008-05-18,3,BS08,11,112,S PADMANABHAN,0,IV,1400.0,3,58.0,Ms LISA JONES,9,A,2,0.10,0,0,-1,0.5
5,GLORIOUS PRINCESS,2008-05-18,3,BS08,12,122,FARAZ ARSHAD,0,IV,1100.0,3,54.5,A IMRAN KHAN,4,A,2,0.50,0,0,-1,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,AARYA,2021-09-05,11,HM21,63,121026,L D Silva,0,M3y,1100.0,3,54.5,C Umesh,2,A,3,1.25,0,0,-1,1.5
1336,ABLE LOVE,2021-09-06,11,HM21,72,121121,N Ravinder Singh,0,M3y,1400.0,3,54.5,B Nikhil,2,A,2,1.00,0,0,-1,1.0
1337,ZAMAZENTA,2021-09-06,11,HM21,72,121122,L D Silva,0,M3y,1400.0,3,56.0,C Umesh,7,A,3,1.50,0,0,-1,1.5
1338,FOREVER TOGETHER,2021-11-01,3,BW20,1,55630,Rajesh Narredu,0,3y,1400.0,3,57.0,Suraj Narredu,4,A,2,1.75,0,0,-1,2.0
1339,CLASSIC CHARM,2021-11-01,3,BW20,7,55709,S Ganapathy,0,III,1400.0,3,57.0,R N Darshan,6,A,2,2.00,0,0,-1,2.0

In [17]:
class_list = [None]
# class_list = df['Class'].unique()
# class_list = ['V', 'IV 4y&o', 'IV inf', 'IV inf 4y&o', 'IV', 'IV inf 5y&o',
#        'IV 5y&o', 'V 4y&o', 'V 5y&o', 'IV M3y', 'V M3y', 'IV 3y&o',
#        'IV 3y', 'IV 4y', 'IV M3y&o', 'V 3y&o']
age_list = [None]
# age_list = df['Age'].unique()
# age_list = [2]
venue_list = [None]
# venue_list = df['Venue ID'].unique()
# venue_list = [3]
distance_list = [None]
# distance_list = df['Distance'].unique()
# distance_list = [1400]
trainer_list = [None]
# trainer_list = df['Trainer'].unique()
# trainer_list = ['Rajesh Narredu']
jockey_list = [None]
# jockey_list = df['Jockey'].unique()
# trainer_list = ['Rajesh Narredu']

# a = ['Class', 'Age', 'Venue ID', 'Distance', 'Trainer', 'Jockey']
# b = [class_list, age_list, venue_list, distance_list, trainer_list, jockey_list]
# cond = []
# condition = []
# for col,filt in zip(a,b):
#     cond.append(initial_qualified_horses[col].isin(filt))
#     condition.append(conjunction(0, *cond))
# if condition:
#     qualified_horses = initial_qualified_horses[conjunction(0, *condition)]
# qualified_horses

print(class_list, age_list, venue_list, distance_list, trainer_list, jockey_list)
if class_list == [None] or class_list == []:
    class_list = data['Class'].unique()
    print("classlist",len(class_list))
if age_list == [None] or age_list == []:
    age_list = data['Age'].unique()
    print("age_list",len(age_list))
if venue_list == [None] or venue_list == []:
    venue_list = data['Venue ID'].unique()
    print("venue_list",len(venue_list))
if distance_list == [None] or distance_list == []:
    distance_list = data['Distance'].unique()
    print("distance_list",len(distance_list))
if trainer_list == [None] or trainer_list == []:
    trainer_list = data['Trainer'].unique()
    print("trainer_list",len(trainer_list))
if jockey_list == [None] or jockey_list == []:
    jockey_list = data['Jockey'].unique()
    print("jockey_list",len(jockey_list))
a = ['Class', 'Age', 'Venue ID', 'Distance', 'Trainer', 'Jockey']
b = [class_list, age_list, venue_list, distance_list, trainer_list, jockey_list]
cond = []
condition = []
for col, filt in zip(a, b):
#     if len(filt)==len(data[col].unique()):
#         print(col)
#         continue
#     print(filt)
    cond.append(initial_qualified_horses[col].isin(filt))
    condition.append(conjunction(0, *cond))
if condition:
    qualified_horses = initial_qualified_horses[conjunction(0, *condition)]
print(len(qualified_horses))

[None] [None] [None] [None] [None] [None]
classlist 87
age_list 14
venue_list 7
distance_list 14
trainer_list 495
jockey_list 1006
1339

In [18]:
qualifying_races = qualified_horses[["Date", "Season", "Race No"]]
qualifying_races.drop_duplicates(inplace=True ,ignore_index=True)
qualifying_races

<ipython-input-18-8e6f304ad4fa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualifying_races.drop_duplicates(inplace=True ,ignore_index=True)

          Date Season  Race No
0   2008-05-17   BS08        2
1   2008-05-17   BS08        5
2   2008-05-18   BS08       10
3   2008-05-18   BS08       11
4   2008-05-18   BS08       12
..         ...    ...      ...
943 2021-08-09   HM21       24
944 2021-09-05   HM21       63
945 2021-09-06   HM21       72
946 2021-11-01   BW20        1
947 2021-11-01   BW20        7

[948 rows x 3 columns]

In [19]:
qualifying_races['Date'] = qualifying_races['Date'].dt.date
qualifying_races

<ipython-input-19-75056065f9aa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualifying_races['Date'] = qualifying_races['Date'].dt.date

           Date Season  Race No
0    2008-05-17   BS08        2
1    2008-05-17   BS08        5
2    2008-05-18   BS08       10
3    2008-05-18   BS08       11
4    2008-05-18   BS08       12
..          ...    ...      ...
943  2021-08-09   HM21       24
944  2021-09-05   HM21       63
945  2021-09-06   HM21       72
946  2021-11-01   BW20        1
947  2021-11-01   BW20        7

[948 rows x 3 columns]

In [20]:
qualifying_races_detailed = pd.merge(qualifying_races, df, on=["Date", "Season", "Race No"])
qualifying_races_detailed.set_index(["Date", "Season", "Race No"], inplace=True)
qualifying_races_detailed

                            C-Sr# Centre  Venue ID Class  Distance  \
Date       Season Race No
2008-05-17 BS08   2           B13    BLR         3    3y    1400.0
                  2           B14    BLR         3    3y    1400.0
                  2           B15    BLR         3    3y    1400.0
                  2           B16    BLR         3    3y    1400.0
                  2           B17    BLR         3    3y    1400.0
...                           ...    ...       ...   ...       ...
2021-11-01 BW20   7        B55709    BLR         3   III    1400.0
                  7        B55710    BLR         3   III    1400.0
                  7        B55711    BLR         3   III    1400.0
                  7        B55712    BLR         3   III    1400.0
                  7        B55713    BLR         3   III    1400.0

                                        Horse Age         Jockey  \
Date       Season Race No
2008-05-17 BS08   2                  SALSERA   3      M NARREDU
                  2        STAR PRESENTATION   3  NOT AVAILABLE
                  2             ENDURING STAR   3    WAYNE SMITH
                  2                 TALL GUY   3    SHADAB KHAN
                  2             BULLISH LUCK   3       S RAMESH
...                                       ...  ..            ...
2021-11-01 BW20   7              BLACK WHIZZ    5      T S Jodha
                  7            CLASSIC CHARM    3    R N Darshan
                  7          STRIKING MEMORY    4  V R Jagadeesh
                  7          INDIAN DEMOCRAT    4   Neeraj Rawal
                  7                    OZARK    4  Tauseef Ahmed

                                    Trainer    Wt  Dr Sh  Result    LBW  \
Date       Season Race No
2008-05-17 BS08   2                          54.5   7  A       1   0.00
                  2                          56.0   9  A       2   1.50
                  2            FARAZ ARSHAD  56.0   8  A       3  10.00
                  2            F SIRAJUDDIN  56.0   4  S       4  11.00
                  2                          54.5   3  A       5  11.00
...                                     ...   ...  .. ..     ...    ...
2021-11-01 BW20   7        M Rajendra Singh  57.0   1  A       9  22.50
                  7             S Ganapathy  57.0   6  A       2   2.00
                  7              V Lokanath  57.0  11  A       6  11.00
                  7           S Padmanabhan  56.5  12  A       8  17.25
                  7             R V Manohar  55.5   7  A      10  25.50

                            Sr #  Rtg  Penalty  Time in S  Odds combined_data  \
Date       Season Race No
2008-05-17 BS08   2           12    0        0          0     0        (1, 3)
                  2           13    0        0          0     0        (2, 3)
                  2           14    0        0          0     0        (3, 3)
                  2           15    0        0          0     0        (4, 3)
                  2           16    0        0          0     0        (5, 3)
...                          ...  ...      ...        ...   ...           ...
2021-11-01 BW20   7        55708    0        0          0     0        (9, 5)
                  7        55709    0        0          0     0        (2, 3)
                  7        55710    0        0          0     0        (6, 4)
                  7        55711    0        0          0     0        (8, 4)
                  7        55712    0        0          0     0       (10, 4)

                           RunNo. first_age Venue Name  LBWmod
Date       Season Race No
2008-05-17 BS08   2            -1         3        BLR     0.0
                  2            -1         0        BLR     1.5
                  2            -1         0        BLR    10.0
                  2            -1         0        BLR    11.0
                  2            -1         0        BLR    11.0
...                           ...       ...        ...     ...
2021-11-01 BW20   7            -1         0        BLR    22.5
                  7            -1         0        BLR     2.0
                  7            -1         0        BLR    11.0
                  7            -1         0        BLR    17.5
                  7            -1         0        BLR    25.5

[8992 rows x 24 columns]

In [21]:
for i in qualified_horses['Sr #']:
    df.loc[i-1,'RunNo.'] = 0

In [22]:
df['RunNo.'].value_counts()

-1    240223
 0      1339
Name: RunNo., dtype: int64

In [23]:
races_Q_horses = pd.merge(qualified_horses[['Horse']], df, on=["Horse"])
races_Q_horses.drop_duplicates(subset=['Sr #'], keep='first', inplace=True)

In [24]:
races_Q_horses['RunNo.'].value_counts()

-1    21614
 0      566
Name: RunNo., dtype: int64

In [25]:
zerothindex = races_Q_horses.index[races_Q_horses['RunNo.'] == 0].tolist()
print(len(zerothindex))
flag=False
for i in zerothindex:
    if (i+1 in races_Q_horses.index):
        if (races_Q_horses.loc[i+1, 'Horse'] == races_Q_horses.loc[i, 'Horse']) and (races_Q_horses.loc[i+1, 'RunNo.'] < 0):
            races_Q_horses.loc[i+1, 'RunNo.'] = 1
        elif (races_Q_horses.loc[i+1, 'Horse'] == races_Q_horses.loc[i, 'Horse']) and (races_Q_horses.loc[i+1, 'RunNo.'] == 0):
            races_Q_horses.loc[i+1, 'RunNo.'] = 10
        elif (races_Q_horses.loc[i+1, 'Horse'] == races_Q_horses.loc[i, 'Horse']) and (races_Q_horses.loc[i+1, 'RunNo.'] > 0):
            races_Q_horses.loc[i+1, 'RunNo.'] = 10*races_Q_horses.loc[i+1, 'RunNo.'] + 1
    if (i+2 in races_Q_horses.index):
        if (races_Q_horses.loc[i+2, 'Horse'] == races_Q_horses.loc[i, 'Horse']) and (races_Q_horses.loc[i+2, 'RunNo.'] < 0):
            races_Q_horses.loc[i+2, 'RunNo.'] = 2
        elif (races_Q_horses.loc[i+2, 'Horse'] == races_Q_horses.loc[i, 'Horse']) and (races_Q_horses.loc[i+2, 'RunNo.'] == 0):
            races_Q_horses.loc[i+2, 'RunNo.'] = 20

566

In [26]:
TrackedRuns = races_Q_horses.loc[races_Q_horses['RunNo.']>=0]
# TrackedRuns.reset_index(inplace = True)
TrackedRuns

,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,combined_data,RunNo.,first_age,Venue Name,LBWmod
1,STAR PRESENTATION,B356,2008-05-31,BS08,BLR,3,III,1600.0,35,3,Y S SRINATH,S GANAPATHY,58.0,2,A,1,0.00,355,0,0,0,0,"(1, 3)",0,3,BLR,0.0
2,STAR PRESENTATION,B1101,2008-06-29,BS08,BLR,3,II,1600.0,112,3,B PRAKASH,S GANAPATHY,55.0,3,A,1,0.00,1100,0,0,0,0,"(1, 3)",1,3,BLR,0.0
3,STAR PRESENTATION,B1405,2008-07-13,BS08,BLR,3,T-M 3y,2000.0,143,3,A IMRAN KHAN,S GANAPATHY,56.0,9,A,3,17.00,1404,0,0,0,0,"(3, 3)",2,0,BLR,17.0
85,GLORIOUS PRINCESS,B123,2008-05-18,BS08,BLR,3,IV,1100.0,12,3,A IMRAN KHAN,FARAZ ARSHAD,54.5,4,A,2,0.50,122,0,0,0,0,"(2, 3)",0,0,BLR,0.5
86,GLORIOUS PRINCESS,B579,2008-06-08,BS08,BLR,3,M-3y,1400.0,61,3,A IMRAN KHAN,FARAZ ARSHAD,54.5,6,A,2,2.50,578,0,0,0,0,"(2, 3)",1,0,BLR,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25504,HOT SEAT,H39954,2021-09-05,HM21,HYD,11,M3y,1100.0,63,3,Akshay Kumar,S S F Hassan,54.5,3,A,2,1.25,121025,0,0,0,0,"(2, 3)",0,0,HYD,1.5
25508,ABLE LOVE,H40050,2021-09-06,HM21,HYD,11,M3y,1400.0,72,3,B Nikhil,N Ravinder Singh,54.5,2,A,2,1.00,121121,0,0,0,0,"(2, 3)",0,0,HYD,1.0
25520,CLASSIC CHARM,C7756,2020-01-14,C1920,CNY,4,T-3y,1200.0,5,3,Imran Chisty,S Ganapathy,50.5,3,A,1,0.00,160975,0,0,0,0,"(1, 3)",0,3,CHE,0.0
25521,CLASSIC CHARM,C8846,2020-12-15,C2021,CNY,4,T-3y,1600.0,6,3,A Sandesh,S Ganapathy,57.0,9,A,9,21.75,162065,0,0,0,0,"(9, 3)",1,0,CHE,22.0
25522,CLASSIC CHARM,C9090,2021-01-01,C2021,CNY,4,T-4y,2400.0,5,4,Nakhat Singh,S Ganapathy,57.0,5,A,5,5.00,162309,0,0,0,0,"(5, 4)",2,0,CHE,5.0

In [27]:
TrackedRuns['RunNo.'].value_counts()

0     509
1     497
2     443
20     35
10     22
21     18
Name: RunNo., dtype: int64

In [28]:
runzero_list = [x for x in TrackedRuns['RunNo.'].unique() if '0' in str(x)]
runone_list = [x for x in TrackedRuns['RunNo.'].unique() if '1' in str(x)]
runtwo_list = [x for x in TrackedRuns['RunNo.'].unique() if '2' in str(x)]

In [67]:
Run0_df = TrackedRuns.loc[TrackedRuns['RunNo.'].isin(runzero_list)]
Run0_df['RunNo.']

1        0
85       0
195      0
205      0
215      0
        ..
25445    0
25480    0
25504    0
25508    0
25520    0
Name: RunNo., Length: 566, dtype: int64

In [68]:
ran = [i-1 for i in Run1_df.index]
Run0_df.index

Int64Index([    1,    85,   195,   205,   215,   309,   450,   470,   481,
              483,
            ...
            25203, 25220, 25230, 25351, 25409, 25445, 25480, 25504, 25508,
            25520],
           dtype='int64', length=566)

In [69]:
ytr = Run0_df.drop(ran)
ytr

,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,combined_data,RunNo.,first_age,Venue Name,LBWmod
3802,MOONLIGHT ROMANCE,B11005,2010-07-11,BS10,BLR,3,T-M 3y,2000.0,137,3,R HUGHES,C D KATRAK,54.5,10,A,1,0.00,11004,0,0,0,0,"(1, 3)",10,3,BLR,0.0
5781,HAWA,B15173,2011-06-12,BS11,BLR,3,IV,1100.0,82,3,S JOHN,ARJUN MANGALORKAR,62.0,7,A,2,0.00,15172,0,0,0,0,"(2, 3)",0,0,BLR,0.0
7364,WELCOME SMILE,K9262,2013-10-09,KM13,KOL,1,III,1200.0,159,5,SHEZAD KHAN,ARTI DOCTOR,60.0,2,A,2,0.75,130432,0,0,0,0,"(2, 5)",0,0,KOL,1.0
10483,SKY HIGH,M3046,2012-04-01,M11,MUM,2,TM-3y,1000.0,313,3,DASHRATH SINGH,C D KATRAK,53.5,9,A,2,1.25,215174,0,0,0,0,"(2, 3)",0,0,MUM,1.5
11873,PHOENIX FORCE,M3856,2012-11-25,M12,MUM,2,IV,1800.0,20,3,LIAM P JONES,KARTHIK GANAPATHY,59.0,8,A,2,0.75,215984,0,0,0,0,"(2, 3)",0,0,MUM,1.0
13918,NOBLE PATH,B25833,2013-06-16,BS13,BLR,3,M-3y,1400.0,78,3,SURAJ NARREDU,IRFAN GHATALA,56.0,8,A,2,0.00,25832,0,0,0,0,"(2, 3)",0,0,BLR,0.0
16544,SCENT OF A WOMAN,M10805,2014-04-26,M13,MUM,2,M-3y,1600.0,358,3,P TREVOR,P SHROFF,53.5,6,A,2,0.75,222933,0,0,0,0,"(2, 3)",0,0,MUM,1.0
19278,ONLY PRINCESS,B36555,2015-07-31,BS15,BLR,3,M-3y,1200.0,192,3,SURAJ NARREDU,S DOMINIC,54.5,5,A,1,0.00,36554,0,0,0,0,"(1, 3)",0,3,BLR,0.0
19379,HOLY EMPIRE,B36409,2015-07-30,BS15,BLR,3,V,1600.0,178,4,M RAJESH KUMAR,HIDAYAT KHAN,62.0,7,A,2,0.00,36408,0,0,0,0,"(2, 4)",0,0,BLR,0.0
19442,FESTIVE CHEER,B36604,2015-08-06,BS15,BLR,3,IV,2000.0,196,3,NEERAJ RAWAL,ARJUN MANGALORKAR,54.0,2,A,2,1.00,36603,0,0,0,0,"(2, 3)",0,0,BLR,1.0
20753,MARISKA,M17303,2016-03-27,M15,MUM,2,M-3y,1200.0,285,3,P TREVOR,P SHROFF,53.5,9,A,2,0.20,229431,0,0,0,0,"(2, 3)",0,0,MUM,0.5
21542,YELLOW DIAMOND,M18566,2016-12-22,M16,MUM,2,M-3y,1000.0,72,3,P TREVOR,VISHAL GAIKWAD,54.5,8,A,1,0.00,230694,0,0,0,0,"(1, 3)",10,3,MUM,0.0
22262,THEMIS,M19700,2017-02-23,M16,MUM,2,M-3y,1400.0,183,3,N S PARMAR,M K JADHAV,53.5,7,A,2,0.75,231828,0,0,0,0,"(2, 3)",0,0,MUM,1.0
22329,EMERITUS,C1792,2017-03-22,C1617,CNY,4,M-3y,1200.0,1,3,P S Chouhan,B Suresh,54.5,12,A,1,0.00,155011,0,0,0,0,"(1, 3)",10,3,CHE,0.0
22761,MAJURO,B46279,2017-08-11,BS17,BLR,3,M-3y,1600.0,191,3,P TREVOR,S PADMANABHAN,54.5,2,A,2,0.75,46278,0,0,0,0,"(2, 3)",0,0,BLR,1.0
23526,WINDSOR FOREST,M21216,2017-12-16,M17,MUM,2,TM-3y,1600.0,58,3,P TREVOR,P SHROFF,57.0,3,A,2,0.20,233344,0,0,0,0,"(2, 3)",10,0,MUM,0.5
23748,SEVEN CRORE,C3449,2018-02-01,C1718,CNY,4,M-3y,1200.0,1,3,J CHINOY,FAZAL UL REHMAN,56.0,3,A,2,2.50,156668,0,0,0,0,"(2, 3)",0,0,CHE,2.5
23756,SAVING GRACE,C3461,2018-02-01,C1718,CNY,4,M-3y,1200.0,3,3,C A BRISSON,B SURESH,53.0,2,A,2,1.00,156680,0,0,0,0,"(2, 3)",0,0,CHE,1.0
23767,MOZART,M22105,2018-02-03,M17,MUM,2,TM-3y,1400.0,151,3,A SANDESH,P SHROFF,57.0,8,A,2,1.75,234233,0,0,0,0,"(2, 3)",0,0,MUM,2.0
23773,RUN FOREST RUN,M23382,2018-04-22,M17,MUM,2,TM-3y,1200.0,299,3,H ZEESHAN,SHAZAAN SHAH,56.0,5,A,1,0.00,235510,0,0,0,0,"(1, 3)",0,3,MUM,0.0
23786,BAY FRONT,C3721,2018-02-21,C1718,CNY,4,3y,1600.0,1,3,C A BRISSON,K S MANDANNA,56.0,3,A,2,0.20,156940,0,0,0,0,"(2, 3)",0,0,CHE,0.5
23963,MARIETTA,M22853,2018-03-18,M17,MUM,2,TM-3y,1600.0,234,3,Y S SRINATH,P SHROFF,54.0,3,A,2,2.00,234981,0,0,0,0,"(2, 3)",0,0,MUM,2.0
23975,QUAIL HOLLOW,M23231,2018-04-14,M17,MUM,2,M-3y,1000.0,279,3,C S JODHA,BEZAN CHENOY,55.0,3,A,2,1.25,235359,0,0,0,0,"(2, 3)",0,0,MUM,1.5
24464,TOMMASO,M24540,2019-01-20,M18,MUM,2,TM-3y,1200.0,109,3,A Sandesh,M K Jadhav,57.0,5,A,2,0.75,236668,0,0,0,0,"(2, 3)",0,0,MUM,1.0
24645,DREAM,M25527,2019-03-29,M18,MUM,2,TM-3y,1200.0,210,3,Santosh G,Nazak Chenoy,53.5,13,A,2,0.20,237655,0,0,0,0,"(2, 3)",0,0,MUM,0.5
24675,SQUARE THE CIRCLE,M25592,2019-03-31,M18,MUM,2,3y,1600.0,216,3,P S Chouhan,Md Sajid Qureshi,57.0,3,A,2,1.75,237720,0,0,0,0,"(2, 3)",0,0,MUM,2.0
25480,KEY TO TIME,H38853,2021-03-01,HW20,HYD,11,M-3y,1200.0,1,3,Suraj Narredu,S A Shehzad Abbas,54.5,4,A,2,1.00,119924,0,0,0,0,"(2, 3)",0,0,HYD,1.0
25504,HOT SEAT,H39954,2021-09-05,HM21,HYD,11,M3y,1100.0,63,3,Akshay Kumar,S S F Hassan,54.5,3,A,2,1.25,121025,0,0,0,0,"(2, 3)",0,0,HYD,1.5
25508,ABLE LOVE,H40050,2021-09-06,HM21,HYD,11,M3y,1400.0,72,3,B Nikhil,N Ravinder Singh,54.5,2,A,2,1.00,121121,0,0,0,0,"(2, 3)",0,0,HYD,1.0

In [70]:
print(len(Run0_df))
print(len(ytr))
print(len(Run1_df))
print(len(Run2_df))
print(len(qualified_horses))

566
29
537
496
1339

In [29]:
Run1_df = TrackedRuns.loc[TrackedRuns['RunNo.'].isin(runone_list)]
Run1_df

,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,combined_data,RunNo.,first_age,Venue Name,LBWmod
2,STAR PRESENTATION,B1101,2008-06-29,BS08,BLR,3,II,1600.0,112,3,B PRAKASH,S GANAPATHY,55.0,3,A,1,0.00,1100,0,0,0,0,"(1, 3)",1,3,BLR,0.0
86,GLORIOUS PRINCESS,B579,2008-06-08,BS08,BLR,3,M-3y,1400.0,61,3,A IMRAN KHAN,FARAZ ARSHAD,54.5,6,A,2,2.50,578,0,0,0,0,"(2, 3)",1,0,BLR,2.5
196,SIMPLE,B1066,2008-06-29,BS08,BLR,3,3y,1100.0,109,3,C KRISHNAN,B PUTTANNA,54.5,6,A,3,0.10,1065,0,0,0,0,"(3, 3)",1,0,BLR,0.5
206,HALL MARK,B2507,2008-11-30,BW08,BLR,3,T-M 3y,1600.0,45,3,D GNANESHWAR,DARIUS BYRAMJI,57.0,16,A,16,32.25,2506,0,0,0,0,"(16, 3)",1,0,BLR,32.5
216,ORIGINALITY,B1531,2008-07-20,BS08,BLR,3,II,1200.0,156,3,B PRAKASH,S GANAPATHY,53.5,1,A,1,0.00,1530,0,0,0,0,"(1, 3)",1,3,BLR,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25231,LAKE TAHOE,B56514,2021-01-02,BW20,BLR,3,T-4y,2400.0,78,4,Suraj Narredu,Darius Byramji,58.0,6,A,3,3.50,56513,0,0,0,0,"(3, 4)",1,0,BLR,3.5
25352,HIGHLAND PARK,My48309,2021-02-01,MyW20,MYS,8,IV,1200.0,3,4,V R Jagadeesh,C D Monnappa,54.0,1,A,7,10.75,211641,0,0,0,0,"(7, 4)",1,0,MYS,11.0
25410,TIGRIO,M28201,2021-01-10,M20,MUM,2,T 4y,1600.0,79,4,Y S Srinath,P Shroff,57.0,1,A,5,2.75,240329,0,0,0,0,"(5, 4)",1,0,MUM,3.0
25446,BOLIVIA,C9418,2021-01-28,C2021,CNY,4,M-3y,1000.0,5,3,Akshay Kumar,B Suresh,54.5,2,A,1,0.00,162637,0,0,0,0,"(1, 3)",1,3,CHE,0.0
25521,CLASSIC CHARM,C8846,2020-12-15,C2021,CNY,4,T-3y,1600.0,6,3,A Sandesh,S Ganapathy,57.0,9,A,9,21.75,162065,0,0,0,0,"(9, 3)",1,0,CHE,22.0

In [30]:
Run2_df = TrackedRuns.loc[TrackedRuns['RunNo.'].isin(runtwo_list)]
Run2_df

,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,combined_data,RunNo.,first_age,Venue Name,LBWmod
3,STAR PRESENTATION,B1405,2008-07-13,BS08,BLR,3,T-M 3y,2000.0,143,3,A IMRAN KHAN,S GANAPATHY,56.0,9,A,3,17.00,1404,0,0,0,0,"(3, 3)",2,0,BLR,17.0
87,GLORIOUS PRINCESS,B863,2008-06-22,BS08,BLR,3,IV,1200.0,89,3,SURAJ NARREDU,FARAZ ARSHAD,60.5,2,A,2,1.75,862,0,0,0,0,"(2, 3)",2,0,BLR,2.0
197,SIMPLE,B2926,2008-12-27,BW08,BLR,3,IV,1400.0,86,3,S GURUPRASAD,B PUTTANNA,57.5,5,S,0,100.00,2925,0,0,0,0,"(0, 3)",2,0,BLR,100.0
207,HALL MARK,B3595,2009-02-08,BW08,BLR,3,III,1400.0,148,4,HARISH,DARIUS BYRAMJI,56.0,3,S,12,23.75,3594,0,0,0,0,"(12, 4)",2,0,BLR,24.0
217,ORIGINALITY,B2145,2008-11-08,BW08,BLR,3,I,1200.0,11,3,B PRAKASH,S GANAPATHY,52.0,8,A,1,0.00,2144,0,0,0,0,"(1, 3)",2,3,BLR,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25205,BEETHOVAN,C8916,2020-12-17,C2021,CNY,4,T-3y,1600.0,4,3,Y S Srinath,J Sebastian,57.0,7,A,7,13.25,162135,0,0,0,0,"(7, 3)",2,0,CHE,13.5
25232,LAKE TAHOE,H38404,2021-01-31,HW20,HYD,11,T-4y,2400.0,7,4,Suraj Narredu,Darius Byramji,57.0,7,A,3,4.25,119475,0,0,0,0,"(3, 4)",2,0,HYD,4.5
25353,HIGHLAND PARK,My48550,2021-02-23,MyW20,MYS,8,V,1400.0,3,4,H Rahul,C D Monnappa,62.0,5,A,3,7.50,211882,0,0,0,0,"(3, 4)",2,0,MYS,7.5
25411,TIGRIO,M28700,2021-02-21,M20,MUM,2,III,1600.0,128,4,P S Chouhan,P Shroff,53.5,5,A,1,0.00,240828,0,0,0,0,"(1, 4)",2,4,MUM,0.0
25522,CLASSIC CHARM,C9090,2021-01-01,C2021,CNY,4,T-4y,2400.0,5,4,Nakhat Singh,S Ganapathy,57.0,5,A,5,5.00,162309,0,0,0,0,"(5, 4)",2,0,CHE,5.0

In [31]:
# originalRun1 = Run1_df.index
# originalRun2 = Run2_df.index
class_list = df['Class'].unique()
# class_list = ['Same as qualifying run']
# class_list = ['V', 'IV 4y&o', 'IV inf', 'IV inf 4y&o', 'IV', 'IV inf 5y&o',
#        'IV 5y&o', 'V 4y&o', 'V 5y&o', 'IV M3y', 'V M3y', 'IV 3y&o',
#        'IV 3y', 'IV 4y', 'IV M3y&o', 'V 3y&o']
age_list = df['Age'].unique()
# age_list = ['Same as qualifying run']
# age_list = [2]
venue_list = df['Venue ID'].unique()
# venue_list = ['Same as qualifying run']
# venue_list = [3]
# distance_list = df['Distance'].unique()
# distance_list = ['Same as qualifying run']
# distance_list = [1400]

a = ['Class', 'Age', 'Venue ID', 'Distance']
b = [class_list, age_list, venue_list, distance_list]

firstindex = TrackedRuns.index[TrackedRuns['RunNo.'].isin(runone_list)].tolist()
same_indexes = []
for i in firstindex:
    if (TrackedRuns.loc[i, 'Class'] == TrackedRuns.loc[i-1, 'Class']):
        same_indexes.append(i)

Run1_dfnew = Run1_df.loc[same_indexes]
originalRun1 = Run1_dfnew.index
cond = []
condition = []
for col,filt in zip(a,b):
    cond.append(Run1_dfnew[col].isin(filt))
    condition.append(conjunction(0, *cond))
if condition:
    Run1_dfnew = Run1_dfnew[conjunction(0, *condition)]
dropped_indexes_run1 = [x for x in originalRun1 if x not in Run1_dfnew.index]

In [32]:
len(dropped_indexes_run1)

0

In [33]:
run2new = []
originalRun2 = Run2_df.index
for i in Run1_dfnew.index:
    if i+1 in originalRun2:
        run2new.append(i+1)

In [34]:
len(Run1_dfnew)

245

In [35]:
Run2_dfnew = Run2_df.loc[run2new]

In [36]:
Run2_dfnew

,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,combined_data,RunNo.,first_age,Venue Name,LBWmod
472,ABS FABS,B1863,2008-08-07,BS08,BLR,3,3y,1100.0,193,3,K P G APPU,ARJUN MANGALORKAR,54.5,7,A,1,0.00,1862,0,0,0,0,"(1, 3)",2,3,BLR,0.0
483,SUPER SHA,B2449,2008-11-30,BW08,BLR,3,IV,1200.0,41,3,S RAMESH,S SINGH,62.5,3,S,1,0.00,2448,0,0,0,0,"(1, 3)",20,3,BLR,0.0
630,BAFFLED,B3268,2009-01-10,BW08,BLR,3,IV,1400.0,118,5,HARSHA N,PRADEEP ANNAIAH,56.5,4,S,11,15.50,3267,0,0,0,0,"(11, 5)",2,0,BLR,15.5
700,HENRY'S SECRET,B3152,2009-01-09,BW08,BLR,3,IV,2000.0,108,4,SAMUEL FARGEAT,NEIL DARASHAH,57.5,6,A,1,0.00,3151,0,0,0,0,"(1, 4)",2,4,BLR,0.0
1071,MYSTIC QUEST,B4933,2009-05-24,BS09,BLR,3,3y,1200.0,28,3,B PRAKASH,KARTHIK GANAPATHY,54.5,1,A,1,0.00,4932,0,0,0,0,"(1, 3)",2,3,BLR,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25157,REGAL TIARA,C8618,2020-11-20,C2021,CNY,4,M-3y,1200.0,1,3,A Ashhad Asbar,Saddam Iqbal,54.5,3,A,8,22.75,161837,0,0,0,0,"(8, 3)",20,0,CHE,23.0
25159,REGAL TIARA,C9461,2021-02-04,C2021,CNY,4,IV,1200.0,1,4,G Manikandan,Saddam Iqbal,54.0,5,S,13,29.75,162680,0,0,0,0,"(13, 4)",2,0,CHE,30.0
25187,GOLDEN OAKS,M28195,2021-01-10,M20,MUM,2,T 4y,1600.0,79,4,A Sandesh,S Padmanabhan,57.0,3,A,2,1.50,240323,0,0,0,0,"(2, 4)",2,0,MUM,1.5
25191,FLAMING LAMBORGINI,M29149,2021-03-21,M20,MUM,2,IV,2000.0,174,4,Y S Srinath,Imtiaz A Sait,56.0,7,A,3,2.25,241277,0,0,0,0,"(3, 4)",2,0,MUM,2.5
25522,CLASSIC CHARM,C9090,2021-01-01,C2021,CNY,4,T-4y,2400.0,5,4,Nakhat Singh,S Ganapathy,57.0,5,A,5,5.00,162309,0,0,0,0,"(5, 4)",2,0,CHE,5.0

In [37]:
Run1_dfnew

,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,combined_data,RunNo.,first_age,Venue Name,LBWmod
471,ABS FABS,B1541,2008-07-20,BS08,BLR,3,3y,1200.0,157,3,S JOHN,,54.5,6,A,3,4.50,1540,0,0,0,0,"(3, 3)",1,0,BLR,4.5
482,SUPER SHA,B1808,2008-08-01,BS08,BLR,3,3y,1400.0,186,3,K P G APPU,S SINGH,56.0,3,A,3,5.00,1807,0,0,0,0,"(3, 3)",1,0,BLR,5.0
629,BAFFLED,B2217,2008-11-15,BW08,BLR,3,IV,1200.0,17,4,P S CHOUHAN,PRADEEP ANNAIAH,57.5,12,S,11,20.75,2216,0,0,0,0,"(11, 4)",1,0,BLR,21.0
699,HENRY'S SECRET,B2284,2008-11-21,BW08,BLR,3,V,1400.0,24,3,SAMUEL FARGEAT,NEIL DARASHAH,62.0,10,A,1,0.00,2283,0,0,0,0,"(1, 3)",1,3,BLR,0.0
1070,MYSTIC QUEST,B3999,2009-02-27,BW08,BLR,3,3y,1200.0,187,3,VINOD SHINDE,S GANAPATHY,51.5,3,A,3,1.75,3998,0,0,0,0,"(3, 3)",1,0,BLR,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25186,GOLDEN OAKS,M27111,2020-02-23,M19,MUM,2,TM-3y,1400.0,137,3,David Allan,S Padmanabhan,56.0,7,A,2,1.25,239239,0,0,0,0,"(2, 3)",1,0,MUM,1.5
25190,FLAMING LAMBORGINI,M28980,2021-03-11,M20,MUM,2,IV,1600.0,158,4,Neeraj Rawal,Imtiaz A Sait,55.5,9,A,3,1.25,241108,0,0,0,0,"(3, 4)",1,0,MUM,1.5
25221,CARACAS,C8844,2020-12-15,C2021,CNY,4,T-3y,1600.0,6,3,Arshad Alam,S Dominic,57.0,8,A,8,15.50,162063,0,0,0,0,"(8, 3)",1,0,CHE,15.5
25446,BOLIVIA,C9418,2021-01-28,C2021,CNY,4,M-3y,1000.0,5,3,Akshay Kumar,B Suresh,54.5,2,A,1,0.00,162637,0,0,0,0,"(1, 3)",1,3,CHE,0.0
25521,CLASSIC CHARM,C8846,2020-12-15,C2021,CNY,4,T-3y,1600.0,6,3,A Sandesh,S Ganapathy,57.0,9,A,9,21.75,162065,0,0,0,0,"(9, 3)",1,0,CHE,22.0

In [38]:
len(Run2_dfnew)

223

In [39]:
data.loc[data['Trainer'].isna()]

Empty DataFrame
Columns: [C-Sr#, Date, Season, Centre, Venue ID, Class, Distance, Race No, Horse, Age, Jockey, Trainer, Wt, Dr, Sh, Result, LBW, Sr #, Rtg, Penalty, Time in S, Odds, combined_data, RunNo., first_age, Venue Name, LBWmod]
Index: []

In [40]:
# originalRun1 = Run1_df.index
# originalRun2 = Run2_df.index
class_list = df['Class'].unique()
# class_list = ['Same as qualifying run']
# class_list = ['V', 'IV 4y&o', 'IV inf', 'IV inf 4y&o', 'IV', 'IV inf 5y&o',
#        'IV 5y&o', 'V 4y&o', 'V 5y&o', 'IV M3y', 'V M3y', 'IV 3y&o',
#        'IV 3y', 'IV 4y', 'IV M3y&o', 'V 3y&o']
age_list = df['Age'].unique()
# age_list = ['Same as qualifying run']
# age_list = [2]
venue_list = df['Venue ID'].unique()
# venue_list = ['Same as qualifying run']
# venue_list = [3]
distance_list = df['Distance'].unique()
# distance_list = ['Same as qualifying run']
# distance_list = [1400]

a = ['Class', 'Age', 'Venue ID', 'Distance']
b = [class_list, age_list, venue_list, distance_list]

secondindex = TrackedRuns.index[TrackedRuns['RunNo.'].isin(runtwo_list)].tolist()
same_indexes = []
for i in secondindex:
    if (TrackedRuns.loc[i, 'Class'] == TrackedRuns.loc[i-1, 'Class']):
        same_indexes.append(i)

Run2_dfnew = Run2_df.loc[same_indexes]
originalRun2 = Run2_dfnew.index
cond = []
condition = []
for col,filt in zip(a,b):
    cond.append(Run2_dfnew[col].isin(filt))
    condition.append(conjunction(0, *cond))
if condition:
    Run2_dfnew = Run2_dfnew[conjunction(0, *condition)]
dropped_indexes_run2 = [x for x in originalRun2 if x not in Run2_dfnew.index]

In [41]:
Run2_dfnew

,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,combined_data,RunNo.,first_age,Venue Name,LBWmod
472,ABS FABS,B1863,2008-08-07,BS08,BLR,3,3y,1100.0,193,3,K P G APPU,ARJUN MANGALORKAR,54.5,7,A,1,0.00,1862,0,0,0,0,"(1, 3)",2,3,BLR,0.0
485,SUPER SHA,B3594,2009-02-08,BW08,BLR,3,III,1400.0,148,4,S RAMESH,S SINGH,60.0,10,S,11,20.00,3593,0,0,0,0,"(11, 4)",2,0,BLR,20.0
630,BAFFLED,B3268,2009-01-10,BW08,BLR,3,IV,1400.0,118,5,HARSHA N,PRADEEP ANNAIAH,56.5,4,S,11,15.50,3267,0,0,0,0,"(11, 5)",2,0,BLR,15.5
719,ROYAL CONFIDENCE,B3411,2009-01-23,BW08,BLR,3,IV,1800.0,131,4,B PRAKASH,S GANAPATHY,57.0,9,S,7,9.75,3410,0,0,0,0,"(7, 4)",2,0,BLR,10.0
725,HILL OF GRACE,B3674,2009-02-13,BW08,BLR,3,II,1800.0,155,4,DAVID ALLAN,S PADMANABHAN,57.5,10,A,11,20.00,3673,0,0,0,0,"(11, 4)",2,0,BLR,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25002,KINGS SHOW,C7766,2020-01-14,C1920,CNY,4,III,1000.0,6,4,Chethan Gowda,K S Mandanna,60.0,2,A,2,4.50,160985,0,0,0,0,"(2, 4)",2,0,CHE,4.5
25097,VACHAN,C8370,2020-02-23,C1920,CNY,4,T-3y,1200.0,5,3,V R Jagadeesh,Rakesh,56.0,2,A,2,1.00,161589,0,0,0,0,"(2, 3)",2,0,CHE,1.0
25157,REGAL TIARA,C8618,2020-11-20,C2021,CNY,4,M-3y,1200.0,1,3,A Ashhad Asbar,Saddam Iqbal,54.5,3,A,8,22.75,161837,0,0,0,0,"(8, 3)",20,0,CHE,23.0
25191,FLAMING LAMBORGINI,M29149,2021-03-21,M20,MUM,2,IV,2000.0,174,4,Y S Srinath,Imtiaz A Sait,56.0,7,A,3,2.25,241277,0,0,0,0,"(3, 4)",2,0,MUM,2.5
25232,LAKE TAHOE,H38404,2021-01-31,HW20,HYD,11,T-4y,2400.0,7,4,Suraj Narredu,Darius Byramji,57.0,7,A,3,4.25,119475,0,0,0,0,"(3, 4)",2,0,HYD,4.5

In [42]:
# TrackedRuns = pd.read_json(trackedRuns_json[0], orient='split')
# Run2df = pd.read_json(run2_json[0], orient='split')

class_list = []
age_list = []
venue_list = []
distance_list = []
trainer_list = []
jockey_list = []
class_radio = 'same'
age_radio = 'same'
venue_radio = 'samerun1'
distance_radio = 'any'
trainer_radio = 'samerun1'
jockey_radio = 'samerun1'

runtwo_list = [x for x in TrackedRuns['RunNo.'].unique() if '2' in str(x)]

a = ['Class', 'Age', 'Venue ID', 'Distance', 'Trainer', 'Jockey']
b = [class_list, age_list, venue_list, distance_list, trainer_list, jockey_list]
c = [class_radio, age_radio, venue_radio, distance_radio, trainer_radio, jockey_radio]

secondindex = TrackedRuns.index[TrackedRuns['RunNo.'].isin(runtwo_list)].tolist()
# print(secondindex)
same_indexes = []
for i in secondindex:
    print(i)
    flag=True
    for x,y,z in zip(a,b,c):
        print(i,x,y,z)
        if y==[] and z=='samerun1':
            print("first",i)
            if (TrackedRuns.loc[i, x] == TrackedRuns.loc[i - 1, x]):
                print("pass",i,x)
                print(TrackedRuns.loc[i, x], TrackedRuns.loc[i - 1, x])
                continue
            else:
                print("fail",i,x)
                print(TrackedRuns.loc[i, x], TrackedRuns.loc[i - 1, x])
                flag = False
                break
        elif y==[] and z=='same':
            print("second",i)
            if (TrackedRuns.loc[i, x] == TrackedRuns.loc[i - 2, x]):
                continue
            else:
                print("flag false",i)
                flag = False
                break
    if flag==True:
        print("appended", i)
        same_indexes.append(i)

Run2_dfnew = Run2_df.loc[same_indexes]
originalRun2 = Run2_dfnew.index
cond = []
condition = []
for col, filt, type in zip(a, b, c):
    if type=='any' and filt!=[]:
        cond.append(Run2_dfnew[col].isin(filt))
        condition.append(conjunction(0, *cond))
if condition:
    Run2_dfnew = Run2_dfnew[conjunction(0, *condition)]
dropped_indexes_run2 = [x for x in originalRun2 if x not in Run2_dfnew.index]
print(len(same_indexes))
print(len(dropped_indexes_run2))
print(len(Run2_dfnew))

3
3 Class [] same
second 3
flag false 3
87
87 Class [] same
second 87
87 Age [] same
second 87
87 Venue ID [] samerun1
first 87
pass 87 Venue ID
3 3
87 Distance [] any
87 Trainer [] samerun1
first 87
pass 87 Trainer
FARAZ ARSHAD FARAZ ARSHAD
87 Jockey [] samerun1
first 87
fail 87 Jockey
SURAJ NARREDU A IMRAN KHAN
197
197 Class [] same
second 197
flag false 197
207
207 Class [] same
second 207
flag false 207
217
217 Class [] same
second 217
flag false 217
311
311 Class [] same
second 311
flag false 311
452
452 Class [] same
second 452
flag false 452
472
472 Class [] same
second 472
472 Age [] same
second 472
472 Venue ID [] samerun1
first 472
pass 472 Venue ID
3 3
472 Distance [] any
472 Trainer [] samerun1
first 472
fail 472 Trainer
ARJUN MANGALORKAR
483
483 Class [] same
second 483
flag false 483
485
485 Class [] same
second 485
flag false 485
630
630 Class [] same
second 630
630 Age [] same
second 630
flag false 630
700
700 Class [] same
second 700
flag false 700
719
719 Class [] same
second 719
flag false 719
725
725 Class [] same
second 725
flag false 725
1071
1071 Class [] same
second 1071
1071 Age [] same
second 1071
1071 Venue ID [] samerun1
first 1071
pass 1071 Venue ID
3 3
1071 Distance [] any
1071 Trainer [] samerun1
first 1071
fail 1071 Trainer
KARTHIK GANAPATHY S GANAPATHY
1102
1102 Class [] same
second 1102
flag false 1102
1214
1214 Class [] same
second 1214
flag false 1214
1254
1254 Class [] same
second 1254
flag false 1254
1273
1273 Class [] same
second 1273
1273 Age [] same
second 1273
1273 Venue ID [] samerun1
first 1273
pass 1273 Venue ID
3 3
1273 Distance [] any
1273 Trainer [] samerun1
first 1273
pass 1273 Trainer
S DOMINIC S DOMINIC
1273 Jockey [] samerun1
first 1273
pass 1273 Jockey
HARISH HARISH
appended 1273
1318
1318 Class [] same
second 1318
flag false 1318
1337
1337 Class [] same
second 1337
flag false 1337
1342
1342 Class [] same
second 1342
flag false 1342
1429
1429 Class [] same
second 1429
flag false 1429
1637
1637 Class [] same
second 1637
flag false 1637
1639
1639 Class [] same
second 1639
flag false 1639
1669
1669 Class [] same
second 1669
1669 Age [] same
second 1669
flag false 1669
1897
1897 Class [] same
second 1897
flag false 1897
2008
2008 Class [] same
second 2008
flag false 2008
2092
2092 Class [] same
second 2092
flag false 2092
2137
2137 Class [] same
second 2137
flag false 2137
2204
2204 Class [] same
second 2204
flag false 2204
2212
2212 Class [] same
second 2212
flag false 2212
2315
2315 Class [] same
second 2315
flag false 2315
2338
2338 Class [] same
second 2338
flag false 2338
2486
2486 Class [] same
second 2486
2486 Age [] same
second 2486
2486 Venue ID [] samerun1
first 2486
pass 2486 Venue ID
3 3
2486 Distance [] any
2486 Trainer [] samerun1
first 2486
pass 2486 Trainer
WARREN SINGH WARREN SINGH
2486 Jockey [] samerun1
first 2486
fail 2486 Jockey
P S CHOUHAN Not Available
2487
2487 Class [] same
second 2487
2487 Age [] same
second 2487
2487 Venue ID [] samerun1
first 2487
pass 2487 Venue ID
3 3
2487 Distance [] any
2487 Trainer [] samerun1
first 2487
pass 2487 Trainer
WARREN SINGH WARREN SINGH
2487 Jockey [] samerun1
first 2487
pass 2487 Jockey
P S CHOUHAN P S CHOUHAN
appended 2487
2726
2726 Class [] same
second 2726
2726 Age [] same
second 2726
flag false 2726
2734
2734 Class [] same
second 2734
2734 Age [] same
second 2734
2734 Venue ID [] samerun1
first 2734
pass 2734 Venue ID
3 3
2734 Distance [] any
2734 Trainer [] samerun1
first 2734
pass 2734 Trainer
J S PILLAY J S PILLAY
2734 Jockey [] samerun1
first 2734
fail 2734 Jockey
GAURAV SAPRA M D PRAVEEN
2846
2846 Class [] same
second 2846
2846 Age [] same
second 2846
2846 Venue ID [] samerun1
first 2846
pass 2846 Venue ID
3 3
2846 Distance [] any
2846 Trainer [] samerun1
first 2846
pass 2846 Trainer
S SINGH S SINGH
2846 Jockey [] samerun1
first 2846
fail 2846 Jockey
SURAJ NARREDU B MAHESH
2849
2849 Class [] same
second 2849
flag false 2849
2940
2940 Class [] same
second 2940
flag false 2940
2943
2943 Class [] same
second 2943
flag false 2943
2946
2946 Class [] same
second 2946
2946 Age [] same
second 2946
flag false 2946
2988
2988 Class [] same
second 2988
2988 Age [] same
second 2988
flag false 2988
3141
3141 Class [] same
second 3141
flag false 3141
3254
3254 Class [] same
second 3254
flag false 3254
3256
3256 Class [] same
second 3256
3256 Age [] same
second 3256
3256 Venue ID [] samerun1
first 3256
pass 3256 Venue ID
3 3
3256 Distance [] any
3256 Trainer [] samerun1
first 3256
pass 3256 Trainer
S DOMINIC S DOMINIC
3256 Jockey [] samerun1
first 3256
fail 3256 Jockey
K P G APPU HARISH
3312
3312 Class [] same
second 3312
3312 Age [] same
second 3312
3312 Venue ID [] samerun1
first 3312
pass 3312 Venue ID
3 3
3312 Distance [] any
3312 Trainer [] samerun1
first 3312
pass 3312 Trainer
ARJUN MANGALORKAR ARJUN MANGALORKAR
3312 Jockey [] samerun1
first 3312
fail 3312 Jockey
 S JOHN
3313
3313 Class [] same
second 3313
3313 Age [] same
second 3313
3313 Venue ID [] samerun1
first 3313
pass 3313 Venue ID
3 3
3313 Distance [] any
3313 Trainer [] samerun1
first 3313
pass 3313 Trainer
ARJUN MANGALORKAR ARJUN MANGALORKAR
3313 Jockey [] samerun1
first 3313
fail 3313 Jockey
IMRAN CHISTY
3317
3317 Class [] same
second 3317
3317 Age [] same
second 3317
3317 Venue ID [] samerun1
first 3317
pass 3317 Venue ID
3 3
3317 Distance [] any
3317 Trainer [] samerun1
first 3317
pass 3317 Trainer
ARJUN MANGALORKAR ARJUN MANGALORKAR
3317 Jockey [] samerun1
first 3317
fail 3317 Jockey
IMRAN CHISTY
3526
3526 Class [] same
second 3526
flag false 3526
3528
3528 Class [] same
second 3528
3528 Age [] same
second 3528
flag false 3528
3573
3573 Class [] same
second 3573
flag false 3573
3582
3582 Class [] same
second 3582
3582 Age [] same
second 3582
3582 Venue ID [] samerun1
first 3582
pass 3582 Venue ID
3 3
3582 Distance [] any
3582 Trainer [] samerun1
first 3582
pass 3582 Trainer
B PRITHVIRAJ B PRITHVIRAJ
3582 Jockey [] samerun1
first 3582
pass 3582 Jockey
P S CHOUHAN P S CHOUHAN
appended 3582
3598
3598 Class [] same
second 3598
flag false 3598
3673
3673 Class [] same
second 3673
flag false 3673
3689
3689 Class [] same
second 3689
flag false 3689
3694
3694 Class [] same
second 3694
3694 Age [] same
second 3694
flag false 3694
3786
3786 Class [] same
second 3786
flag false 3786
3835
3835 Class [] same
second 3835
3835 Age [] same
second 3835
3835 Venue ID [] samerun1
first 3835
pass 3835 Venue ID
3 3
3835 Distance [] any
3835 Trainer [] samerun1
first 3835
pass 3835 Trainer
R R BYRAMJI R R BYRAMJI
3835 Jockey [] samerun1
first 3835
pass 3835 Jockey
IMRAN CHISTY IMRAN CHISTY
appended 3835
3838
3838 Class [] same
second 3838
3838 Age [] same
second 3838
flag false 3838
3908
3908 Class [] same
second 3908
3908 Age [] same
second 3908
3908 Venue ID [] samerun1
first 3908
pass 3908 Venue ID
3 3
3908 Distance [] any
3908 Trainer [] samerun1
first 3908
pass 3908 Trainer
S PADMANABHAN S PADMANABHAN
3908 Jockey [] samerun1
first 3908
fail 3908 Jockey
RANJEET SINGH J G SAMPSON
3919
3919 Class [] same
second 3919
3919 Age [] same
second 3919
flag false 3919
3931
3931 Class [] same
second 3931
flag false 3931
4119
4119 Class [] same
second 4119
flag false 4119
4120
4120 Class [] same
second 4120
4120 Age [] same
second 4120
flag false 4120
4176
4176 Class [] same
second 4176
flag false 4176
4187
4187 Class [] same
second 4187
flag false 4187
4438
4438 Class [] same
second 4438
4438 Age [] same
second 4438
4438 Venue ID [] samerun1
first 4438
pass 4438 Venue ID
3 3
4438 Distance [] any
4438 Trainer [] samerun1
first 4438
pass 4438 Trainer
S NARREDU S NARREDU
4438 Jockey [] samerun1
first 4438
fail 4438 Jockey
SURAJ NARREDU K P G APPU
4647
4647 Class [] same
second 4647
flag false 4647
4742
4742 Class [] same
second 4742
4742 Age [] same
second 4742
flag false 4742
4847
4847 Class [] same
second 4847
4847 Age [] same
second 4847
flag false 4847
4942
4942 Class [] same
second 4942
flag false 4942
4972
4972 Class [] same
second 4972
flag false 4972
4993
4993 Class [] same
second 4993
flag false 4993
5169
5169 Class [] same
second 5169
5169 Age [] same
second 5169
flag false 5169
5198
5198 Class [] same
second 5198
flag false 5198
5270
5270 Class [] same
second 5270
flag false 5270
5292
5292 Class [] same
second 5292
flag false 5292
5305
5305 Class [] same
second 5305
flag false 5305
5307
5307 Class [] same
second 5307
flag false 5307
5331
5331 Class [] same
second 5331
flag false 5331
5340
5340 Class [] same
second 5340
flag false 5340
5355
5355 Class [] same
second 5355
flag false 5355
5455
5455 Class [] same
second 5455
5455 Age [] same
second 5455
flag false 5455
5526
5526 Class [] same
second 5526
flag false 5526
5619
5619 Class [] same
second 5619
5619 Age [] same
second 5619
5619 Venue ID [] samerun1
first 5619
pass 5619 Venue ID
3 3
5619 Distance [] any
5619 Trainer [] samerun1
first 5619
pass 5619 Trainer
J S DHARIWAL J S DHARIWAL
5619 Jockey [] samerun1
first 5619
fail 5619 Jockey
LADJADJ STEPHANE K P G APPU
5757
5757 Class [] same
second 5757
flag false 5757
5809
5809 Class [] same
second 5809
flag false 5809
5847
5847 Class [] same
second 5847
flag false 5847
5861
5861 Class [] same
second 5861
5861 Age [] same
second 5861
5861 Venue ID [] samerun1
first 5861
pass 5861 Venue ID
3 3
5861 Distance [] any
5861 Trainer [] samerun1
first 5861
pass 5861 Trainer
IRFAN GHATALA IRFAN GHATALA
5861 Jockey [] samerun1
first 5861
pass 5861 Jockey
SURAJ NARREDU SURAJ NARREDU
appended 5861
6016
6016 Class [] same
second 6016
6016 Age [] same
second 6016
flag false 6016
6138
6138 Class [] same
second 6138
6138 Age [] same
second 6138
6138 Venue ID [] samerun1
first 6138
pass 6138 Venue ID
3 3
6138 Distance [] any
6138 Trainer [] samerun1
first 6138
pass 6138 Trainer
WARREN SINGH WARREN SINGH
6138 Jockey [] samerun1
first 6138
fail 6138 Jockey
P KIRAN RAI N RAJESH
6197
6197 Class [] same
second 6197
6197 Age [] same
second 6197
6197 Venue ID [] samerun1
first 6197
pass 6197 Venue ID
3 3
6197 Distance [] any
6197 Trainer [] samerun1
first 6197
pass 6197 Trainer
S DOMINIC S DOMINIC
6197 Jockey [] samerun1
first 6197
fail 6197 Jockey
K P G APPU LADJADJ STEPHANE
6240
6240 Class [] same
second 6240
flag false 6240
6314
6314 Class [] same
second 6314
flag false 6314
6331
6331 Class [] same
second 6331
flag false 6331
6354
6354 Class [] same
second 6354
flag false 6354
6439
6439 Class [] same
second 6439
flag false 6439
6469
6469 Class [] same
second 6469
flag false 6469
6569
6569 Class [] same
second 6569
flag false 6569
6593
6593 Class [] same
second 6593
flag false 6593
6639
6639 Class [] same
second 6639
flag false 6639
6698
6698 Class [] same
second 6698
flag false 6698
6809
6809 Class [] same
second 6809
6809 Age [] same
second 6809
6809 Venue ID [] samerun1
first 6809
pass 6809 Venue ID
3 3
6809 Distance [] any
6809 Trainer [] samerun1
first 6809
pass 6809 Trainer
DARIUS BYRAMJI DARIUS BYRAMJI
6809 Jockey [] samerun1
first 6809
fail 6809 Jockey
P S CHOUHAN LADJADJ STEPHANE
6817
6817 Class [] same
second 6817
6817 Age [] same
second 6817
flag false 6817
6851
6851 Class [] same
second 6851
6851 Age [] same
second 6851
6851 Venue ID [] samerun1
first 6851
pass 6851 Venue ID
3 3
6851 Distance [] any
6851 Trainer [] samerun1
first 6851
pass 6851 Trainer
PRASANNA KUMAR PRASANNA KUMAR
6851 Jockey [] samerun1
first 6851
fail 6851 Jockey
LADJADJ STEPHANE B HARISH
6911
6911 Class [] same
second 6911
flag false 6911
6946
6946 Class [] same
second 6946
flag false 6946
7073
7073 Class [] same
second 7073
flag false 7073
7108
7108 Class [] same
second 7108
flag false 7108
7176
7176 Class [] same
second 7176
flag false 7176
7179
7179 Class [] same
second 7179
flag false 7179
7181
7181 Class [] same
second 7181
flag false 7181
7201
7201 Class [] same
second 7201
flag false 7201
7216
7216 Class [] same
second 7216
7216 Age [] same
second 7216
7216 Venue ID [] samerun1
first 7216
pass 7216 Venue ID
1 1
7216 Distance [] any
7216 Trainer [] samerun1
first 7216
pass 7216 Trainer
VIJAY SINGH VIJAY SINGH
7216 Jockey [] samerun1
first 7216
pass 7216 Jockey
C ALFORD C ALFORD
appended 7216
7217
7217 Class [] same
second 7217
7217 Age [] same
second 7217
7217 Venue ID [] samerun1
first 7217
pass 7217 Venue ID
1 1
7217 Distance [] any
7217 Trainer [] samerun1
first 7217
pass 7217 Trainer
VIJAY SINGH VIJAY SINGH
7217 Jockey [] samerun1
first 7217
pass 7217 Jockey
C ALFORD C ALFORD
appended 7217
7345
7345 Class [] same
second 7345
flag false 7345
7386
7386 Class [] same
second 7386
flag false 7386
7419
7419 Class [] same
second 7419
flag false 7419
7420
7420 Class [] same
second 7420
7420 Age [] same
second 7420
7420 Venue ID [] samerun1
first 7420
pass 7420 Venue ID
1 1
7420 Distance [] any
7420 Trainer [] samerun1
first 7420
pass 7420 Trainer
SHAFIQ KHAN SHAFIQ KHAN
7420 Jockey [] samerun1
first 7420
pass 7420 Jockey
IMRAN KHAN IMRAN KHAN
appended 7420
7484
7484 Class [] same
second 7484
7484 Age [] same
second 7484
flag false 7484
7668
7668 Class [] same
second 7668
7668 Age [] same
second 7668
flag false 7668
7750
7750 Class [] same
second 7750
7750 Age [] same
second 7750
flag false 7750
7876
7876 Class [] same
second 7876
flag false 7876
7934
7934 Class [] same
second 7934
flag false 7934
7935
7935 Class [] same
second 7935
7935 Age [] same
second 7935
flag false 7935
7951
7951 Class [] same
second 7951
7951 Age [] same
second 7951
flag false 7951
8045
8045 Class [] same
second 8045
flag false 8045
8099
8099 Class [] same
second 8099
8099 Age [] same
second 8099
flag false 8099
8177
8177 Class [] same
second 8177
8177 Age [] same
second 8177
8177 Venue ID [] samerun1
first 8177
pass 8177 Venue ID
1 1
8177 Distance [] any
8177 Trainer [] samerun1
first 8177
pass 8177 Trainer
JAVED KHAN JAVED KHAN
8177 Jockey [] samerun1
first 8177
pass 8177 Jockey
Y S SRINATH Y S SRINATH
appended 8177
8178
8178 Class [] same
second 8178
flag false 8178
8203
8203 Class [] same
second 8203
flag false 8203
8204
8204 Class [] same
second 8204
flag false 8204
8321
8321 Class [] same
second 8321
8321 Age [] same
second 8321
flag false 8321
8398
8398 Class [] same
second 8398
8398 Age [] same
second 8398
flag false 8398
8449
8449 Class [] same
second 8449
flag false 8449
8451
8451 Class [] same
second 8451
flag false 8451
8476
8476 Class [] same
second 8476
8476 Age [] same
second 8476
flag false 8476
8497
8497 Class [] same
second 8497
flag false 8497
8521
8521 Class [] same
second 8521
flag false 8521
8546
8546 Class [] same
second 8546
flag false 8546
8561
8561 Class [] same
second 8561
8561 Age [] same
second 8561
flag false 8561
8592
8592 Class [] same
second 8592
flag false 8592
8602
8602 Class [] same
second 8602
flag false 8602
8681
8681 Class [] same
second 8681
8681 Age [] same
second 8681
flag false 8681
8725
8725 Class [] same

second 8725
8725 Age [] same
second 8725
flag false 8725
8858
8858 Class [] same
second 8858
flag false 8858
8900
8900 Class [] same
second 8900
flag false 8900
8935
8935 Class [] same
second 8935
flag false 8935
9102
9102 Class [] same
second 9102
9102 Age [] same
second 9102
flag false 9102
9188
9188 Class [] same
second 9188
flag false 9188
9275
9275 Class [] same
second 9275
flag false 9275
9303
9303 Class [] same
second 9303
flag false 9303
9336
9336 Class [] same
second 9336
flag false 9336
9351
9351 Class [] same
second 9351
flag false 9351
9366
9366 Class [] same
second 9366
9366 Age [] same
second 9366
9366 Venue ID [] samerun1
first 9366
pass 9366 Venue ID
1 1
9366 Distance [] any
9366 Trainer [] samerun1
first 9366
pass 9366 Trainer
VIJAY SINGH VIJAY SINGH
9366 Jockey [] samerun1
first 9366
pass 9366 Jockey
C ALFORD C ALFORD
appended 9366
9368
9368 Class [] same
second 9368
9368 Age [] same
second 9368
9368 Venue ID [] samerun1
first 9368
pass 9368 Venue ID
1 1
9368 Distance [] any
9368 Trainer [] samerun1
first 9368
pass 9368 Trainer
VIJAY SINGH VIJAY SINGH
9368 Jockey [] samerun1
first 9368
pass 9368 Jockey
C ALFORD C ALFORD
appended 9368
9436
9436 Class [] same
second 9436
9436 Age [] same
second 9436
9436 Venue ID [] samerun1
first 9436
pass 9436 Venue ID
2 2
9436 Distance [] any
9436 Trainer [] samerun1
first 9436
pass 9436 Trainer
M K JADHAV M K JADHAV
9436 Jockey [] samerun1
first 9436
fail 9436 Jockey
S ZERVAN B PRAKASH
9480
9480 Class [] same
second 9480
9480 Age [] same
second 9480
9480 Venue ID [] samerun1
first 9480
pass 9480 Venue ID
3 3
9480 Distance [] any
9480 Trainer [] samerun1
first 9480
pass 9480 Trainer
S S ATTAOLLAHI S S ATTAOLLAHI
9480 Jockey [] samerun1
first 9480
pass 9480 Jockey
P TREVOR P TREVOR
appended 9480
9546
9546 Class [] same
second 9546
9546 Age [] same
second 9546
9546 Venue ID [] samerun1
first 9546
pass 9546 Venue ID
3 3
9546 Distance [] any
9546 Trainer [] samerun1
first 9546
pass 9546 Trainer
S NARREDU S NARREDU
9546 Jockey [] samerun1
first 9546
pass 9546 Jockey
P S CHOUHAN P S CHOUHAN
appended 9546
9547
9547 Class [] same
second 9547
flag false 9547
9655
9655 Class [] same
second 9655
9655 Age [] same
second 9655
9655 Venue ID [] samerun1
first 9655
pass 9655 Venue ID
1 1
9655 Distance [] any
9655 Trainer [] samerun1
first 9655
pass 9655 Trainer
P SHROFF P SHROFF
9655 Jockey [] samerun1
first 9655
fail 9655 Jockey
S ZERVAN B PRAKASH
9676
9676 Class [] same
second 9676
flag false 9676
9800
9800 Class [] same
second 9800
9800 Age [] same
second 9800
9800 Venue ID [] samerun1
first 9800
pass 9800 Venue ID
1 1
9800 Distance [] any
9800 Trainer [] samerun1
first 9800
pass 9800 Trainer
VIJAY SINGH VIJAY SINGH
9800 Jockey [] samerun1
first 9800
pass 9800 Jockey
C ALFORD C ALFORD
appended 9800
9856
9856 Class [] same
second 9856
flag false 9856
9859
9859 Class [] same
second 9859
flag false 9859
9908
9908 Class [] same
second 9908
9908 Age [] same
second 9908
9908 Venue ID [] samerun1
first 9908
pass 9908 Venue ID
1 1
9908 Distance [] any
9908 Trainer [] samerun1
first 9908
pass 9908 Trainer
ARTI DOCTOR ARTI DOCTOR
9908 Jockey [] samerun1
first 9908
pass 9908 Jockey
P KAMLESH P KAMLESH
appended 9908
9910
9910 Class [] same
second 9910
flag false 9910
9969
9969 Class [] same
second 9969
9969 Age [] same
second 9969
9969 Venue ID [] samerun1
first 9969
pass 9969 Venue ID
1 1
9969 Distance [] any
9969 Trainer [] samerun1
first 9969
pass 9969 Trainer
BHARATH SINGH BHARATH SINGH
9969 Jockey [] samerun1
first 9969
fail 9969 Jockey
P TREVOR SURAJ NARREDU
9971
9971 Class [] same
second 9971
9971 Age [] same
second 9971
9971 Venue ID [] samerun1
first 9971
pass 9971 Venue ID
1 1
9971 Distance [] any
9971 Trainer [] samerun1
first 9971
pass 9971 Trainer
BHARATH SINGH BHARATH SINGH
9971 Jockey [] samerun1
first 9971
fail 9971 Jockey
P S CHOUHAN SURAJ NARREDU
10005
10005 Class [] same
second 10005
flag false 10005
10016
10016 Class [] same
second 10016
flag false 10016
10045
10045 Class [] same
second 10045
flag false 10045
10050
10050 Class [] same
second 10050
flag false 10050
10114
10114 Class [] same
second 10114
flag false 10114
10300
10300 Class [] same
second 10300
flag false 10300
10326
10326 Class [] same
second 10326
flag false 10326
10351
10351 Class [] same
second 10351
flag false 10351
10427
10427 Class [] same
second 10427
flag false 10427
10428
10428 Class [] same
second 10428
flag false 10428
10530
10530 Class [] same
second 10530
flag false 10530
10550
10550 Class [] same
second 10550
flag false 10550
10634
10634 Class [] same
second 10634
10634 Age [] same
second 10634
10634 Venue ID [] samerun1
first 10634
pass 10634 Venue ID
3 3
10634 Distance [] any
10634 Trainer [] samerun1
first 10634
pass 10634 Trainer
SAMAR SINGH SAMAR SINGH
10634 Jockey [] samerun1
first 10634
fail 10634 Jockey
S JOHN AMYN MERCHANT
10706
10706 Class [] same
second 10706
10706 Age [] same
second 10706
10706 Venue ID [] samerun1
first 10706
pass 10706 Venue ID
2 2
10706 Distance [] any
10706 Trainer [] samerun1
first 10706
pass 10706 Trainer
M NARREDU M NARREDU
10706 Jockey [] samerun1
first 10706
pass 10706 Jockey
DANIEL M GRANT DANIEL M GRANT
appended 10706
10807
10807 Class [] same
second 10807
flag false 10807
10813
10813 Class [] same
second 10813
flag false 10813
10817
10817 Class [] same
second 10817
10817 Age [] same
second 10817
flag false 10817
10867
10867 Class [] same
second 10867
flag false 10867
10869
10869 Class [] same
second 10869
flag false 10869
10927
10927 Class [] same
second 10927
10927 Age [] same
second 10927
10927 Venue ID [] samerun1
first 10927
pass 10927 Venue ID
3 3
10927 Distance [] any
10927 Trainer [] samerun1
first 10927
pass 10927 Trainer
S PADMANABHAN S PADMANABHAN
10927 Jockey [] samerun1
first 10927
fail 10927 Jockey
DAVID ALLAN A SANDESH
11204
11204 Class [] same
second 11204
11204 Age [] same
second 11204
11204 Venue ID [] samerun1
first 11204
pass 11204 Venue ID
1 1
11204 Distance [] any
11204 Trainer [] samerun1
first 11204
fail 11204 Trainer
SHAFIQ KHAN BHARATH SINGH
11206
11206 Class [] same
second 11206
flag false 11206
11290
11290 Class [] same
second 11290
11290 Age [] same
second 11290
11290 Venue ID [] samerun1
first 11290
pass 11290 Venue ID
1 1
11290 Distance [] any
11290 Trainer [] samerun1
first 11290
pass 11290 Trainer
JASBIR SINGH JASBIR SINGH
11290 Jockey [] samerun1
first 11290
pass 11290 Jockey
B SRINIVAS RAO B SRINIVAS RAO
appended 11290
11354
11354 Class [] same
second 11354
flag false 11354
11356
11356 Class [] same
second 11356
flag false 11356
11438
11438 Class [] same
second 11438
flag false 11438
11471
11471 Class [] same
second 11471
flag false 11471
11483
11483 Class [] same
second 11483
flag false 11483
11657
11657 Class [] same
second 11657
flag false 11657
11661
11661 Class [] same
second 11661
flag false 11661
11727
11727 Class [] same
second 11727
flag false 11727
11754
11754 Class [] same
second 11754
flag false 11754
11797
11797 Class [] same
second 11797
flag false 11797
11822
11822 Class [] same
second 11822
11822 Age [] same
second 11822
11822 Venue ID [] samerun1
first 11822
pass 11822 Venue ID
1 1
11822 Distance [] any
11822 Trainer [] samerun1
first 11822
pass 11822 Trainer
JASBIR SINGH JASBIR SINGH
11822 Jockey [] samerun1
first 11822
pass 11822 Jockey
N S PARMAR N S PARMAR
appended 11822
11949
11949 Class [] same
second 11949
flag false 11949
12089
12089 Class [] same
second 12089
flag false 12089
12154
12154 Class [] same
second 12154
12154 Age [] same
second 12154
flag false 12154
12223
12223 Class [] same
second 12223
flag false 12223
12240
12240 Class [] same
second 12240
12240 Age [] same
second 12240
flag false 12240
12241
12241 Class [] same
second 12241
flag false 12241
12356
12356 Class [] same
second 12356
flag false 12356
12357
12357 Class [] same
second 12357
flag false 12357
12364
12364 Class [] same
second 12364
flag false 12364
12442
12442 Class [] same
second 12442
flag false 12442
12515
12515 Class [] same
second 12515
12515 Age [] same
second 12515
flag false 12515
12538
12538 Class [] same
second 12538
flag false 12538
12550
12550 Class [] same
second 12550
12550 Age [] same
second 12550
flag false 12550
12554
12554 Class [] same
second 12554
flag false 12554
12556
12556 Class [] same
second 12556
flag false 12556
12559
12559 Class [] same
second 12559
flag false 12559
12567
12567 Class [] same
second 12567
12567 Age [] same
second 12567
flag false 12567
12610
12610 Class [] same
second 12610
flag false 12610
12611
12611 Class [] same
second 12611
flag false 12611
12848
12848 Class [] same
second 12848
flag false 12848
12962
12962 Class [] same
second 12962
flag false 12962
12964
12964 Class [] same
second 12964
12964 Age [] same
second 12964
flag false 12964
13010
13010 Class [] same
second 13010
13010 Age [] same
second 13010
flag false 13010
13071
13071 Class [] same
second 13071
flag false 13071
13126
13126 Class [] same
second 13126
13126 Age [] same
second 13126
13126 Venue ID [] samerun1
first 13126
pass 13126 Venue ID
3 3
13126 Distance [] any
13126 Trainer [] samerun1
first 13126
pass 13126 Trainer
S PADMANABHAN S PADMANABHAN
13126 Jockey [] samerun1
first 13126
fail 13126 Jockey
A SANDESH P TREVOR
13198
13198 Class [] same
second 13198
flag false 13198
13216
13216 Class [] same
second 13216
flag false 13216
13300
13300 Class [] same
second 13300
13300 Age [] same
second 13300
13300 Venue ID [] samerun1
first 13300
pass 13300 Venue ID
1 1
13300 Distance [] any
13300 Trainer [] samerun1
first 13300
pass 13300 Trainer
D M DAVID D M DAVID
13300 Jockey [] samerun1
first 13300
pass 13300 Jockey
B SREEKANTH B SREEKANTH
appended 13300
13350
13350 Class [] same
second 13350
flag false 13350
13379
13379 Class [] same
second 13379
13379 Age [] same
second 13379
13379 Venue ID [] samerun1
first 13379
pass 13379 Venue ID
3 3
13379 Distance [] any
13379 Trainer [] samerun1
first 13379
fail 13379 Trainer
S S ATTAOLLAHI J S DHARIWAL
13475
13475 Class [] same
second 13475
flag false 13475
13595
13595 Class [] same
second 13595
flag false 13595
13606
13606 Class [] same
second 13606
flag false 13606
13670
13670 Class [] same
second 13670
flag false 13670
13827
13827 Class [] same
second 13827
flag false 13827
13931
13931 Class [] same
second 13931
flag false 13931
14029
14029 Class [] same
second 14029
flag false 14029
14164
14164 Class [] same
second 14164
flag false 14164
14171
14171 Class [] same
second 14171
flag false 14171
14303
14303 Class [] same
second 14303
flag false 14303
14305
14305 Class [] same
second 14305
flag false 14305
14345
14345 Class [] same
second 14345
14345 Age [] same
second 14345
14345 Venue ID [] samerun1
first 14345
pass 14345 Venue ID
3 3
14345 Distance [] any
14345 Trainer [] samerun1
first 14345
pass 14345 Trainer
IRFAN GHATALA IRFAN GHATALA
14345 Jockey [] samerun1
first 14345
fail 14345 Jockey
SURAJ NARREDU P S CHOUHAN
14347
14347 Class [] same
second 14347
flag false 14347
14403
14403 Class [] same
second 14403
14403 Age [] same
second 14403
14403 Venue ID [] samerun1
first 14403
pass 14403 Venue ID
3 3
14403 Distance [] any
14403 Trainer [] samerun1
first 14403
pass 14403 Trainer
S S ATTAOLLAHI S S ATTAOLLAHI
14403 Jockey [] samerun1
first 14403
fail 14403 Jockey
B SREEKANTH P S CHOUHAN
14406
14406 Class [] same
second 14406
flag false 14406
14432
14432 Class [] same
second 14432
flag false 14432
14480
14480 Class [] same
second 14480
flag false 14480
14482
14482 Class [] same
second 14482
flag false 14482
14484
14484 Class [] same
second 14484
flag false 14484
14506
14506 Class [] same
second 14506
flag false 14506
14508
14508 Class [] same
second 14508
flag false 14508
14583
14583 Class [] same
second 14583
14583 Age [] same
second 14583
14583 Venue ID [] samerun1
first 14583
pass 14583 Venue ID
1 1
14583 Distance [] any
14583 Trainer [] samerun1
first 14583
pass 14583 Trainer
VIKASH JAISWAL VIKASH JAISWAL
14583 Jockey [] samerun1
first 14583
pass 14583 Jockey
VINAY JAISWAL VINAY JAISWAL
appended 14583
14608

14608 Class [] same
second 14608
14608 Age [] same
second 14608
flag false 14608
14756
14756 Class [] same
second 14756
flag false 14756
14815
14815 Class [] same
second 14815
flag false 14815
14952
14952 Class [] same
second 14952
flag false 14952
14956
14956 Class [] same
second 14956
14956 Age [] same
second 14956
14956 Venue ID [] samerun1
first 14956
pass 14956 Venue ID
3 3
14956 Distance [] any
14956 Trainer [] samerun1
first 14956
fail 14956 Trainer
AZHAR ALI S S ATTAOLLAHI
15024
15024 Class [] same
second 15024
15024 Age [] same
second 15024
flag false 15024
15125
15125 Class [] same
second 15125
15125 Age [] same
second 15125
flag false 15125
15183
15183 Class [] same
second 15183
15183 Age [] same
second 15183
flag false 15183
15267
15267 Class [] same
second 15267
flag false 15267
15268
15268 Class [] same
second 15268
flag false 15268
15319
15319 Class [] same
second 15319
15319 Age [] same
second 15319
flag false 15319
15364
15364 Class [] same
second 15364
15364 Age [] same
second 15364
flag false 15364
15374
15374 Class [] same
second 15374
flag false 15374
15423
15423 Class [] same
second 15423
15423 Age [] same
second 15423
flag false 15423
15434
15434 Class [] same
second 15434
flag false 15434
15528
15528 Class [] same
second 15528
15528 Age [] same
second 15528
15528 Venue ID [] samerun1
first 15528
pass 15528 Venue ID
1 1
15528 Distance [] any
15528 Trainer [] samerun1
first 15528
pass 15528 Trainer
VIKASH JAISWAL VIKASH JAISWAL
15528 Jockey [] samerun1
first 15528
pass 15528 Jockey
AFZAL KHAN AFZAL KHAN
appended 15528
15597
15597 Class [] same
second 15597
15597 Age [] same
second 15597
flag false 15597
15649
15649 Class [] same
second 15649
flag false 15649
15651
15651 Class [] same
second 15651
flag false 15651
15654
15654 Class [] same
second 15654
flag false 15654
15664
15664 Class [] same
second 15664
flag false 15664
15668
15668 Class [] same
second 15668
flag false 15668
15758
15758 Class [] same
second 15758
15758 Age [] same
second 15758
flag false 15758
15860
15860 Class [] same
second 15860
15860 Age [] same
second 15860
15860 Venue ID [] samerun1
first 15860
pass 15860 Venue ID
3 3
15860 Distance [] any
15860 Trainer [] samerun1
first 15860
pass 15860 Trainer
G NITYANAND G NITYANAND
15860 Jockey [] samerun1
first 15860
fail 15860 Jockey
A SANDESH SHOBHAN BABU
16064
16064 Class [] same
second 16064
16064 Age [] same
second 16064
flag false 16064
16124
16124 Class [] same
second 16124
flag false 16124
16142
16142 Class [] same
second 16142
16142 Age [] same
second 16142
16142 Venue ID [] samerun1
first 16142
pass 16142 Venue ID
3 3
16142 Distance [] any
16142 Trainer [] samerun1
first 16142
pass 16142 Trainer
J S DHARIWAL J S DHARIWAL
16142 Jockey [] samerun1
first 16142
pass 16142 Jockey
P TREVOR P TREVOR
appended 16142
16144
16144 Class [] same
second 16144
flag false 16144
16195
16195 Class [] same
second 16195
flag false 16195
16197
16197 Class [] same
second 16197
flag false 16197
16214
16214 Class [] same
second 16214
16214 Age [] same
second 16214
16214 Venue ID [] samerun1
first 16214
pass 16214 Venue ID
3 3
16214 Distance [] any
16214 Trainer [] samerun1
first 16214
pass 16214 Trainer
B PRITHVIRAJ B PRITHVIRAJ
16214 Jockey [] samerun1
first 16214
fail 16214 Jockey
D K ASHISH V R JAGADEESH
16256
16256 Class [] same
second 16256
flag false 16256
16263
16263 Class [] same
second 16263
flag false 16263
16281
16281 Class [] same
second 16281
flag false 16281
16283
16283 Class [] same
second 16283
16283 Age [] same
second 16283
flag false 16283
16330
16330 Class [] same
second 16330
flag false 16330
16482
16482 Class [] same
second 16482
flag false 16482
16583
16583 Class [] same
second 16583
16583 Age [] same
second 16583
flag false 16583
16596
16596 Class [] same
second 16596
flag false 16596
16626
16626 Class [] same
second 16626
16626 Age [] same
second 16626
16626 Venue ID [] samerun1
first 16626
pass 16626 Venue ID
3 3
16626 Distance [] any
16626 Trainer [] samerun1
first 16626
pass 16626 Trainer
S S ATTAOLLAHI S S ATTAOLLAHI
16626 Jockey [] samerun1
first 16626
pass 16626 Jockey
P TREVOR P TREVOR
appended 16626
16628
16628 Class [] same
second 16628
flag false 16628
16666
16666 Class [] same
second 16666
flag false 16666
16673
16673 Class [] same
second 16673
16673 Age [] same
second 16673
16673 Venue ID [] samerun1
first 16673
fail 16673 Venue ID
11 3
16720
16720 Class [] same
second 16720
16720 Age [] same
second 16720
16720 Venue ID [] samerun1
first 16720
pass 16720 Venue ID
3 3
16720 Distance [] any
16720 Trainer [] samerun1
first 16720
pass 16720 Trainer
V LOKANATH V LOKANATH
16720 Jockey [] samerun1
first 16720
fail 16720 Jockey
J H CHRISTOPHER DASHRATH SINGH
16746
16746 Class [] same
second 16746
flag false 16746
16799
16799 Class [] same
second 16799
flag false 16799
16801
16801 Class [] same
second 16801
16801 Age [] same
second 16801
16801 Venue ID [] samerun1
first 16801
pass 16801 Venue ID
3 3
16801 Distance [] any
16801 Trainer [] samerun1
first 16801
pass 16801 Trainer
S DOMINIC S DOMINIC
16801 Jockey [] samerun1
first 16801
fail 16801 Jockey
S JOHN WITHDRAWN
16834
16834 Class [] same
second 16834
flag false 16834
16876
16876 Class [] same
second 16876
flag false 16876
16878
16878 Class [] same
second 16878
16878 Age [] same
second 16878
16878 Venue ID [] samerun1
first 16878
pass 16878 Venue ID
3 3
16878 Distance [] any
16878 Trainer [] samerun1
first 16878
pass 16878 Trainer
RAJESH NARREDU RAJESH NARREDU
16878 Jockey [] samerun1
first 16878
fail 16878 Jockey
YASH NARREDU Y S SRINATH
16936
16936 Class [] same
second 16936
flag false 16936
16976
16976 Class [] same
second 16976
16976 Age [] same
second 16976
16976 Venue ID [] samerun1
first 16976
pass 16976 Venue ID
1 1
16976 Distance [] any
16976 Trainer [] samerun1
first 16976
pass 16976 Trainer
BHARATH SINGH BHARATH SINGH
16976 Jockey [] samerun1
first 16976
fail 16976 Jockey
WITHDRAWN DASHRATH SINGH
17116
17116 Class [] same
second 17116
flag false 17116
17117
17117 Class [] same
second 17117
flag false 17117
17129
17129 Class [] same
second 17129
flag false 17129
17195
17195 Class [] same
second 17195
flag false 17195
17205
17205 Class [] same
second 17205
flag false 17205
17280
17280 Class [] same
second 17280
flag false 17280
17349
17349 Class [] same
second 17349
17349 Age [] same
second 17349
17349 Venue ID [] samerun1
first 17349
pass 17349 Venue ID
1 1
17349 Distance [] any
17349 Trainer [] samerun1
first 17349
pass 17349 Trainer
P QUINN P QUINN
17349 Jockey [] samerun1
first 17349
fail 17349 Jockey
WITHDRAWN SURJEET SINGH
17493
17493 Class [] same
second 17493
17493 Age [] same
second 17493
flag false 17493
17511
17511 Class [] same
second 17511
flag false 17511
17514
17514 Class [] same
second 17514
flag false 17514
17526
17526 Class [] same
second 17526
flag false 17526
17531
17531 Class [] same
second 17531
flag false 17531
17586
17586 Class [] same
second 17586
17586 Age [] same
second 17586
flag false 17586
17634
17634 Class [] same
second 17634
flag false 17634
17672
17672 Class [] same
second 17672
17672 Age [] same
second 17672
flag false 17672
17787
17787 Class [] same
second 17787
flag false 17787
17814
17814 Class [] same
second 17814
flag false 17814
18038
18038 Class [] same
second 18038
flag false 18038
18175
18175 Class [] same
second 18175
18175 Age [] same
second 18175
flag false 18175
18204
18204 Class [] same
second 18204
18204 Age [] same
second 18204
flag false 18204
18215
18215 Class [] same
second 18215
flag false 18215
18372
18372 Class [] same
second 18372
flag false 18372
18528
18528 Class [] same
second 18528
flag false 18528
18592
18592 Class [] same
second 18592
18592 Age [] same
second 18592
flag false 18592
18680
18680 Class [] same
second 18680
18680 Age [] same
second 18680
18680 Venue ID [] samerun1
first 18680
fail 18680 Venue ID
8 1
18773
18773 Class [] same
second 18773
18773 Age [] same
second 18773
18773 Venue ID [] samerun1
first 18773
pass 18773 Venue ID
2 2
18773 Distance [] any
18773 Trainer [] samerun1
first 18773
pass 18773 Trainer
NIRAD KARANJAWALA NIRAD KARANJAWALA
18773 Jockey [] samerun1
first 18773
pass 18773 Jockey
A SANDESH A SANDESH
appended 18773
18775
18775 Class [] same
second 18775
flag false 18775
18815
18815 Class [] same
second 18815
flag false 18815
18837
18837 Class [] same
second 18837
flag false 18837
18888
18888 Class [] same
second 18888
18888 Age [] same
second 18888
18888 Venue ID [] samerun1
first 18888
pass 18888 Venue ID
2 2
18888 Distance [] any
18888 Trainer [] samerun1
first 18888
pass 18888 Trainer
SANJAY KOLSE SANJAY KOLSE
18888 Jockey [] samerun1
first 18888
fail 18888 Jockey
S J SUNIL A SANDESH
18977
18977 Class [] same
second 18977
flag false 18977
19002
19002 Class [] same
second 19002
19002 Age [] same
second 19002
19002 Venue ID [] samerun1
first 19002
pass 19002 Venue ID
2 2
19002 Distance [] any
19002 Trainer [] samerun1
first 19002
pass 19002 Trainer
S K SUNDERJI S K SUNDERJI
19002 Jockey [] samerun1
first 19002
pass 19002 Jockey
P TREVOR P TREVOR
appended 19002
19004
19004 Class [] same
second 19004
flag false 19004
19043
19043 Class [] same
second 19043
flag false 19043
19089
19089 Class [] same
second 19089
flag false 19089
19131
19131 Class [] same
second 19131
flag false 19131
19160
19160 Class [] same
second 19160
flag false 19160
19193
19193 Class [] same
second 19193
flag false 19193
19268
19268 Class [] same
second 19268
19268 Age [] same
second 19268
19268 Venue ID [] samerun1
first 19268
pass 19268 Venue ID
3 3
19268 Distance [] any
19268 Trainer [] samerun1
first 19268
pass 19268 Trainer
S DOMINIC S DOMINIC
19268 Jockey [] samerun1
first 19268
fail 19268 Jockey
P TREVOR A IMRAN KHAN
19281
19281 Class [] same
second 19281
flag false 19281
19450
19450 Class [] same
second 19450
flag false 19450
19569
19569 Class [] same
second 19569
19569 Age [] same
second 19569
19569 Venue ID [] samerun1
first 19569
pass 19569 Venue ID
8 8
19569 Distance [] any
19569 Trainer [] samerun1
first 19569
pass 19569 Trainer
IMTIAZ KHAN IMTIAZ KHAN
19569 Jockey [] samerun1
first 19569
fail 19569 Jockey
ARSHAD ALAM NITIN SINGH
19639
19639 Class [] same
second 19639
19639 Age [] same
second 19639
19639 Venue ID [] samerun1
first 19639
pass 19639 Venue ID
1 1
19639 Distance [] any
19639 Trainer [] samerun1
first 19639
pass 19639 Trainer
R V GOWLI R V GOWLI
19639 Jockey [] samerun1
first 19639
pass 19639 Jockey
ZARAR ALAM ZARAR ALAM
appended 19639
19671
19671 Class [] same
second 19671
flag false 19671
19704
19704 Class [] same
second 19704
19704 Age [] same
second 19704
flag false 19704
19746
19746 Class [] same
second 19746
flag false 19746
19844
19844 Class [] same
second 19844
flag false 19844
19868
19868 Class [] same
second 19868
19868 Age [] same
second 19868
19868 Venue ID [] samerun1
first 19868
pass 19868 Venue ID
2 2
19868 Distance [] any
19868 Trainer [] samerun1
first 19868
pass 19868 Trainer
M NARREDU M NARREDU
19868 Jockey [] samerun1
first 19868
fail 19868 Jockey
S ZERVAN SURAJ NARREDU
19922
19922 Class [] same
second 19922
19922 Age [] same
second 19922
flag false 19922
19945
19945 Class [] same
second 19945
19945 Age [] same
second 19945
flag false 19945
20069
20069 Class [] same
second 20069
20069 Age [] same
second 20069
20069 Venue ID [] samerun1
first 20069
pass 20069 Venue ID
1 1
20069 Distance [] any
20069 Trainer [] samerun1
first 20069
pass 20069 Trainer
SHAFIQ KHAN SHAFIQ KHAN
20069 Jockey [] samerun1
first 20069
fail 20069 Jockey
RANIDAN SINGH A ASHHAD ASBAR
20082
20082 Class [] same
second 20082
flag false 20082
20103
20103 Class [] same
second 20103
20103 Age [] same
second 20103
flag false 20103
20162
20162 Class [] same
second 20162
flag false 20162
20182
20182 Class [] same
second 20182
flag false 20182
20248
20248 Class [] same
second 20248
20248 Age [] same
second 20248
flag false 20248
20300
20300 Class [] same
second 20300
flag false 20300
20352
20352 Class [] same
second 20352
flag false 20352
20379
20379 Class [] same
second 20379
flag false 20379
20381
20381 Class [] same
second 20381
20381 Age [] same
second 20381
flag false 20381
20434
20434 Class [] same
second 20434
flag false 20434
20453
20453 Class [] same
second 20453
flag false 20453
20490
20490 Class [] same
second 20490
flag false 20490
20528
20528 Class [] same
second 20528
flag false 20528
20580
20580 Class [] same
second 20580
flag false 20580
20613
20613 Class [] same
second 20613
flag false 20613
20656
20656 Class [] same
second 20656
flag false 20656
20664
20664 Class [] same
second 20664
flag false 20664
20679
20679 Class [] same
second 20679
flag false 20679
20768
20768 Class [] same
second 20768
flag false 20768
20820
20820 Class [] same
second 20820
flag false 20820
20838
20838 Class [] same
second 20838
flag false 20838
20849
20849 Class [] same
second 20849
flag false 20849
20900

20900 Class [] same
second 20900
20900 Age [] same
second 20900
flag false 20900
20973
20973 Class [] same
second 20973
flag false 20973
20997
20997 Class [] same
second 20997
20997 Age [] same
second 20997
20997 Venue ID [] samerun1
first 20997
pass 20997 Venue ID
3 3
20997 Distance [] any
20997 Trainer [] samerun1
first 20997
pass 20997 Trainer
ARJUN MANGALORKAR ARJUN MANGALORKAR
20997 Jockey [] samerun1
first 20997
pass 20997 Jockey
S JOHN S JOHN
appended 20997
21075
21075 Class [] same
second 21075
flag false 21075
21146
21146 Class [] same
second 21146
flag false 21146
21147
21147 Class [] same
second 21147
flag false 21147
21247
21247 Class [] same
second 21247
21247 Age [] same
second 21247
flag false 21247
21285
21285 Class [] same
second 21285
flag false 21285
21299
21299 Class [] same
second 21299
flag false 21299
21314
21314 Class [] same
second 21314
flag false 21314
21336
21336 Class [] same
second 21336
21336 Age [] same
second 21336
21336 Venue ID [] samerun1
first 21336
pass 21336 Venue ID
1 1
21336 Distance [] any
21336 Trainer [] samerun1
first 21336
pass 21336 Trainer
SHAFIQ KHAN SHAFIQ KHAN
21336 Jockey [] samerun1
first 21336
fail 21336 Jockey
T S JODHA AFZAL KHAN
21408
21408 Class [] same
second 21408
flag false 21408
21409
21409 Class [] same
second 21409
flag false 21409
21437
21437 Class [] same
second 21437
21437 Age [] same
second 21437
flag false 21437
21528
21528 Class [] same
second 21528
flag false 21528
21630
21630 Class [] same
second 21630
21630 Age [] same
second 21630
flag false 21630
21672
21672 Class [] same
second 21672
21672 Age [] same
second 21672
flag false 21672
21689
21689 Class [] same
second 21689
flag false 21689
21692
21692 Class [] same
second 21692
flag false 21692
21748
21748 Class [] same
second 21748
21748 Age [] same
second 21748
flag false 21748
21817
21817 Class [] same
second 21817
flag false 21817
21831
21831 Class [] same
second 21831
21831 Age [] same
second 21831
flag false 21831
21867
21867 Class [] same
second 21867
flag false 21867
21892
21892 Class [] same
second 21892
flag false 21892
21895
21895 Class [] same
second 21895
flag false 21895
21896
21896 Class [] same
second 21896
flag false 21896
21920
21920 Class [] same
second 21920
21920 Age [] same
second 21920
21920 Venue ID [] samerun1
first 21920
pass 21920 Venue ID
4 4
21920 Distance [] any
21920 Trainer [] samerun1
first 21920
pass 21920 Trainer
B Suresh B Suresh
21920 Jockey [] samerun1
first 21920
fail 21920 Jockey
C Umesh P S Chouhan
22041
22041 Class [] same
second 22041
flag false 22041
22052
22052 Class [] same
second 22052
flag false 22052
22101
22101 Class [] same
second 22101
flag false 22101
22147
22147 Class [] same
second 22147
flag false 22147
22157
22157 Class [] same
second 22157
22157 Age [] same
second 22157
22157 Venue ID [] samerun1
first 22157
pass 22157 Venue ID
4 4
22157 Distance [] any
22157 Trainer [] samerun1
first 22157
pass 22157 Trainer
K S Mandanna K S Mandanna
22157 Jockey [] samerun1
first 22157
fail 22157 Jockey
P M Bopanna Nitin Singh
22222
22222 Class [] same
second 22222
flag false 22222
22365
22365 Class [] same
second 22365
flag false 22365
22368
22368 Class [] same
second 22368
flag false 22368
22394
22394 Class [] same
second 22394
flag false 22394
22396
22396 Class [] same
second 22396
22396 Age [] same
second 22396
22396 Venue ID [] samerun1
first 22396
pass 22396 Venue ID
1 1
22396 Distance [] any
22396 Trainer [] samerun1
first 22396
pass 22396 Trainer
RUTHERFORD ALFORD RUTHERFORD ALFORD
22396 Jockey [] samerun1
first 22396
pass 22396 Jockey
A ASHHAD ASBAR A ASHHAD ASBAR
appended 22396
22398
22398 Class [] same
second 22398
flag false 22398
22445
22445 Class [] same
second 22445
22445 Age [] same
second 22445
22445 Venue ID [] samerun1
first 22445
pass 22445 Venue ID
3 3
22445 Distance [] any
22445 Trainer [] samerun1
first 22445
pass 22445 Trainer
DARIUS BYRAMJI DARIUS BYRAMJI
22445 Jockey [] samerun1
first 22445
fail 22445 Jockey
SURAJ NARREDU P TREVOR
22458
22458 Class [] same
second 22458
flag false 22458
22493
22493 Class [] same
second 22493
flag false 22493
22527
22527 Class [] same
second 22527
flag false 22527
22556
22556 Class [] same
second 22556
flag false 22556
22591
22591 Class [] same
second 22591
flag false 22591
22685
22685 Class [] same
second 22685
22685 Age [] same
second 22685
22685 Venue ID [] samerun1
first 22685
pass 22685 Venue ID
3 3
22685 Distance [] any
22685 Trainer [] samerun1
first 22685
pass 22685 Trainer
S INAYATHULLA S INAYATHULLA
22685 Jockey [] samerun1
first 22685
pass 22685 Jockey
NEERAJ RAWAL NEERAJ RAWAL
appended 22685
22786
22786 Class [] same
second 22786
flag false 22786
22808
22808 Class [] same
second 22808
22808 Age [] same
second 22808
flag false 22808
22824
22824 Class [] same
second 22824
flag false 22824
22840
22840 Class [] same
second 22840
flag false 22840
22860
22860 Class [] same
second 22860
flag false 22860
22913
22913 Class [] same
second 22913
flag false 22913
22926
22926 Class [] same
second 22926
flag false 22926
23043
23043 Class [] same
second 23043
flag false 23043
23122
23122 Class [] same
second 23122
23122 Age [] same
second 23122
flag false 23122
23230
23230 Class [] same
second 23230
23230 Age [] same
second 23230
flag false 23230
23266
23266 Class [] same
second 23266
flag false 23266
23289
23289 Class [] same
second 23289
flag false 23289
23300
23300 Class [] same
second 23300
flag false 23300
23304
23304 Class [] same
second 23304
23304 Age [] same
second 23304
flag false 23304
23316
23316 Class [] same
second 23316
flag false 23316
23337
23337 Class [] same
second 23337
flag false 23337
23375
23375 Class [] same
second 23375
flag false 23375
23453
23453 Class [] same
second 23453
flag false 23453
23493
23493 Class [] same
second 23493
flag false 23493
23538
23538 Class [] same
second 23538
23538 Age [] same
second 23538
flag false 23538
23564
23564 Class [] same
second 23564
23564 Age [] same
second 23564
flag false 23564
23616
23616 Class [] same
second 23616
23616 Age [] same
second 23616
flag false 23616
23639
23639 Class [] same
second 23639
flag false 23639
23650
23650 Class [] same
second 23650
23650 Age [] same
second 23650
flag false 23650
23703
23703 Class [] same
second 23703
flag false 23703
23719
23719 Class [] same
second 23719
flag false 23719
23797
23797 Class [] same
second 23797
flag false 23797
23822
23822 Class [] same
second 23822
flag false 23822
23834
23834 Class [] same
second 23834
flag false 23834
23845
23845 Class [] same
second 23845
flag false 23845
23983
23983 Class [] same
second 23983
flag false 23983
23987
23987 Class [] same
second 23987
flag false 23987
24180
24180 Class [] same
second 24180
flag false 24180
24242
24242 Class [] same
second 24242
flag false 24242
24244
24244 Class [] same
second 24244
flag false 24244
24266
24266 Class [] same
second 24266
flag false 24266
24300
24300 Class [] same
second 24300
flag false 24300
24322
24322 Class [] same
second 24322
24322 Age [] same
second 24322
flag false 24322
24342
24342 Class [] same
second 24342
flag false 24342
24366
24366 Class [] same
second 24366
flag false 24366
24402
24402 Class [] same
second 24402
flag false 24402
24406
24406 Class [] same
second 24406
flag false 24406
24476
24476 Class [] same
second 24476
flag false 24476
24499
24499 Class [] same
second 24499
flag false 24499
24550
24550 Class [] same
second 24550
24550 Age [] same
second 24550
24550 Venue ID [] samerun1
first 24550
pass 24550 Venue ID
2 2
24550 Distance [] any
24550 Trainer [] samerun1
first 24550
pass 24550 Trainer
Imtiaz A Sait Imtiaz A Sait
24550 Jockey [] samerun1
first 24550
fail 24550 Jockey
P S Chouhan P Trevor
24597
24597 Class [] same
second 24597
flag false 24597
24620
24620 Class [] same
second 24620
flag false 24620
24624
24624 Class [] same
second 24624
24624 Age [] same
second 24624
flag false 24624
24691
24691 Class [] same
second 24691
flag false 24691
24746
24746 Class [] same
second 24746
24746 Age [] same
second 24746
flag false 24746
24804
24804 Class [] same
second 24804
flag false 24804
24844
24844 Class [] same
second 24844
24844 Age [] same
second 24844
flag false 24844
24889
24889 Class [] same
second 24889
24889 Age [] same
second 24889
flag false 24889
24902
24902 Class [] same
second 24902
flag false 24902
24944
24944 Class [] same
second 24944
flag false 24944
24977
24977 Class [] same
second 24977
24977 Age [] same
second 24977
flag false 24977
25002
25002 Class [] same
second 25002
25002 Age [] same
second 25002
flag false 25002
25071
25071 Class [] same
second 25071
25071 Age [] same
second 25071
flag false 25071
25097
25097 Class [] same
second 25097
25097 Age [] same
second 25097
25097 Venue ID [] samerun1
first 25097
pass 25097 Venue ID
4 4
25097 Distance [] any
25097 Trainer [] samerun1
first 25097
pass 25097 Trainer
Rakesh Rakesh
25097 Jockey [] samerun1
first 25097
pass 25097 Jockey
V R Jagadeesh V R Jagadeesh
appended 25097
25128
25128 Class [] same
second 25128
flag false 25128
25157
25157 Class [] same
second 25157
25157 Age [] same
second 25157
25157 Venue ID [] samerun1
first 25157
pass 25157 Venue ID
4 4
25157 Distance [] any
25157 Trainer [] samerun1
first 25157
pass 25157 Trainer
Saddam Iqbal Saddam Iqbal
25157 Jockey [] samerun1
first 25157
fail 25157 Jockey
A Ashhad Asbar Md Asif Khan
25159
25159 Class [] same
second 25159
flag false 25159
25187
25187 Class [] same
second 25187
flag false 25187
25191
25191 Class [] same
second 25191
25191 Age [] same
second 25191
flag false 25191
25205
25205 Class [] same
second 25205
25205 Age [] same
second 25205
25205 Venue ID [] samerun1
first 25205
pass 25205 Venue ID
4 4
25205 Distance [] any
25205 Trainer [] samerun1
first 25205
pass 25205 Trainer
J Sebastian J Sebastian
25205 Jockey [] samerun1
first 25205
fail 25205 Jockey
Y S Srinath Yash Narredu
25232
25232 Class [] same
second 25232
flag false 25232
25353
25353 Class [] same
second 25353
flag false 25353
25411
25411 Class [] same
second 25411
flag false 25411
25522
25522 Class [] same
second 25522
flag false 25522
30
0
30

In [43]:
TrackedRuns.loc[0:5]

,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,combined_data,RunNo.,first_age,Venue Name,LBWmod
1,STAR PRESENTATION,B356,2008-05-31,BS08,BLR,3,III,1600.0,35,3,Y S SRINATH,S GANAPATHY,58.0,2,A,1,0.0,355,0,0,0,0,"(1, 3)",0,3,BLR,0.0
2,STAR PRESENTATION,B1101,2008-06-29,BS08,BLR,3,II,1600.0,112,3,B PRAKASH,S GANAPATHY,55.0,3,A,1,0.0,1100,0,0,0,0,"(1, 3)",1,3,BLR,0.0
3,STAR PRESENTATION,B1405,2008-07-13,BS08,BLR,3,T-M 3y,2000.0,143,3,A IMRAN KHAN,S GANAPATHY,56.0,9,A,3,17.0,1404,0,0,0,0,"(3, 3)",2,0,BLR,17.0

In [44]:
Run2_dfnew

,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,combined_data,RunNo.,first_age,Venue Name,LBWmod
1273,SPRING A SURPRISE,B4954,2009-05-24,BS09,BLR,3,3y,1400.0,30,3,HARISH,S DOMINIC,56.0,11,A,5,8.25,4953,0,0,0,0,"(5, 3)",2,0,BLR,8.5
2487,SHE'S A LADY,B6981,2009-11-07,BW09,BLR,3,IV,1200.0,17,3,P S CHOUHAN,WARREN SINGH,52.5,3,A,3,1.00,6980,0,0,0,0,"(3, 3)",2,0,BLR,1.0
3582,SIRONO,B15623,2011-07-02,BS11,BLR,3,I,1200.0,123,4,P S CHOUHAN,B PRITHVIRAJ,61.0,6,A,6,9.00,15622,0,0,0,0,"(6, 4)",2,0,BLR,9.0
3835,MATIAS,B11527,2010-08-05,BS10,BLR,3,3y,1400.0,189,3,IMRAN CHISTY,R R BYRAMJI,54.5,8,A,7,7.75,11526,0,0,0,0,"(7, 3)",2,0,BLR,8.0
5861,JERALEINE,B16613,2011-08-12,BS11,BLR,3,T-M 3y,1200.0,222,3,SURAJ NARREDU,IRFAN GHATALA,54.5,8,A,1,0.00,16612,0,0,0,0,"(1, 3)",2,3,BLR,0.0
7216,DANDIFIED,K1079,2011-10-01,KM11,KOL,1,T-3y,2000.0,126,3,C ALFORD,VIJAY SINGH,56.0,6,A,1,0.00,122249,0,0,0,0,"(1, 3)",21,3,KOL,0.0
7217,DANDIFIED,K2015,2011-12-10,KW11,KOL,1,T-3y,1600.0,71,3,C ALFORD,VIJAY SINGH,57.0,6,A,1,0.00,123185,0,0,0,0,"(1, 3)",2,3,KOL,0.0
7420,SUMANGALA,K1284,2011-10-18,KM11,KOL,1,IV,1100.0,152,3,IMRAN KHAN,SHAFIQ KHAN,62.5,3,A,7,8.50,122454,0,0,0,0,"(7, 3)",2,0,KOL,8.5
8177,TWO IN ONE,K1744,2011-11-26,KW11,KOL,1,T-3y,1600.0,40,3,Y S SRINATH,JAVED KHAN,55.5,4,A,2,0.20,122914,0,0,0,0,"(2, 3)",21,0,KOL,0.5
9366,SNOWSCAPE,K3096,2012-02-18,KW11,KOL,1,T-3y,1600.0,186,3,C ALFORD,VIJAY SINGH,56.0,1,A,1,0.00,124266,0,0,0,0,"(1, 3)",20,3,KOL,0.0
9368,SNOWSCAPE,K4655,2012-09-08,KM12,KOL,1,T-3y,1400.0,95,3,C ALFORD,VIJAY SINGH,56.0,1,A,3,5.00,125825,0,0,0,0,"(3, 3)",2,0,KOL,5.0
9480,SUPREME,B21970,2012-08-09,BS12,BLR,3,M-3y,1400.0,214,3,P TREVOR,S S ATTAOLLAHI,54.5,1,A,0,100.00,21969,0,0,0,0,"(0, 3)",2,0,BLR,100.0
9546,SPEEDY GIRL,B19101,2012-03-10,BW11,BLR,3,T-M 3y,1200.0,254,3,P S CHOUHAN,S NARREDU,57.0,7,A,1,0.00,19100,0,0,0,0,"(1, 3)",21,3,BLR,0.0
9800,ATWATER,K3574,2012-03-17,KW11,KOL,1,T-3y,1100.0,237,3,C ALFORD,VIJAY SINGH,58.0,2,A,4,5.75,124744,0,0,0,0,"(4, 3)",2,0,KOL,6.0
9908,WILD CARD,K3442,2012-03-10,KW11,KOL,1,T-3y,1100.0,222,3,P KAMLESH,ARTI DOCTOR,55.0,10,A,1,0.00,124612,0,0,0,0,"(1, 3)",20,3,KOL,0.0
10706,JIMBO,M2320,2012-02-26,M11,MUM,2,TM-3y,1400.0,235,3,DANIEL M GRANT,M NARREDU,56.0,6,A,11,11.75,214448,0,0,0,0,"(11, 3)",2,0,MUM,12.0
11290,TASVEER,K6014,2012-12-18,KW12,KOL,1,IV,1600.0,79,3,B SRINIVAS RAO,JASBIR SINGH,61.5,5,S,3,13.25,127184,0,0,0,0,"(3, 3)",2,0,KOL,13.5
11822,LORD ARAGORN,K5918,2012-12-15,KW12,KOL,1,IV,1400.0,69,3,N S PARMAR,JASBIR SINGH,62.5,4,S,5,6.75,127088,0,0,0,0,"(5, 3)",2,0,KOL,7.0
13300,CAPTAIN COURAGEOUS,K7343,2013-03-02,KW12,KOL,1,T-3y,1400.0,212,3,B SREEKANTH,D M DAVID,58.0,7,A,2,3.00,128513,0,0,0,0,"(2, 3)",2,0,KOL,3.0
14583,OCEAN SUNRISE,K8994,2013-09-21,KM13,KOL,1,IV,1100.0,121,6,VINAY JAISWAL,VIKASH JAISWAL,60.5,3,S,3,0.50,130164,0,0,0,0,"(3, 6)",2,0,KOL,0.5
15528,ABARTH,K9987,2013-12-14,KW13,KOL,1,III,1400.0,76,4,AFZAL KHAN,VIKASH JAISWAL,56.5,3,S,2,4.25,131157,0,0,0,0,"(2, 4)",2,0,KOL,4.5
16142,ANECDOTE,B31073,2014-06-29,BS14,BLR,3,M-3y,1100.0,97,3,P TREVOR,J S DHARIWAL,54.5,4,A,1,0.00,31072,0,0,0,0,"(1, 3)",20,3,BLR,0.0
16626,AIR DANCER,B32148,2014-11-07,BW14,BLR,3,M-3y,1100.0,3,3,P TREVOR,S S ATTAOLLAHI,55.5,8,A,1,0.00,32147,0,0,0,0,"(1, 3)",20,3,BLR,0.0
18773,NIOBRARA,M14294,2015-04-19,M14,MUM,2,M-3y,1000.0,345,3,A SANDESH,NIRAD KARANJAWALA,55.0,7,A,1,0.00,226422,0,0,0,0,"(1, 3)",20,3,MUM,0.0
19002,MAGNIFICENCE,M14339,2015-04-25,M14,MUM,2,M-3y,1600.0,349,3,P TREVOR,S K SUNDERJI,55.0,5,A,1,0.00,226467,0,0,0,0,"(1, 3)",20,3,MUM,0.0
19639,IVY,K17146,2015-12-26,KW15,KOL,1,V,1100.0,98,3,ZARAR ALAM,R V GOWLI,60.5,5,S,5,4.00,138316,0,0,0,0,"(5, 3)",2,0,KOL,4.0
20997,TALLADEGA,B41649,2016-08-19,BS16,BLR,3,M-3y,1400.0,225,3,S JOHN,ARJUN MANGALORKAR,54.5,9,A,1,0.00,41648,0,0,0,0,"(1, 3)",2,3,BLR,0.0
22396,HARTNELL,K22969,2017-11-11,KW17,KOL,1,II,1600.0,13,3,A ASHHAD ASBAR,RUTHERFORD ALFORD,55.0,7,A,1,0.00,144139,0,0,0,0,"(1, 3)",20,3,KOL,0.0
22685,DESERT FALCON,B46475,2017-08-17,BS17,BLR,3,M-3y,1200.0,209,3,NEERAJ RAWAL,S INAYATHULLA,54.5,4,A,9,43.00,46474,0,0,0,0,"(9, 3)",2,0,BLR,43.0
25097,VACHAN,C8370,2020-02-23,C1920,CNY,4,T-3y,1200.0,5,3,V R Jagadeesh,Rakesh,56.0,2,A,2,1.00,161589,0,0,0,0,"(2, 3)",2,0,CHE,1.0

In [45]:
Run2_df.index

Int64Index([    3,    87,   197,   207,   217,   311,   452,   472,   483,
              485,
            ...
            25128, 25157, 25159, 25187, 25191, 25205, 25232, 25353, 25411,
            25522],
           dtype='int64', length=496)

In [46]:
runtwo_list

[2, 20, 21]

In [47]:
len(TrackedRuns.index[TrackedRuns['RunNo.'].isin(runtwo_list)].tolist())

496

In [48]:
run2new = []
originalRun2 = Run2_df.index
for i in Run1_df.index:
    if i + 1 in originalRun2:
        run2new.append(i + 1)
len(run2new)

496

In [49]:
# Run2_dfnew['Date'].dt.date
pd.to_datetime(Run2_dfnew['Date'])

1273    2009-05-24
2487    2009-11-07
3582    2011-07-02
3835    2010-08-05
5861    2011-08-12
7216    2011-10-01
7217    2011-12-10
7420    2011-10-18
8177    2011-11-26
9366    2012-02-18
9368    2012-09-08
9480    2012-08-09
9546    2012-03-10
9800    2012-03-17
9908    2012-03-10
10706   2012-02-26
11290   2012-12-18
11822   2012-12-15
13300   2013-03-02
14583   2013-09-21
15528   2013-12-14
16142   2014-06-29
16626   2014-11-07
18773   2015-04-19
19002   2015-04-25
19639   2015-12-26
20997   2016-08-19
22396   2017-11-11
22685   2017-08-17
25097   2020-02-23
Name: Date, dtype: datetime64[ns]

In [50]:
data['Race No'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  40,
        41,  42,  43,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,
        57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,
        70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,
        83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,
        96,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 108,
       109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121,
       122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134,
       135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147,
       148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160,
       161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173,
       174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186,
       187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199,
       200, 201, 202, 203, 204, 205, 206, 207, 208, 209,  39,  44,  45,
        46, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308,   0, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385], dtype=int64)

In [51]:
data.loc[data['Wt']=='5y']

C:\Users\Testing\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [C-Sr#, Date, Season, Centre, Venue ID, Class, Distance, Race No, Horse, Age, Jockey, Trainer, Wt, Dr, Sh, Result, LBW, Sr #, Rtg, Penalty, Time in S, Odds, combined_data, RunNo., first_age, Venue Name, LBWmod]
Index: []

In [52]:
df['Result'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,  0, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 25], dtype=int64)

In [53]:
a=list(data['Result'].unique())

In [54]:
a.remove(1)

In [55]:
a

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 0,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 25]

In [56]:
data['Centre'].unique()

array(['BLR', 'PUN', 'HYD', 'KOL', 'CNY', 'MYS', 'MUM'], dtype=object)

In [57]:
# d2 = pd.read_excel(r'C:\Users\Testing\Downloads\NEW METHOD 210822 (1).xlsx')
# d3 = pd.read_excel(r'C:\Users\Testing\Downloads\ALL METHODS - MASTER FILE (1).xlsb', engine='pyxlsb')

In [58]:
# d3 = pd.read_excel(r'C:\Users\Testing\Downloads\ALL METHODS - MASTER FILE (1).xlsb', engine='pyxlsb')
# d3['Date']= pd.to_datetime(d3['Date'], unit='D', origin='1899-12-30T00:00:00.000000000')
# d3.rename(columns = {'CENTER':'Centre', 'VENUE ID': 'Venue ID', 'R No #': 'Race No', 'RES': 'Result', 'CLASS': 'Class', 'DIST': 'Dist'}, inplace = True)
# d3.Age.replace([np.nan],[0],inplace=True)

In [59]:
# d3.columns

In [60]:
# d2.columns

In [61]:
# [x for x in d2.columns if x not in d3.columns]

In [74]:
ax = [type(1) for x in data['Class'].unique()]
ax

TypeError: 'str' object is not callable

In [63]:
# d3.loc[d3['Date'].isin(ax)]

In [64]:
# x = ['-']*len(ax)

In [76]:
type('a')

TypeError: 'str' object is not callable

In [66]:
data['Age'].unique()

array([3, 5, 4, 6, 7, 8, '0y', 2, '14y', 9, '10y', '11y', '12y', '1y'],
      dtype=object)

In [ ]:
# data['Class'].unique()

In [85]:
types = 'Centre'
datas = Run1_df
m = Run1_df.groupby([types], as_index=True).size().to_frame()
m.rename(columns={0:'Total_Races'}, inplace=True)
n = Run1_df.groupby([types,'Result' ], as_index=True).size().unstack(fill_value=0)

dis = pd.concat([m, n], axis=1)
dis.rename(columns={1:"W", 2:"SHP", 3:"THP", 'maxwinstreaks':'LWS', 'maxlosestreaks':'LLS'}, inplace=True)
dis["W%"]=((dis["W"]/dis['Total_Races'])*100).round(2)
dis["SHP%"]=((dis["SHP"]/dis['Total_Races'])*100).round(2)
dis["THP%"]=((dis["THP"]/dis['Total_Races'])*100).round(2)
dis["Plc%"]=(((dis["W"]+dis["SHP"]+dis["THP"])/dis['Total_Races'])*100).round(2)
dis["Plc"]=dis["W"]+dis["SHP"]+dis["THP"]
dis["BO"]=dis["Total_Races"]-dis["Plc"]
dis

,Total_Races,0,W,SHP,THP,4,5,6,7,8,9,10,11,12,13,14,15,16,W%,SHP%,THP%,Plc%,Plc,BO
Centre,,,,,,,,,,,,,,,,,,,,,,,,
BLR,214,6,42,35,42,20,12,13,16,8,5,7,2,1,0,1,2,2,19.63,16.36,19.63,55.61,119,95
CNY,46,2,9,8,8,2,5,3,6,1,1,1,0,0,0,0,0,0,19.57,17.39,17.39,54.35,25,21
HYD,3,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0.00,33.33,33.33,66.67,2,1
KOL,151,2,36,29,32,19,8,9,6,2,4,2,1,0,0,1,0,0,23.84,19.21,21.19,64.24,97,54
MUM,115,2,25,14,25,10,10,6,7,6,4,0,3,0,1,1,1,0,21.74,12.17,21.74,55.65,64,51
MYS,4,0,1,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,25.00,0.00,25.00,50.00,2,2
PUN,4,0,2,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,50.00,0.00,25.00,75.00,3,1

In [75]:
dis['Total_Races'].unique()

AttributeError: 'DataFrame' object has no attribute 'unique'