In [1]:
import numpy as np
import pandas as pd
import datetime
import re

In [2]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [3]:
# data = pd.concat(pd.read_excel(r'C:\Users\Testing\NEW METHOD FILE.xlsx', sheet_name=None), ignore_index=True)

data = pd.read_excel(r'C:\Users\Testing\Downloads\ALL METHODS - MASTER FILE (1).xlsb', engine='pyxlsb')
data['Date']= pd.to_datetime(data['Date'], unit='D', origin='1899-12-30T00:00:00.000000000')
data.rename(columns = {'CENTER':'Centre', 'VENUE ID': 'Venue ID', 'R No #': 'Race No', 'RES': 'Result', 'CLASS': 'Class', 'DIST': 'Dist'}, inplace = True)
data.Dist.replace([np.nan],[0],inplace=True)
data.Class.replace([np.nan],['-'],inplace=True)
data.Jockey.replace([np.nan],['-'],inplace=True)
data.Trainer.replace([np.nan],['-'],inplace=True)
data.LBW.replace(['W'],[100],inplace=True)
data['Horse Name'].replace([np.nan],['-'],inplace=True)
data['Sr #'] = [x+1 for x in data.index]
data['Rtg'] = [0]*len(data)
data['Penalty'] = [0]*len(data)
data['Time in S'] = [0]*len(data)
data['Time'] = [0]*len(data)
data['Odds'] = [0]*len(data)

data.rename(columns = {'Center':'Season', 'Horse Name': 'Horse', 'Dist': 'Distance', }, inplace = True)

data.Age.replace([np.nan, '3y', '5y', '4y', '6y', '7y', '8y', '9y', '2y', '0y', '14y', '10y', '11y', '12y', '1y'],[0, 3, 5, 4, 6, 7, 8, 9, 2, 0, 14, 10, 11, 12, 1],inplace=True)
data.Result.replace(['DNC', 'NC', 'DNF', 'DR', 'W'],[0,0,0,0,0], inplace=True)
data.Sh.replace(['s', 'a', np.nan], ['S', 'A', 'A'], inplace=True)

data['RunNo.']=[-1]*len(data)

data['Dr'].replace([np.nan], [0], inplace=True)
data['Dr'] = data.Dr.astype(int)

data.drop(columns=['Time'], inplace=True)
data['Month'] = data['Date'].dt.month
mylist = data.Class.unique()
r = re.compile("^IV|^V")
allowed_classes = list(filter(r.match, mylist))
allowed_months = [5,6,7,8,9]
data = data.loc[data['Month'].isin(allowed_months) & data['Class'].isin(allowed_classes)]

In [4]:
data.Class.unique()

array(['V', 'IV', 'IV 3y&o', 'IV 4y&o', 'IV 5y&o', 'V 4y&o', 'IV 3y',
       'V 3y&o', 'V 3y', 'V 5y&o', 'IV M4y&o', 'IV5y&o', 'IV4y&o',
       'IV M-3y', 'V M-3y&o', 'V M-3y', 'V 6y&o', 'IV 6y&o'], dtype=object)

In [5]:
df=data
df

,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Horse,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,RunNo.,Month
24,B25,2008-05-17,BS08,BLR,venueId=3,V,1200.0,3,SPREAD A SMILE,5,SURAJ NARREDU,V LOKANATH,56.5,11,S,1,0.00,25,0,0,0,0,-1,5
25,B26,2008-05-17,BS08,BLR,venueId=3,V,1200.0,3,KING OF GOOD TIMES,4,KHURSHAD ALAM,S BRITTO,55.5,3,S,2,3.50,26,0,0,0,0,-1,5
26,B27,2008-05-17,BS08,BLR,venueId=3,V,1200.0,3,PRINCESS EMILY,6,R KOCH,S NARREDU,60.5,1,S,3,4.00,27,0,0,0,0,-1,5
27,B28,2008-05-17,BS08,BLR,venueId=3,V,1200.0,3,WHISPER VALLEY,4,B SREEKANTH,V LOKANATH,61.5,2,A,4,4.75,28,0,0,0,0,-1,5
28,B29,2008-05-17,BS08,BLR,venueId=3,V,1200.0,3,EVENT HORIZON,4,A ASHOK KUMAR,G NITYANAND,58.5,10,S,5,6.75,29,0,0,0,0,-1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209343,My46011,2019-09-27,MyR19,MYS,venueId=8,V,1200.0,8,BIG TIME BAY,5,Arshad Alam,Vishal Yadav,56.0,7,S,4,5.25,209344,0,0,0,0,-1,9
209344,My46012,2019-09-27,MyR19,MYS,venueId=8,V,1200.0,8,COUNTRY'S FAME,4,R N Darshan,Prashanth Pawar,60.0,4,A,5,6.00,209345,0,0,0,0,-1,9
209345,My46013,2019-09-27,MyR19,MYS,venueId=8,V,1200.0,8,SWISS BAY,4,R Anand,J Sharavanan,57.5,2,A,6,9.00,209346,0,0,0,0,-1,9
209346,My46014,2019-09-27,MyR19,MYS,venueId=8,V,1200.0,8,VROOM VROOM,8,V R Jagadeesh,Vishal Yadav,55.0,1,S,7,12.00,209347,0,0,0,0,-1,9
209347,My46015,2019-09-27,MyR19,MYS,venueId=8,V,1200.0,8,ZAALIMA,5,R Manish,Dinesh Pujar,52.0,5,A,8,23.50,209348,0,0,0,0,-1,9

In [6]:
race_stats = df.groupby(["Date", "Season", "Race No", "Result"], as_index=True).size().unstack(
    fill_value=0)
race_stats.reset_index(inplace=True)
race_stats.index = np.arange(1, len(race_stats) + 1)
race_stats['min_horses']= race_stats[9]==1
race_stats = race_stats[['Date', 'Season', 'Race No', 'min_horses']]
race_stats

Result       Date Season  Race No  min_horses
1      2008-05-17   BS08        3        True
2      2008-05-17   BS08        4        True
3      2008-05-17   BS08        7        True
4      2008-05-18   BS08        9        True
5      2008-05-18   BS08       11        True
...           ...    ...      ...         ...
2027   2021-09-05   HM21       67        True
2028   2021-09-06   HM21       71        True
2029   2021-09-06   HM21       73        True
2030   2021-09-06   HM21       74        True
2031   2021-09-06   HM21       75        True

[2031 rows x 4 columns]

In [7]:
mylist = data.Class.unique()
r = re.compile("(.+?)4y&o$")
filtered_allowed_classes = list(filter(r.match, mylist))
qualified_horses = df.loc[(df['Class'].isin(filtered_allowed_classes)) & (df['LBW']>=4) & (df['Result'].isin([2,3,4])) & (df['Age']>=5)][['Horse', 'Date', 'Season', 'Race No', 'Sr #', 'Trainer', 'Rtg', 'Class', 'Distance','Age',
 'Wt', 'Jockey', 'Dr', 'Sh', 'Result', 'LBW', 'Penalty', 'Time in S', 'RunNo.']]
qualified_horses.index = np.arange(1, len(qualified_horses) + 1)
qualified_horses = qualified_horses.merge(race_stats,indicator = True, how='left')
qualified_horses = qualified_horses.loc[qualified_horses['min_horses']==True]
qualified_horses.index = np.arange(1, len(qualified_horses) + 1)
qualified_horses

,Horse,Date,Season,Race No,Sr #,Trainer,Rtg,Class,Distance,Age,Wt,Jockey,Dr,Sh,Result,LBW,Penalty,Time in S,RunNo.,min_horses,_merge
1,CLASSIC CROWN,2013-08-12,HM13,7,86589,SK KASSAM,0,IV 4y&o,1100.0,6,50.0,G SAI VAMSHI,9,S,4,7.75,0,0,-1,True,both
2,CASCADING GLORY,2013-09-24,HM13,20,87445,M V NARAYANA RAO,0,IV 4y&o,1600.0,6,57.0,ABHISHEK PAWAR,5,S,4,6.75,0,0,-1,True,both
3,BIG BOSS,2014-09-01,HM14,14,91711,L D SILVA,0,IV 4y&o,1400.0,5,62.0,S SREEKANT,4,S,4,4.25,0,0,-1,True,both
4,MOGHUL EMPEROR,2014-09-01,HM14,14,91740,LAXMAN SINGH,0,V 4y&o,1600.0,5,62.0,S S TANWAR,8,A,4,5.00,0,0,-1,True,both
5,SPANISH CONQUEST,2014-09-14,HM14,17,91892,L V R DESHMUKH,0,IV 4y&o,2200.0,6,56.0,M MARK,3,S,4,8.25,0,0,-1,True,both
6,GOLDEN FLASH,2015-08-09,HM15,7,95843,K S V PRASAD RAJU,0,IV 4y&o,2000.0,5,54.5,N RAWAL,8,S,2,5.50,0,0,-1,True,both
7,CLOUD DANCER,2015-08-09,HM15,7,95845,S S F HASSAN,0,IV 4y&o,2000.0,5,62.5,MD SAMEERUDDIN,11,A,4,11.75,0,0,-1,True,both
8,FENWAY COURT,2015-08-10,HM15,8,95918,L D SILVA,0,IV 4y&o,1100.0,5,54.5,A K PAWAR,4,A,4,7.50,0,0,-1,True,both
9,GOLDIE,2015-08-10,HM15,8,95936,L D SILVA,0,IV 4y&o,1200.0,5,55.0,R VAIBHAV,10,A,3,4.25,0,0,-1,True,both
10,ARUDRA,2015-08-10,HM15,8,95937,ANUPAM SHARMA,0,IV 4y&o,1200.0,6,51.0,P AJEETH KUMAR,11,S,4,4.25,0,0,-1,True,both
11,EXCLUSIVE LADY,2015-08-16,HM15,10,96031,S S F HASSAN,0,IV 4y&o,1400.0,6,61.0,ABHISHEK PAWAR,9,A,4,4.25,0,0,-1,True,both
12,GOLDIE,2015-08-31,HM15,14,96373,L D SILVA,0,IV 4y&o,1200.0,5,55.5,R VAIBHAV,7,A,3,6.25,0,0,-1,True,both
13,CLASSIC EMERALD,2015-08-31,HM15,14,96374,L D SILVA,0,IV 4y&o,1200.0,6,55.5,ARSHAD ALAM,3,A,4,6.25,0,0,-1,True,both
14,SPIRITED,2015-09-07,HM15,16,96485,S A SHEHZAD ABBAS,0,IV 4y&o,1200.0,5,56.5,DEEPAK SINGH,7,A,4,4.75,0,0,-1,True,both
15,GOLDIE,2015-09-13,HM15,17,96555,L D SILVA,0,IV 4y&o,1100.0,5,55.5,R VAIBHAV,3,A,3,4.75,0,0,-1,True,both
16,PAKAT PAKAT PAKAT,2015-09-13,HM15,17,96556,T SRINAGESH,0,IV 4y&o,1100.0,6,61.5,P S CHOUHAN,9,A,4,6.00,0,0,-1,True,both
17,TIME FOR SMILE,2015-09-30,HM15,21,96835,LAXMAN SINGH,0,IV 4y&o,1400.0,5,54.5,KULDEEP SINGH,4,A,4,6.00,0,0,-1,True,both
18,TRUSTFUL,2016-07-22,HM16,2,100327,K Satheesh,0,IV 4y&o,1100.0,6,57.0,B Dileep,9,A,3,4.25,0,0,-1,True,both
19,AZAZIL,2016-07-22,HM16,2,100328,R H Sequeira,0,IV 4y&o,1100.0,5,58.5,A M Tograllu,8,A,4,5.25,0,0,-1,True,both
20,CRUISER,2016-07-29,HM16,3,100381,Sk Waseem Ahmed,0,IV 4y&o,1100.0,5,52.0,Praveen Gaddam,3,S,4,4.25,0,0,-1,True,both
21,UPON A STAR,2016-07-29,HM16,3,100398,Ananta Vatsalya,0,IV 4y&o,1600.0,5,54.5,G Naresh,5,A,3,8.25,0,0,-1,True,both
22,KIREETI,2016-07-29,HM16,3,100399,R H Sequeira,0,IV 4y&o,1600.0,5,62.5,Praveen Gaddam,2,A,4,15.25,0,0,-1,True,both
23,PROUD IMAGE,2016-09-11,HM16,15,101224,Ananta Vatsalya,0,IV 4y&o,1100.0,6,59.0,G Naresh,4,A,4,4.00,0,0,-1,True,both
24,GARIB PARWAR,2016-09-18,HM16,17,101296,Arjun Anne,0,IV 4y&o,1100.0,5,57.0,Mukesh Kumar,5,A,4,5.00,0,0,-1,True,both
25,GLOBETROTTER,2016-09-18,HM16,17,101313,L D Silva,0,IV 4y&o,1400.0,6,53.5,C P Bopanna,2,A,3,5.50,0,0,-1,True,both
26,PROUD IMAGE,2016-09-18,HM16,17,101314,Ananta Vatsalya,0,IV 4y&o,1400.0,6,58.0,Aneel,8,A,4,7.75,0,0,-1,True,both
27,LIMOUSINE,2019-08-26,HM19,11,114999,Ananta Vatsalya,0,V 4y&o,1400.0,5,59.0,P Ajeeth Kumar,10,A,4,7.25,0,0,-1,True,both
28,Sun Dancer,2021-08-09,HM21,29,120661,L D'silva,0,V 4y&o,1400.0,5,58.5,N B Kuldeep,7,A,3,9.50,0,0,-1,True,both
29,Hopscotch,2021-08-09,HM21,29,120662,Robin Reddy Kondakalla,0,V 4y&o,1400.0,6,52.0,B R Kumar,10,A,4,13.90,0,0,-1,True,both
30,KAYADHU,2012-08-11,KM12,44,125396,JASBIR SINGH,0,V 4y&o,1000.0,5,56.0,MOHIT SINGH,11,S,4,4.00,0,0,-1,True,both
31,SWISS KING,2012-08-28,KM12,71,125622,VIKASH JAISWAL,0,IV 4y&o,1100.0,7,56.0,ZARAR ALAM,3,S,3,5.75,0,0,-1,True,both
32,EBONY PRINCESS,2012-08-28,KM12,71,125623,R V GOWLI,0,IV 4y&o,1100.0,6,54.0,M F ALI KHAN,2,S,4,8.00,0,0,-1,True,both
33,ROXY,2012-09-26,KM12,130,126112,JAVED KHAN,0,IV 4y&o,1400.0,7,56.5,MD ISLAM,3,S,3,4.00,0,0,-1,True,both
34,RULE THE FASHION,2009-08-13,MyR09,1,167937,RAVI SHANKAR S,0,IV 4y&o,1200.0,9,59.0,SHOBHAN BABU,9,S,4,4.00,0,0,-1,True,both
35,ICEPICK WILLIE,2015-08-27,MyR15,3,193485,S NARREDU,0,V 4y&o,1200.0,6,58.5,G Y RAJESH BABU,7,A,4,5.75,0,0,-1,True,both
36,NAPOLEAN DYNAMITE,2015-09-25,MyR15,11,194259,S M JOHNSON,0,V 4y&o,1200.0,6,59.5,S R SANTOSH KUMAR,5,S,2,4.50,0,0,-1,True,both
37,SUPREME STRENGTH,2015-09-25,MyR15,11,194261,VIKRAM APPACHU,0,V 4y&o,1200.0,8,55.0,NITIN SINGH,1,A,4,4.50,0,0,-1,True,both

In [8]:
qualifying_races = qualified_horses[["Date", "Season", "Race No"]]
qualifying_races.drop_duplicates(inplace=True ,ignore_index=True)
qualifying_races

<ipython-input-8-8e6f304ad4fa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualifying_races.drop_duplicates(inplace=True ,ignore_index=True)

         Date Season  Race No
0  2013-08-12   HM13        7
1  2013-09-24   HM13       20
2  2014-09-01   HM14       14
3  2014-09-14   HM14       17
4  2015-08-09   HM15        7
5  2015-08-10   HM15        8
6  2015-08-16   HM15       10
7  2015-08-31   HM15       14
8  2015-09-07   HM15       16
9  2015-09-13   HM15       17
10 2015-09-30   HM15       21
11 2016-07-22   HM16        2
12 2016-07-29   HM16        3
13 2016-09-11   HM16       15
14 2016-09-18   HM16       17
15 2019-08-26   HM19       11
16 2021-08-09   HM21       29
17 2012-08-11   KM12       44
18 2012-08-28   KM12       71
19 2012-09-26   KM12      130
20 2009-08-13  MyR09        1
21 2015-08-27  MyR15        3
22 2015-09-25  MyR15       11

In [9]:
qualifying_races_detailed = pd.merge(qualifying_races, df, on=["Date", "Season", "Race No"])
qualifying_races_detailed.set_index(["Date", "Season", "Race No"], inplace=True)
qualifying_races_detailed.head(50)

                            C-Sr# Centre    Venue ID    Class  Distance  \
Date       Season Race No
2013-08-12 HM13   7         H5496    HYD  venueId=11  IV 3y&o    1400.0
                  7         H5497    HYD  venueId=11  IV 3y&o    1400.0
                  7         H5498    HYD  venueId=11  IV 3y&o    1400.0
                  7         H5499    HYD  venueId=11  IV 3y&o    1400.0
                  7         H5500    HYD  venueId=11  IV 3y&o    1400.0
                  7         H5501    HYD  venueId=11  IV 3y&o    1400.0
                  7         H5502    HYD  venueId=11  IV 3y&o    1400.0
                  7         H5503    HYD  venueId=11  IV 4y&o    1800.0
                  7         H5504    HYD  venueId=11  IV 4y&o    1800.0
                  7         H5505    HYD  venueId=11  IV 4y&o    1800.0
                  7         H5506    HYD  venueId=11  IV 4y&o    1800.0
                  7         H5507    HYD  venueId=11  IV 4y&o    1800.0
                  7         H5508    HYD  venueId=11  IV 4y&o    1800.0
                  7         H5509    HYD  venueId=11  IV 4y&o    1800.0
                  7         H5510    HYD  venueId=11  IV 4y&o    1800.0
                  7         H5511    HYD  venueId=11  IV 4y&o    1800.0
                  7         H5512    HYD  venueId=11  IV 4y&o    1100.0
                  7         H5513    HYD  venueId=11  IV 4y&o    1100.0
                  7         H5514    HYD  venueId=11  IV 4y&o    1100.0
                  7         H5515    HYD  venueId=11  IV 4y&o    1100.0
                  7         H5516    HYD  venueId=11  IV 4y&o    1100.0
                  7         H5517    HYD  venueId=11  IV 4y&o    1100.0
                  7         H5518    HYD  venueId=11  IV 4y&o    1100.0
                  7         H5519    HYD  venueId=11  IV 4y&o    1100.0
                  7         H5520    HYD  venueId=11  IV 4y&o    1100.0
                  7         H5521    HYD  venueId=11  IV 4y&o    1100.0
                  7         H5522    HYD  venueId=11  IV 4y&o    1100.0
                  7         H5523    HYD  venueId=11  IV 4y&o    1100.0
2013-09-24 HM13   20        H6368    HYD  venueId=11  IV 4y&o    1600.0
                  20        H6369    HYD  venueId=11  IV 4y&o    1600.0
                  20        H6370    HYD  venueId=11  IV 4y&o    1600.0
                  20        H6371    HYD  venueId=11  IV 4y&o    1600.0
                  20        H6372    HYD  venueId=11  IV 4y&o    1600.0
                  20        H6377    HYD  venueId=11  IV 3y&o    1400.0
                  20        H6378    HYD  venueId=11  IV 3y&o    1400.0
                  20        H6379    HYD  venueId=11  IV 3y&o    1400.0
                  20        H6380    HYD  venueId=11  IV 3y&o    1400.0
                  20        H6381    HYD  venueId=11  IV 3y&o    1400.0
                  20        H6408    HYD  venueId=11  IV 4y&o    1200.0
                  20        H6409    HYD  venueId=11  IV 4y&o    1200.0
                  20        H6410    HYD  venueId=11  IV 4y&o    1200.0
                  20        H6411    HYD  venueId=11  IV 4y&o    1200.0
                  20        H6412    HYD  venueId=11  IV 4y&o    1200.0
                  20        H6413    HYD  venueId=11  IV 4y&o    1200.0
                  20        H6414    HYD  venueId=11  IV 4y&o    1200.0
                  20        H6415    HYD  venueId=11  IV 4y&o    1200.0
                  20        H6416    HYD  venueId=11  IV 4y&o    1200.0
                  20        H6417    HYD  venueId=11  IV 4y&o    1200.0
2014-09-01 HM14   14       H10611    HYD  venueId=11  IV 4y&o    1100.0
                  14       H10612    HYD  venueId=11  IV 4y&o    1100.0

                                        Horse  Age            Jockey  \
Date       Season Race No
2013-08-12 HM13   7                   GALIAT     3      A IMRAN KHAN
                  7         KOHINOOR THUNDER     3           N RAWAL
                  7             CLASSIC WISH     4       P SAI KUMAR
                  7        SYMBOL OF VICTORY     3      G SAI VAMSHI
                  7              POWER DRIVE     3      P UDAY KIRAN
                  7           TIME FOR SMILE     3    HARINDER SINGH
                  7               DAKSHAYANI     4             N D S
                  7            THE CHALLENGE     5           J VIKAS
                  7            NOVAYA ZEMLYA     5       P S CHOUHAN
                  7          SHEIKHS EMPEROR     5           N RAWAL
                  7         SHADES OF VICTORY    5       NITIN SINGH
                  7           MOGHUL EMPEROR     4    HARINDER SINGH
                  7             STAR STRIKER     5            K ANIL
                  7            MAID FOR LOVE     5       P SAI KUMAR
                  7              AMBER FLAME     4     S SHIVA KUMAR
                  7          SYMBOL OF BEAUTY    4             N D S
                  7          SABREEN PRINCESS    4        CH K CHARY
                  7            CAMACHO SPEED     4            M MARK
                  7           KOMO KOMO KOMO     4     S SHIVA KUMAR
                  7            CLASSIC CROWN     6      G SAI VAMSHI
                  7                      ZIV     5       NITIN SINGH
                  7          CASCADING GLORY     6          B DILEEP
                  7                 CALADIUM     6  N RAVINDER SINGH
                  7                ARRIVISTE     4       P S CHOUHAN
                  7                   ARUDRA     4           J VIKAS
                  7                  MUKHTAR     5      M F ALI KHAN
                  7                 RAJKUMAR     4      P UDAY KIRAN
                  7           GUIDING SPIRIT     5            K ANIL
2013-09-24 HM13   20          EXCLUSIVE LADY     4      AKSHAY KUMAR
                  20           TRIPPLE EIGHT     6    HARINDER SINGH
                  20             ALL THE FUN     5          B DILEEP
                  20         CASCADING GLORY     6    ABHISHEK PAWAR
                  20             ANANGALEKHA     4       NITIN SINGH
                  20             RAY OF HOPE     3       P S CHOUHAN
                  20              GREEK STAR     3    HARINDER SINGH
                  20          KOHINOOR PUNCH     3        AJIT KUMAR
                  20           COLORFUL TRIP     3            K ANIL
                  20              CANNON ONE     3           N RAWAL
                  20                 AAROHAN     6       P SAI KUMAR
                  20       PAKAT PAKAT PAKAT     4          B DILEEP
                  20                BERNABEU     4      DEEPAK SINGH
                  20           LADY OF GRACE     4          N RAJESH
                  20          GUIDING SPIRIT     5            K ANIL
                  20               ARRIVISTE     4          P VENKAT
                  20           CLASSIC CROWN     6       NITIN SINGH
                  20               LONA DONA     4    HARINDER SINGH
                  20                  ASKIOZ     6  N RAVINDER SINGH
                  20               ENRAPTURE     5        AJIT KUMAR
2014-09-01 HM14   14        FLAMES OF FOREST     4      A M TOGRALLU
                  14              STAMINOIZD     4    P AJEETH KUMAR

                                     Trainer    Wt  Dr Sh  Result    LBW  \
Date       Season Race No
2013-08-12 HM13   7                  D NETTO  60.0   2  A       1   0.00
                  7          ANANTA VATSALYA  60.0   5  A       2   2.00
                  7        K S V PRASAD RAJU  52.0   6  S       3   5.75
                  7            ANUPAM SHARMA  59.0   3  A       4   5.75
                  7                  D NETTO  59.0   1  S       5   6.75
                  7             LAXMAN SINGH  50.5   4  A       6  13.75
                  7            ANUPAM SHARMA  57.0   0  A       0  13.75
                  7             S S F HASSAN  60.5   6  A       1   0.00
                  7         M V NARAYANA RAO  52.0   8  S       2   0.50
                  7          ANANTA VATSALYA  59.5   4  A       3   1.50
                  7            ANUPAM SHARMA  62.5   7  A       4   1.50
                  7             LAXMAN SINGH  51.0   2  S       5   2.50
                  7               K SATHEESH  61.0   1  S       6   9.00
                  7              J SILVESTER  53.5   5  S       7  11.75
                  7          M SATYANARAYANA  52.5   3  S       8  16.50
                  7            ANUPAM SHARMA  57.5   0  A       0  16.50
                  7             ZOHEB SHAIKH  51.5  10  A       1   0.00
                  7             S S F HASSAN  60.0  12  A       2   5.50
                  7             R H SEQUEIRA  56.5   8  A       3   6.00
                  7                SK KASSAM  50.0   9  S       4   7.75
                  7              T SRINAGESH  57.5   6  S       5   8.25
                  7         M V NARAYANA RAO  61.0   3  S       6   8.75
                  7            ANUPAM SHARMA  52.5   5  S       7  10.50
                  7           L V R DESHMUKH  53.0   1  A       8  11.00
                  7              J SILVESTER  60.5  11  S       9  11.00
                  7            ANUPAM SHARMA  53.5   4  A      10  13.75
                  7                  D NETTO  62.5   7  A      11  20.00
                  7                SK KASSAM  51.5   2  S       0  20.00
2013-09-24 HM13   20            S S F HASSAN  51.0   4  S       1   0.00
                  20              S K KASSAM  52.5   3  S       2   3.00
                  20              K SATHEESH  61.0   2  A       3   3.00
                  20        M V NARAYANA RAO  57.0   5  S       4   6.75
                  20           ANUPAM SHARMA  50.0   1  S       5  33.00
                  20            LAXMAN SINGH  50.0   5  A       1   0.00
                  20        M V NARAYANA RAO  60.5   3  S       2   1.50
                  20         ANANTA VATSALYA  61.5   4  A       3   1.50
                  20              K SATHEESH  52.0   2  S       4   5.75
                  20       K S V PRASAD RAJU  50.0   1  S       5  23.50
                  20       K S V PRASAD RAJU  62.5   7  A       1   0.00
                  20             T SRINAGESH  53.5   8  A       2   0.25
                  20           ANUPAM SHARMA  53.0   1  A       3   1.25
                  20              SHAMSUDDIN  52.0   5  S       4   2.50
                  20               SK KASSAM  52.5   6  S       5   3.75
                  20          L V R DESHMUKH  53.5   3  S       6   7.50
                  20               SK KASSAM  50.0  11  S       7   8.00
                  20        M V NARAYANA RAO  60.0   4  S       8   8.75
                  20        M V NARAYANA RAO  62.5   2  S       9   8.75
                  20       S A SHEHZAD ABBAS  50.0  10  A      10  10.00
2014-09-01 HM14   14            LAXMAN SINGH  59.0   1  A       1   0.00
                  14            K V SRINIVAS  52.5   4  S       2   1.25

                            Sr #  Rtg  Penalty  Time in S  Odds  RunNo.  Month
Date       Season Race No
2013-08-12 HM13   7        86570    0        0          0     0      -1      8
                  7        86571    0        0          0     0      -1      8
                  7        86572    0        0          0     0      -1      8
                  7        86573    0        0          0     0      -1      8
                  7        86574    0        0          0     0      -1      8
                  7        86575    0        0          0     0      -1      8
                  7        86576    0        0          0     0      -1      8
                  7        86577    0        0          0     0      -1      8
                  7        86578    0        0          0     0      -1      8
                  7        86579    0        0          0     0      -1      8
                  7        86580    0        0          0     0      -1      8
                  7        86581    0        0          0     0      -1      8
                  7        86582    0        0          0     0      -1      8
                  7        86583    0        0          0     0      -1      8
                  7        86584    0        0          0     0      -1      8
                  7        86585    0        0          0     0      -1      8
                  7        86586    0        0          0     0      -1      8
                  7        86587    0        0          0     0      -1      8
                  7        86588    0        0          0     0      -1      8
                  7        86589    0        0          0     0      -1      8
                  7        86590    0        0          0     0      -1      8
                  7        86591    0        0          0     0      -1      8
                  7        86592    0        0          0     0      -1      8
                  7        86593    0        0          0     0      -1      8
                  7        86594    0        0          0     0      -1      8
                  7        86595    0        0          0     0      -1      8
                  7        86596    0        0          0     0      -1      8
                  7        86597    0        0          0     0      -1      8
2013-09-24 HM13   20       87442    0        0          0     0      -1      9
                  20       87443    0        0          0     0      -1      9
                  20       87444    0        0          0     0      -1      9
                  20       87445    0        0          0     0      -1      9
                  20       87446    0        0          0     0      -1      9
                  20       87451    0        0          0     0      -1      9
                  20       87452    0        0          0     0      -1      9
                  20       87453    0        0          0     0      -1      9
                  20       87454    0        0          0     0      -1      9
                  20       87455    0        0          0     0      -1      9
                  20       87482    0        0          0     0      -1      9
                  20       87483    0        0          0     0      -1      9
                  20       87484    0        0          0     0      -1      9
                  20       87485    0        0          0     0      -1      9
                  20       87486    0        0          0     0      -1      9
                  20       87487    0        0          0     0      -1      9
                  20       87488    0        0          0     0      -1      9
                  20       87489    0        0          0     0      -1      9
                  20       87490    0        0          0     0      -1      9
                  20       87491    0        0          0     0      -1      9
2014-09-01 HM14   14       91685    0        0          0     0      -1      9
                  14       91686    0        0          0     0      -1      9

In [10]:
for i in qualified_horses['Sr #']:
    df.loc[i-1,'RunNo.'] = 0

In [11]:
races_Q_horses = pd.merge(qualified_horses[['Horse']], df, on=["Horse"])
races_Q_horses['split_class'] = races_Q_horses['Class'].str.split()
races_Q_horses.loc[100:115]

,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,RunNo.,Month,split_class
100,ARUDRA,H14523,2015-07-23,HM15,HYD,venueId=11,IV 4y&o,1000.0,3,6,P AJEETH KUMAR,ANUPAM SHARMA,51.0,6,S,3,3.75,95596,0,0,0,0,-1,7,"[IV, 4y&o]"
101,ARUDRA,H14864,2015-08-10,HM15,HYD,venueId=11,IV 4y&o,1200.0,8,6,P AJEETH KUMAR,ANUPAM SHARMA,51.0,11,S,4,4.25,95937,0,0,0,0,0,8,"[IV, 4y&o]"
102,ARUDRA,H15480,2015-09-13,HM15,HYD,venueId=11,IV 4y&o,1100.0,17,6,P AJEETH KUMAR,ANUPAM SHARMA,50.0,1,A,1,0.00,96553,0,0,0,0,-1,9,"[IV, 4y&o]"
103,ARUDRA,H15499,2015-09-14,HM15,HYD,venueId=11,IV 4y&o,1000.0,18,6,P AJEETH KUMAR,ANUPAM SHARMA,50.5,2,A,1,0.00,96572,0,0,0,0,-1,9,"[IV, 4y&o]"
104,EXCLUSIVE LADY,H5202,2013-07-29,HM13,HYD,venueId=11,IV 3y&o,1100.0,3,4,AKSHAY,S S F HASSAN,51.5,9,S,3,2.00,86276,0,0,0,0,-1,7,"[IV, 3y&o]"
105,EXCLUSIVE LADY,H5598,2013-08-15,HM13,HYD,venueId=11,IV 3y&o,1100.0,8,4,A K PAWAR,S S F HASSAN,52.0,3,S,7,10.75,86672,0,0,0,0,-1,8,"[IV, 3y&o]"
106,EXCLUSIVE LADY,H5969,2013-09-02,HM13,HYD,venueId=11,IV 3y&o,1400.0,14,4,AKSHAY KUMAR,S S F HASSAN,52.0,5,S,6,19.25,87043,0,0,0,0,-1,9,"[IV, 3y&o]"
107,EXCLUSIVE LADY,H6368,2013-09-24,HM13,HYD,venueId=11,IV 4y&o,1600.0,20,4,AKSHAY KUMAR,S S F HASSAN,51.0,4,S,1,0.00,87442,0,0,0,0,-1,9,"[IV, 4y&o]"
108,EXCLUSIVE LADY,H10910,2014-09-15,HM14,HYD,venueId=11,IV 5y&o,1400.0,18,5,AKSHAY KUMAR,S S F HASSAN,62.0,2,A,5,3.75,91984,0,0,0,0,-1,9,"[IV, 5y&o]"
109,EXCLUSIVE LADY,H11068,2014-09-28,HM14,HYD,venueId=11,IV 5y&o,1400.0,21,5,K SAI KIRAN,S S F HASSAN,62.5,1,A,1,0.00,92142,0,0,0,0,-1,9,"[IV, 5y&o]"
110,EXCLUSIVE LADY,H14958,2015-08-16,HM15,HYD,venueId=11,IV 4y&o,1400.0,10,6,ABHISHEK PAWAR,S S F HASSAN,61.0,9,A,4,4.25,96031,0,0,0,0,0,8,"[IV, 4y&o]"
111,EXCLUSIVE LADY,H15584,2015-09-20,HM15,HYD,venueId=11,IV 4y&o,1400.0,19,6,AKSHAY KUMAR,S S F HASSAN,61.5,7,A,7,2.25,96657,0,0,0,0,-1,9,"[IV, 4y&o]"
112,EXCLUSIVE LADY,H15760,2015-09-30,HM15,HYD,venueId=11,IV 4y&o,1400.0,21,6,DEEPAK SINGH,S S F HASSAN,62.5,3,A,2,0.10,96833,0,0,0,0,-1,9,"[IV, 4y&o]"
113,CLASSIC EMERALD,H498,2012-08-15,HM12,HYD,venueId=11,IV 3y&o,1100.0,6,3,P S CHOUHAN,L D SILVA,51.5,4,A,1,0.00,81573,0,0,0,0,-1,8,"[IV, 3y&o]"
114,CLASSIC EMERALD,H970,2012-09-03,HM12,HYD,venueId=11,IV 3y&o,1400.0,12,3,A SANDESH,L D SILVA,55.5,6,A,6,15.25,82045,0,0,0,0,-1,9,"[IV, 3y&o]"
115,CLASSIC EMERALD,H5214,2013-07-29,HM13,HYD,venueId=11,IV 4y&o,1000.0,3,4,KULDEEP SINGH,L D SILVA,56.5,3,A,6,14.75,86288,0,0,0,0,-1,7,"[IV, 4y&o]"

In [12]:
races_Q_horses['split_class'] = races_Q_horses['Class'].str.split()
races_Q_horses.loc[1,'split_class'][0]

'IV'

In [13]:
zerothindex = races_Q_horses.index[races_Q_horses['RunNo.'] == 0].tolist()
removed_horses = []
print(zerothindex)
for i in zerothindex:
    if (i+1 in races_Q_horses.index):
#         if (races_Q_horses.loc[i+1, 'Horse'] == races_Q_horses.loc[i, 'Horse'] and races_Q_horses.loc[i+1,'split_class'][0]==races_Q_horses.loc[i,'split_class'][0] and (races_Q_horses.loc[i+1, 'Class'].endswith('5y&o'))):
#             races_Q_horses.loc[i+1, 'RunNo.'] = 1
#         elif (races_Q_horses.loc[i+1, 'Horse'] == races_Q_horses.loc[i, 'Horse'] and races_Q_horses.loc[i+1, 'RunNo.']!=0 and (races_Q_horses.loc[i+1,'split_class'][0]!=races_Q_horses.loc[i,'split_class'][0] or not (races_Q_horses.loc[i+1, 'Class'].endswith('5y&o')))):
# #             removed_horses.append(races_Q_horses.loc[i, 'Horse'])
# #             races_Q_horses = races_Q_horses.loc[races_Q_horses['Horse'] != races_Q_horses.loc[i, 'Horse']]
#             races_Q_horses = races_Q_horses.drop([i, i+1])
#         elif (races_Q_horses.loc[i+1, 'Horse'] == races_Q_horses.loc[i, 'Horse'] and races_Q_horses.loc[i+1, 'RunNo.']==0 and (races_Q_horses.loc[i+1,'split_class'][0]!=races_Q_horses.loc[i,'split_class'][0] or not (races_Q_horses.loc[i+1, 'Class'].endswith('5y&o')))):
#             races_Q_horses = races_Q_horses.drop([i])
        if (races_Q_horses.loc[i+1, 'Horse'] == races_Q_horses.loc[i, 'Horse']):
            races_Q_horses.loc[i+1, 'RunNo.'] = 1

[3, 11, 16, 24, 33, 40, 44, 51, 64, 65, 66, 76, 77, 78, 88, 89, 90, 101, 110, 124, 134, 142, 153, 154, 157, 162, 164, 167, 169, 170, 172, 173, 174, 176, 180, 185, 186, 192, 202, 214, 225, 232, 240, 259, 295]

In [14]:
TrackedRuns = races_Q_horses.loc[races_Q_horses['RunNo.']>=0]
# TrackedRuns.set_index(['Horse', 'Sr #'], inplace = True)
TrackedRuns.head(50)

,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,RunNo.,Month,split_class
3,CLASSIC CROWN,H5515,2013-08-12,HM13,HYD,venueId=11,IV 4y&o,1100.0,7,6,G SAI VAMSHI,SK KASSAM,50.0,9,S,4,7.75,86589,0,0,0,0,0,8,"[IV, 4y&o]"
4,CLASSIC CROWN,H5693,2013-08-19,HM13,HYD,venueId=11,V 4y&o,1400.0,10,6,CH K CHARY,SK KASSAM,62.0,4,S,6,9.75,86767,0,0,0,0,1,8,"[V, 4y&o]"
11,CASCADING GLORY,H6371,2013-09-24,HM13,HYD,venueId=11,IV 4y&o,1600.0,20,6,ABHISHEK PAWAR,M V NARAYANA RAO,57.0,5,S,4,6.75,87445,0,0,0,0,0,9,"[IV, 4y&o]"
16,BIG BOSS,H10637,2014-09-01,HM14,HYD,venueId=11,IV 4y&o,1400.0,14,5,S SREEKANT,L D SILVA,62.0,4,S,4,4.25,91711,0,0,0,0,0,9,"[IV, 4y&o]"
17,BIG BOSS,H10783,2014-09-09,HM14,HYD,venueId=11,IV 5y&o,1000.0,16,5,AKSHAY KUMAR,L D SILVA,62.5,8,A,1,0.00,91857,0,0,0,0,1,9,"[IV, 5y&o]"
24,MOGHUL EMPEROR,H10666,2014-09-01,HM14,HYD,venueId=11,V 4y&o,1600.0,14,5,S S TANWAR,LAXMAN SINGH,62.0,8,A,4,5.00,91740,0,0,0,0,0,9,"[V, 4y&o]"
33,SPANISH CONQUEST,H10818,2014-09-14,HM14,HYD,venueId=11,IV 4y&o,2200.0,17,6,M MARK,L V R DESHMUKH,56.0,3,S,4,8.25,91892,0,0,0,0,0,9,"[IV, 4y&o]"
40,GOLDEN FLASH,H14770,2015-08-09,HM15,HYD,venueId=11,IV 4y&o,2000.0,7,5,N RAWAL,K S V PRASAD RAJU,54.5,8,S,2,5.50,95843,0,0,0,0,0,8,"[IV, 4y&o]"
41,GOLDEN FLASH,H15532,2015-09-14,HM15,HYD,venueId=11,IV 4y&o,2200.0,18,5,N RAWAL,K S V PRASAD RAJU,58.5,5,A,4,0.50,96605,0,0,0,0,1,9,"[IV, 4y&o]"
44,CLOUD DANCER,H14772,2015-08-09,HM15,HYD,venueId=11,IV 4y&o,2000.0,7,5,MD SAMEERUDDIN,S S F HASSAN,62.5,11,A,4,11.75,95845,0,0,0,0,0,8,"[IV, 4y&o]"
51,FENWAY COURT,H14845,2015-08-10,HM15,HYD,venueId=11,IV 4y&o,1100.0,8,5,A K PAWAR,L D SILVA,54.5,4,A,4,7.50,95918,0,0,0,0,0,8,"[IV, 4y&o]"
52,FENWAY COURT,H14956,2015-08-16,HM15,HYD,venueId=11,IV 4y&o,1400.0,10,5,A K PAWAR,L D SILVA,52.0,6,A,2,1.25,96029,0,0,0,0,1,8,"[IV, 4y&o]"
64,GOLDIE,H14863,2015-08-10,HM15,HYD,venueId=11,IV 4y&o,1200.0,8,5,R VAIBHAV,L D SILVA,55.0,10,A,3,4.25,95936,0,0,0,0,0,8,"[IV, 4y&o]"
65,GOLDIE,H15300,2015-08-31,HM15,HYD,venueId=11,IV 4y&o,1200.0,14,5,R VAIBHAV,L D SILVA,55.5,7,A,3,6.25,96373,0,0,0,0,1,8,"[IV, 4y&o]"
66,GOLDIE,H15482,2015-09-13,HM15,HYD,venueId=11,IV 4y&o,1100.0,17,5,R VAIBHAV,L D SILVA,55.5,3,A,3,4.75,96555,0,0,0,0,1,9,"[IV, 4y&o]"
67,GOLDIE,H6159,2013-09-09,HM13,HYD,venueId=11,IV 3y&o,1000.0,16,3,KULDEEP SINGH,L D SILVA,59.0,7,A,2,0.10,87233,0,0,0,0,1,9,"[IV, 3y&o]"
76,GOLDIE,H14863,2015-08-10,HM15,HYD,venueId=11,IV 4y&o,1200.0,8,5,R VAIBHAV,L D SILVA,55.0,10,A,3,4.25,95936,0,0,0,0,0,8,"[IV, 4y&o]"
77,GOLDIE,H15300,2015-08-31,HM15,HYD,venueId=11,IV 4y&o,1200.0,14,5,R VAIBHAV,L D SILVA,55.5,7,A,3,6.25,96373,0,0,0,0,1,8,"[IV, 4y&o]"
78,GOLDIE,H15482,2015-09-13,HM15,HYD,venueId=11,IV 4y&o,1100.0,17,5,R VAIBHAV,L D SILVA,55.5,3,A,3,4.75,96555,0,0,0,0,1,9,"[IV, 4y&o]"
79,GOLDIE,H6159,2013-09-09,HM13,HYD,venueId=11,IV 3y&o,1000.0,16,3,KULDEEP SINGH,L D SILVA,59.0,7,A,2,0.10,87233,0,0,0,0,1,9,"[IV, 3y&o]"
88,GOLDIE,H14863,2015-08-10,HM15,HYD,venueId=11,IV 4y&o,1200.0,8,5,R VAIBHAV,L D SILVA,55.0,10,A,3,4.25,95936,0,0,0,0,0,8,"[IV, 4y&o]"
89,GOLDIE,H15300,2015-08-31,HM15,HYD,venueId=11,IV 4y&o,1200.0,14,5,R VAIBHAV,L D SILVA,55.5,7,A,3,6.25,96373,0,0,0,0,1,8,"[IV, 4y&o]"
90,GOLDIE,H15482,2015-09-13,HM15,HYD,venueId=11,IV 4y&o,1100.0,17,5,R VAIBHAV,L D SILVA,55.5,3,A,3,4.75,96555,0,0,0,0,1,9,"[IV, 4y&o]"
101,ARUDRA,H14864,2015-08-10,HM15,HYD,venueId=11,IV 4y&o,1200.0,8,6,P AJEETH KUMAR,ANUPAM SHARMA,51.0,11,S,4,4.25,95937,0,0,0,0,0,8,"[IV, 4y&o]"
102,ARUDRA,H15480,2015-09-13,HM15,HYD,venueId=11,IV 4y&o,1100.0,17,6,P AJEETH KUMAR,ANUPAM SHARMA,50.0,1,A,1,0.00,96553,0,0,0,0,1,9,"[IV, 4y&o]"
110,EXCLUSIVE LADY,H14958,2015-08-16,HM15,HYD,venueId=11,IV 4y&o,1400.0,10,6,ABHISHEK PAWAR,S S F HASSAN,61.0,9,A,4,4.25,96031,0,0,0,0,0,8,"[IV, 4y&o]"
111,EXCLUSIVE LADY,H15584,2015-09-20,HM15,HYD,venueId=11,IV 4y&o,1400.0,19,6,AKSHAY KUMAR,S S F HASSAN,61.5,7,A,7,2.25,96657,0,0,0,0,1,9,"[IV, 4y&o]"
124,CLASSIC EMERALD,H15301,2015-08-31,HM15,HYD,venueId=11,IV 4y&o,1200.0,14,6,ARSHAD ALAM,L D SILVA,55.5,3,A,4,6.25,96374,0,0,0,0,0,8,"[IV, 4y&o]"
125,CLASSIC EMERALD,H15579,2015-09-20,HM15,HYD,venueId=11,IV 4y&o,1400.0,19,6,KIRAN NAIDU,L D SILVA,55.0,9,A,2,0.10,96652,0,0,0,0,1,9,"[IV, 4y&o]"
134,SPIRITED,H15412,2015-09-07,HM15,HYD,venueId=11,IV 4y&o,1200.0,16,5,DEEPAK SINGH,S A SHEHZAD ABBAS,56.5,7,A,4,4.75,96485,0,0,0,0,0,9,"[IV, 4y&o]"
135,SPIRITED,H15582,2015-09-20,HM15,HYD,venueId=11,IV 4y&o,1400.0,19,5,DEEPAK SINGH,S A SHEHZAD ABBAS,56.5,3,A,5,2.00,96655,0,0,0,0,1,9,"[IV, 4y&o]"
142,PAKAT PAKAT PAKAT,H15483,2015-09-13,HM15,HYD,venueId=11,IV 4y&o,1100.0,17,6,P S CHOUHAN,T SRINAGESH,61.5,9,A,4,6.00,96556,0,0,0,0,0,9,"[IV, 4y&o]"
153,TIME FOR SMILE,H15762,2015-09-30,HM15,HYD,venueId=11,IV 4y&o,1400.0,21,5,KULDEEP SINGH,LAXMAN SINGH,54.5,4,A,4,6.00,96835,0,0,0,0,0,9,"[IV, 4y&o]"
154,TRUSTFUL,H19254,2016-07-22,HM16,HYD,venueId=11,IV 4y&o,1100.0,2,6,B Dileep,K Satheesh,57.0,9,A,3,4.25,100327,0,0,0,0,0,7,"[IV, 4y&o]"
157,AZAZIL,H19255,2016-07-22,HM16,HYD,venueId=11,IV 4y&o,1100.0,2,5,A M Tograllu,R H Sequeira,58.5,8,A,4,5.25,100328,0,0,0,0,0,7,"[IV, 4y&o]"
158,AZAZIL,H20176,2016-09-12,HM16,HYD,venueId=11,IV 4y&o,1600.0,16,5,P S Chouhan,R H Sequeira,57.5,4,A,4,5.75,101249,0,0,0,0,1,9,"[IV, 4y&o]"
162,CRUISER,H19308,2016-07-29,HM16,HYD,venueId=11,IV 4y&o,1100.0,3,5,Praveen Gaddam,Sk Waseem Ahmed,52.0,3,S,4,4.25,100381,0,0,0,0,0,7,"[IV, 4y&o]"
164,UPON A STAR,H19325,2016-07-29,HM16,HYD,venueId=11,IV 4y&o,1600.0,3,5,G Naresh,Ananta Vatsalya,54.5,5,A,3,8.25,100398,0,0,0,0,0,7,"[IV, 4y&o]"
165,UPON A STAR,H20177,2016-09-12,HM16,HYD,venueId=11,IV 4y&o,1600.0,16,5,Aneel,Ananta Vatsalya,58.5,1,A,5,6.00,101250,0,0,0,0,1,9,"[IV, 4y&o]"
167,KIREETI,H19326,2016-07-29,HM16,HYD,venueId=11,IV 4y&o,1600.0,3,5,Praveen Gaddam,R H Sequeira,62.5,2,A,4,15.25,100399,0,0,0,0,0,7,"[IV, 4y&o]"
169,PROUD IMAGE,H20151,2016-09-11,HM16,HYD,venueId=11,IV 4y&o,1100.0,15,6,G Naresh,Ananta Vatsalya,59.0,4,A,4,4.00,101224,0,0,0,0,0,9,"[IV, 4y&o]"
170,PROUD IMAGE,H20241,2016-09-18,HM16,HYD,venueId=11,IV 4y&o,1400.0,17,6,Aneel,Ananta Vatsalya,58.0,8,A,4,7.75,101314,0,0,0,0,1,9,"[IV, 4y&o]"
171,PROUD IMAGE,H19257,2016-07-22,HM16,HYD,venueId=11,IV 4y&o,1100.0,2,6,Aneel,Ananta Vatsalya,58.5,7,A,6,9.00,100330,0,0,0,0,1,7,"[IV, 4y&o]"
172,PROUD IMAGE,H20151,2016-09-11,HM16,HYD,venueId=11,IV 4y&o,1100.0,15,6,G Naresh,Ananta Vatsalya,59.0,4,A,4,4.00,101224,0,0,0,0,0,9,"[IV, 4y&o]"
173,PROUD IMAGE,H20241,2016-09-18,HM16,HYD,venueId=11,IV 4y&o,1400.0,17,6,Aneel,Ananta Vatsalya,58.0,8,A,4,7.75,101314,0,0,0,0,1,9,"[IV, 4y&o]"
174,GARIB PARWAR,H20223,2016-09-18,HM16,HYD,venueId=11,IV 4y&o,1100.0,17,5,Mukesh Kumar,Arjun Anne,57.0,5,A,4,5.00,101296,0,0,0,0,0,9,"[IV, 4y&o]"
176,GLOBETROTTER,H20240,2016-09-18,HM16,HYD,venueId=11,IV 4y&o,1400.0,17,6,C P Bopanna,L D Silva,53.5,2,A,3,5.50,101313,0,0,0,0,0,9,"[IV, 4y&o]"
180,LIMOUSINE,H33927,2019-08-26,HM19,HYD,venueId=11,V 4y&o,1400.0,11,5,P Ajeeth Kumar,Ananta Vatsalya,59.0,10,A,4,7.25,114999,0,0,0,0,0,8,"[V, 4y&o]"
181,LIMOUSINE,H34078,2019-09-02,HM19,HYD,venueId=11,V 5y&o,1100.0,13,5,Afroz Khan,Ananta Vatsalya,59.0,9,A,1,0.00,115150,0,0,0,0,1,9,"[V, 5y&o]"
185,Sun Dancer,H39589,2021-08-09,HM21,HYD,venueId=11,V 4y&o,1400.0,29,5,N B Kuldeep,L D'silva,58.5,7,A,3,9.50,120661,0,0,0,0,0,8,"[V, 4y&o]"

In [15]:
to_drop = []
for i in TrackedRuns.loc[TrackedRuns['RunNo.']==1].index:
#     print(i)
    if (TrackedRuns.loc[i,'split_class'][0]!=TrackedRuns.loc[i-1,'split_class'][0] or not (TrackedRuns.loc[i, 'Class'].endswith('5y&o'))):
        to_drop.append(i)
print(to_drop)
TrackedRuns.drop(to_drop, inplace=True)

[4, 41, 52, 65, 66, 67, 77, 78, 79, 89, 90, 102, 111, 125, 135, 158, 165, 170, 171, 173, 193, 203, 215, 233, 241, 260]

C:\Users\Testing\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [16]:
qualified_horse_summary = TrackedRuns.loc[TrackedRuns['RunNo.']==1].reset_index()
qualified_horse_summary = qualified_horse_summary[['Horse', 'Distance', 'Jockey', 'Dr', 'Result']]
qualified_horse_summary.index = np.arange(1, len(qualified_horse_summary) + 1)
qualified_horse_summary

        Horse  Distance        Jockey  Dr  Result
1   BIG BOSS     1000.0  AKSHAY KUMAR   8       1
2  LIMOUSINE     1100.0    Afroz Khan   9       1