In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [6]:
# data = pd.concat(pd.read_excel(r'C:\Users\Testing\NEW METHOD FILE.xlsx', sheet_name=None), ignore_index=True)
data = pd.read_excel(r'C:\Users\Testing\Downloads\NEW METHOD 210805.xlsx')

data.rename(columns = {'Center':'Season', 'Horse Name': 'Horse', 'Dist': 'Distance', }, inplace = True)

data.Age.replace([np.nan, '3y', '5y', '4y', '6y', '7y', '8y', '9y', '2y'],[0, 3, 5, 4, 6, 7, 8, 9, 2],inplace=True)
data.Result.replace(['DNC', 'NC', 'DNF', 'DR'],[0,0,0,0], inplace=True)

data['combined_data'] = list(zip(data.Age, data.Result))
data['LBW2'] = ((data['Result']==2).replace([False, True], [0, 1]))*data['LBW']

data['RunNo.']=[-1]*len(data)

data['Dr'].replace([np.nan], [0], inplace=True)
data['Dr'] = data.Dr.astype(int)
data['Date'] = data['Date'].dt.date

data.drop(columns=['Time'], inplace=True)
###########################
new = data['Venue ID'].str.split("=", n = 1, expand = True)
data['Venue ID'] = new[1]
data['Venue ID'] = data['Venue ID'].astype(int)
data['Venue Name'] = data['Venue ID'].replace([1,2,3,4,7,8,9,10,11], ['KOL', 'MUM', 'BLR', 'CHE', 'DEL', 'MYS', 'OOT', 'PUN', 'HYD'])
allowed_jockeys = ['Suraj Narredu', 'Trevor Patel','A Sandesh', 'Akshay Kumar']
# data = data.loc[data['Jockey'].isin(['Suraj Narredu', 'Trevor Patel','A Sandesh', 'Akshay Kumar'])]

In [8]:
data.Class.unique()

array(['T-M3y', 'IV 4y&o', 'II up', 'T-3y', 'III', 'IV', 'I up',
       'IV inf 5y&o', 'V 4y&o', 'IV inf', 'T-4y&o', 'III 5y&o',
       'IV inf 4y&o', 'V', 'III 3y&o', 'II 3y&o', 'I up 3y&o', 'IV 3y&o',
       'IV 5y&o', 'T-3y&o', 'III 4y&o', 'IV M3y', 'I', 'II', 'IV 3y',
       'II up 3y&o', 'V 5y&o', 'II 4y&o', 'IV 4y', 'II up 4y&o',
       'IV M3y&o', 'T-4y', 'V 3y&o', 'V M3y&o', 'T-M2y', 'V M3y',
       'II 5y&o', 'T-2y', 'IV 6y&o', 'IV M4y', 'I up 4y&o'], dtype=object)

In [ ]:
['T-M3y', 'IV 4y&o', 'II up', 'T-3y', 'III', 'IV', 'I up',
       'IV inf 5y&o', 'V 4y&o', 'IV inf', 'T-4y&o', 'III 5y&o',
       'IV inf 4y&o', 'V', 'III 3y&o', 'II 3y&o', 'I up 3y&o', 'IV 3y&o',
       'IV 5y&o', 'T-3y&o', 'III 4y&o', 'IV M3y', 'I', 'II', 'IV 3y',
       'II up 3y&o', 'V 5y&o', 'II 4y&o', 'IV 4y', 'II up 4y&o',
       'IV M3y&o', 'T-4y', 'V 3y&o', 'V M3y&o', 'T-M2y', 'V M3y',
       'II 5y&o', 'T-2y', 'IV 6y&o', 'IV M4y', 'I up 4y&o']